<div class="modal-header">
    <button ng-click="cancel();" class="close" aria-hidden="true"></button>
    <h3 class="modal-title">{{'attach.remote.gdb.instance' | translate}}</h3>
</div>
<div class="modal-body">
    <form id="addLocationForm" novalidate name="form">
        <div class="form-group row">
            <label for="sesameLocation" class="col-md-4 col-form-label">{{'remote.location.url' | translate}}</label>
            <div class="col-md-8">
                <input id="sesameLocation" ng-model="newLocation.uri" required name="sesameLocation" class="form-control"
                       placeholder="http://my-hostname:7200" ng-blur="isValidLocation()"/>

                <span class="form-text text-muted">{{'remote.location.enter.url.msg' | translate}}</span>
            </div>
        </div>
        <div ng-show="!isValidLocation()" class="alert alert-warning">
            {{'valid.remote.location.warning' | translate}} http://server.example.com:7200/.
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">{{'auth.type.header' | translate}}</label>
            <div class="col-md-8">
                <label class="col-form-label" gdb-tooltip="{{'remote.location.no.auth.used.tooltip' | translate}}">
                    <input type="radio" name="authType" ng-model="newLocation.authType" value="none"/>
                    {{'auth.type.none' | translate}}
                </label>
                &nbsp;
                <label class="col-form-label" gdb-tooltip="{{'basic.auth.type.tooltip' | translate}}. {{'basic.auth.type.admin.constraint.tooltip' | translate}}">
                    <input type="radio" name="authType" ng-model="newLocation.authType" value="basic"/>
                    {{'auth.type.basic' | translate}}
                </label>
                &nbsp;
                <label class="col-form-label" gdb-tooltip="{{'signature.auth.type.tooltip' | translate}}">
                    <input type="radio" name="authType" ng-model="newLocation.authType" value="signature"/>
                    {{'auth.type.signature' | translate}}
                </label>
            </div>
        </div>
        <div class="form-group row" ng-if="newLocation.authType === 'none'">
            <div class="col-md-12">{{'remote.location.no.auth.used.header' | translate}}</div>
        </div>
        <div  ng-if="newLocation.authType === 'basic'">
            <div class="form-group row">
                <div class="col-md-12">{{'basic.auth.type.constraint' | translate}}</div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-md-4 col-form-label">{{'username.required' | translate}}</label>
                <div class="col-md-8">
                    <input id="username" ng-model="newLocation.username" name="locationUsername" placeholder="{{'my.user.placeholder' | translate}}"
                           class="form-control" ng-required="newLocation.authType === 'basic'"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label">{{'password.required' | translate}}</label>
                <div class="col-md-8">
                    <input id="password" ng-model="newLocation.password" name="locationPassword" placeholder="{{'my.password.placeholder' | translate}}"
                           type="password" class="form-control" ng-required="newLocation.authType === 'basic'"/>
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="newLocation.authType === 'signature'">
            <div class="col-md-12">
            {{'signature.auth.info' | translate}}<a href="{{docBase}}/access-control.html#gdb-authentication"
                                                    rel="noopener" target="_blank">Access Control / GDB authentication</a>{{'signature.auth.info.last' | translate}}
        </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="cancel();" class="btn btn-secondary" data-dismiss="modal">{{'common.cancel.btn' | translate}}</button>
    <button type="submit" ng-click="ok();" class="btn btn-primary add-location-btn" form="addLocationForm"
            ng-disabled="form.$invalid"><span class="icon-plus"></span> {{'common.attach' | translate}}
    </button>
</div>
