<!-- Start editFedXLocalRepository.html -->
<div class="modal-header">
    <button ng-click="cancel();" class="close" aria-hidden="true" data-dismiss="dialog">
    </button>
    <h3 class="modal-title">Edit local repository</h3>
</div>
<form id="addFedXRepositoryForm" novalidate name="form">
    <div class="modal-body">
        <div id="respect">
            <input type="radio" name="access_rights" ng-model="access_rights" id="respect_access" value="respect_access" style="display:inline">
            <label for="respect_access" style="font-size: 1.3em; display:inline"> Respect repository's access rights</label>
            <p class="indented-div">Users without rights to this repository will see a federated view that doesn't include result from the repository</p>
        </div>
        <div id="ignore">
            <input type="radio" name="access_rights" ng-model="access_rights" id="ignore_access" value="ignore_access">
            <label style="font-size: 1.3em" for="ignore_access">Ignore repository's access rights</label>
            <p class="indented-div"> Users will see a federated view that includes results from the repository regardless of their rights to access the repository </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="ok();" class="btn btn-primary"
                ng-disabled="form.$invalid"> Save
        </button>
        <button type="button" ng-click="cancel();" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</form>
<!-- End editFedXLocalRepository.html -->
