<link href="css/import-resource-tree.css?v=[AIV]{version}[/AIV]" rel="stylesheet">

<div class="import-resource-tree" ng-if="importResources && !importResources.isEmpty()">
    <table class="import-resource-table">
        <thead>
        <tr>
            <th class="import-resource-selected-checkbox"></th>
            <th class="import-resource-name">{{'import_resource_tree.header.name' | translate}}</th>
            <th class="import-resource-size">{{'import_resource_tree.header.size' | translate}}</th>
            <th class="import-resource-modified">{{'import_resource_tree.header.modified' | translate}}</th>
            <th class="import-resource-imported">{{'import_resource_tree.header.imported' | translate}}</th>
            <th colspan="2" class="import-resource-context">{{'import_resource_tree.header.context' | translate}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="resource in resources" ng-class="{ 'even-row-start': $even}">
                <td><input type="checkbox" ng-model="resource.selected"></td>
                <td colspan="6">{{resource.name}}</td>
            </tr>
            <tr ng-repeat-end ng-class="{ 'even-row-end': $even}">
                <td></td>
                <td>{{ resource.importResource.message || 'dasfdasf'}}</td>
                <td>{{ resource.importResource.size }}</td>
                <td>{{ resource.importResource.timestamp }}</td>
                <td>{{ resource.importResource.timestamp }}</td>
                <td>{{ resource.importResource.context }}</td>
                <td>Actions</td>
            </tr>
        </tbody>
    </table>
</div>
