.autocomplete-select-wrapper {
    position: relative;
}

.autocomplete-select-wrapper .autocomplete-results-wrapper {
    position: absolute;
    top: 100%;
    max-height: 204px;
    margin-bottom: 0;
    overflow: auto;
    background-color: var(--gw-autocomplete-background);
    color: var(--gw-autocomplete-color);
    border: 1px solid var(--gw-autocomplete-border-color);
    box-shadow: var(--gw-autocomplete-shadow-offset-x) var(--gw-autocomplete-shadow-offset-y) var(--gw-autocomplete-shadow-blur) var(--gw-autocomplete-shadow-spread) var(--gw-autocomplete-shadow-color);
    right: auto;
    left: auto;
}

.autocomplete-select-wrapper .autocomplete-results-wrapper div.active {
    color: var(--gw-autocomplete-option-focus-color);
    background-color: var(--gw-autocomplete-option-focus-background);
    cursor: pointer;
}

.autocomplete-select-wrapper .autocomplete-results-wrapper div.selected {
    background-color: var(--autocomplete-background-selected);
    cursor: pointer;
}

.autocomplete-select-wrapper .autocomplete-results-wrapper div p b,
.autocomplete-select-wrapper .autocomplete-results-wrapper div.active p b {
    color: var(--gw-autocomplete-dropdown-match-color);
}

.autocomplete-select-wrapper .autocomplete-results-wrapper div p {
    margin-bottom: 0;
    padding: 5px 25px;
    white-space: nowrap;
}

.templates .tag {
    cursor: pointer;
    font-size: 100%;
}

.autocomplete-loader {
    position: relative;
    z-index: 100000;
}

.autocomplete-loader .ot-loader-new-content {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: calc(100vh - 120px);
    padding-top: calc((100vh - 300px) / 2);
    background-color: rgba(255,255,255,0.66);
}

.autocomplete-textarea {
    overflow: hidden;
}
