.cluster-view {
    position: relative;
}

.cluster-view svg {
    background-color: var(--gw-panel-background);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cluster-view path.link {
    stroke-width: 5px;
}

.cluster-zone {
    stroke: var(--gw-panel-color);
    fill: transparent;
}

.cluster-zone.no-cluster {
    stroke: var(--gw-panel-color);
    fill: transparent;
    transition: fill 0.2s, stroke 0.2s;
}

.cluster-zone.no-cluster.has-access {
    cursor: pointer;
}

.cluster-zone.no-cluster:hover {
    stroke-width: 3 !important;
    fill: var(--gw-hover-background) !important;
    height: 120%;
    width: 120%;
}

#no-cluster-zone #no-cluster-label,
#no-cluster-zone #create-cluster-label {
    fill: var(--gw-panel-color);
}

.settings-icon {
    font-size: 110px !important;
}

.settings-icon.small {
    font-size: 56px !important;
}

.toggle-legend-icon {
    font-size: 40px !important;
}

.node {
    cursor: pointer;
    fill: var(--gw-neutral-base);
}

.node.leader {
    fill: var(--gw-primary-base);
    stroke: var(--gw-primary-base);
}

.node.follower {
    fill: var(--gw-secondary-base);
    stroke: var(--gw-secondary-base);
}

.node.candidate {
    fill: var(--gw-tertiary-base);
    stroke: var(--gw-tertiary-base);
}

.node.other {
    fill: var(--gw-neutral-base);
    stroke: var(--gw-neutral-base);
}

#node-group.legend .node {
    cursor: default;
    stroke-width: 0.5;
}

#node-group.legend .node-icon {
    font-size: 25px;
}

.legend .id-host {
    font-size: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    color: black;
}

.cluster-legend-group .legend-background {
    fill: var(--gw-button-secondary-background);
}

.cluster-legend-group .legend-title {
    fill: var(--gw-button-secondary-color);
}

.cluster-legend-group .links-statuses,
.cluster-legend-group .sync-status {
    fill: var(--gw-button-secondary-color);
}


.legend-group .label-wrapper {
    overflow: visible;
}

.toggle-legend-btn {
    position: absolute;
    bottom: 0;
}

.legend-group.hidden {
    visibility: hidden;
}

/* Using display: none on svg makes its parent to have no width and height under firefox and safari. */
.hidden-legend {
    visibility: hidden;
}

.hidden {
    display: none;
}

text.node-icon {
    fill: rgba(255, 255, 255, 0.5);
    font-size: 40px;
}

.id-host {
    fill: var(--gw-tag-default-color);
}

.id-host-background, .node-info-background {
    fill: var(--gw-tag-default-background);
}

text.node-icon {
    text-anchor: middle;
    dominant-baseline: central;
}

text {
    font-family: var(--main-font) !important;
    font-size: 12px;
    pointer-events: none;
}

text.id-host, .node-info-fo {
    text-anchor: middle;
    font-weight: 400;
}

text.sync-status {
    font-size: 0.95rem;
}

text.links-statuses {
    font-size: 0.7rem;
}

.node-info-fo {
    cursor: pointer;
}

.text-btn {
    color: #000000;
    background: none;
    border: none;
    margin: 0;
    padding-top: .1rem;
    cursor: pointer;
}

.text-btn:focus, .text-btn {
    outline: none !important;
    box-shadow: none
}

.no-margin-list ul {
    margin-bottom: 0;
}

div.nodetooltip {
    z-index: 1000;
    position: absolute;
    padding: 10px;
    padding-left: 30px;
    font-size: 90%;
    text-align: left;
    color: var(--gw-dialog-color);
    background-color: var(--gw-dialog-background);
    border-color: var(--gw-dialog-border-color);
    box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);
    width: 40%;
    max-width: 400px;
}

.main-menu.collapsed ~ div .legend-container {
    left: 90px;
}

.cluster-loader {
    position: relative;
    z-index: 100000;
}

.cluster-loader .ot-loader-new-content {
    z-index: 100000;
    width: 100%;
    height: calc(100vh - 120px);
    padding-top: calc((100vh - 300px) / 2);
    background-color: transparent;
}

.create-cluster-loader {
    position: absolute;
    margin: auto;
    display: flex;
    z-index: 100000;
    background-color: transparent;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cluster-configuration-panel {
    z-index: 1016 !important;
}

.locations-list {
    border: 1px solid;
    min-height: 8rem;
    max-height: 18rem;
    overflow: auto;
}

.locations-list .location-item {
    justify-content: space-between;
}

.location-item {
    padding: 2px;
    -webkit-user-select: none;
    user-select: none;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.location-item .text-only:hover {
    text-decoration: 1px underline dashed var(--gw-success-base);
    text-underline-offset: 4px;
}

.location-item:hover .custom-link-icon {
    opacity: 1;
}

.location-item.hoverable:not(.list-group-item-danger):hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.location-item.hoverable.list-group-item-danger:hover {
    cursor: not-allowed;
}

.list-group-item-node {
    cursor: pointer;
    padding: 0;
}

.list-group-item-node a {
    padding: 0.75rem 1.25rem;
}

.logo-image {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0NyA2Ny4yIiBzdHlsZT0iIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRjA0RTIzO30KPC9zdHlsZT4KPHRpdGxlPmdyYXBoZGItbG9nby1uby10ZXh0PC90aXRsZT4KCTxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTM5LjMsMjcuOGM0LjMsMC45LDcsNSw2LjEsOS4zYy0wLjksNC4zLTUsNy05LjMsNi4xYy00LjItMC45LTctNS02LjItOS4yYzAuOC00LjIsNC45LTcsOS4xLTYuMgoJCUMzOS4yLDI3LjcsMzkuMiwyNy43LDM5LjMsMjcuOCIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTIzLDQwLjNjMi41LDAuNiw0LjEsMywzLjcsNS41Yy0wLjUsMi41LTMsNC4xLTUuNSwzLjZjLTIuNS0wLjUtNC4xLTIuOS0zLjctNS41QzE4LjEsNDEuNCwyMC41LDM5LjgsMjMsNDAuMwoJCSIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTI5LjQsMThjMS43LDAuNCwyLjgsMiwyLjUsMy43Yy0wLjQsMS43LTIsMi44LTMuNywyLjVjLTEuNy0wLjQtMi44LTItMi41LTMuN2MwLDAsMCwwLDAsMAoJCUMyNiwxOC44LDI3LjcsMTcuNywyOS40LDE4QzI5LjQsMTgsMjkuNCwxOCwyOS40LDE4Ii8+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjMuOSwxLjZjMy4yLDIuNSwzLjgsNywxLjMsMTAuM3MtNywzLjgtMTAuMywxLjNjLTMuMi0yLjUtMy44LTctMS4zLTEwLjJDMTYtMC4yLDIwLjYtMC44LDIzLjksMS42CgkJQzIzLjgsMS42LDIzLjgsMS42LDIzLjksMS42Ii8+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIuMyw0OS40YzIuNywyLjgsMi42LDcuMi0wLjIsOS44Yy0yLjgsMi43LTcuMiwyLjYtOS44LTAuMmMtMi43LTIuOC0yLjYtNy4yLDAuMi05LjhjMCwwLDAsMCwwLDAKCQlDNS4zLDQ2LjUsOS42LDQ2LjYsMTIuMyw0OS40Ii8+CjwvZz4KPC9zdmc+Cg==) no-repeat left center;
    height: 25px;
    width: 25px;
}

.action-buttons {
    flex-grow: 1;
}

.advanced-options-toggle {
    margin-right: 6px;
}

.toggle-legend-btn .btn {
    text-decoration: none;
}

.autocomplete-container {
    position: relative;
}

.autocomplete-dropdown {
    background-color: var(--gw-autocomplete-background);
    border: 1px solid var(--gw-autocomplete-border-color);
    box-shadow: var(--gw-autocomplete-shadow-offset-x) var(--gw-autocomplete-shadow-offset-y) var(--gw-autocomplete-shadow-blur) var(--gw-autocomplete-shadow-spread) var(--gw-autocomplete-shadow-color);
    color: var(--gw-autocomplete-color);
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.autocomplete-dropdown li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-dropdown li:hover {
    color: var(--gw-autocomplete-option-focus-color);
    background-color: var(--gw-autocomplete-option-focus-background);
}

.error-message {
    font-size: small;
    color: var(--gw-warning-dark);
}

.alert-save {
    margin-left: 12px;
    margin-right: 12px;
}

.alert-save.alert-warning:before {
    content: "\e920";
}

.alert-save {
    margin-left: 12px;
    margin-right: 12px;
}

.alert-save.alert-warning:before {
    content: "\e920";
}

ul.nodes-list {
    list-style: none;
    padding-left: 0;
}

ul.nodes-list li {
    margin-bottom: 10px;
}

ul.nodes-list li a {
    text-decoration: none;
}

ul.nodes-list li a:hover {
    text-decoration: underline;
}

.tags-table .tag-column {
    width: auto;
}

.tags-table .tag-index-column {
    width: 16%;
}


.tags-table .index-column {
    width: 10%;
}

.actions-column {
    width: 80px;
}

.tag-input.ng-invalid.ng-dirty {
    border-color: var(--gw-tag-danger-color) !important;
}

.tag-input.ng-valid.ng-dirty {
    border-color: initial;
}

.tags-table td, .tags-table th {
    padding: .4rem;
    border-bottom: 1px solid #eceeef;
}

.index-cell {
    padding-left: 12px;
    border-left: 1px solid #eceeef;
}

.actions-cell {
    width: 85px;
    border-right: 1px solid #eceeef;
}

.actions-cell .btn-link, .actions-cell .btn-link a {
    padding: 0.2em .2em;
}

.secondary-tag-table td, .secondary-tag-table th {
    padding: .4rem;
    border-bottom: 1px solid #eceeef;
}
