#query-editor .yasr .yasr_header {
    margin-bottom: 0;
}

.yasr_results {
    max-height: 345px;
    overflow-y: auto;
}

yasgui-component .CodeMirror {
    height: 330px !important;
}

.keyboard-shortcuts-dialog-wrapper {
    margin-top: -21px;
}

.create-similarity-index-btn .saving-index-loader,
.create-similarity-index-btn .save-query-btn {
    position: relative;
    bottom: -3px
}
