.fa-refresh, .fa-info-circle {
    cursor: pointer;
}

#circle circle {
    pointer-events: all;
}

#download-svg:hover {
    color: var(--primary-color);
}

#circle:hover path.fade {
    display: none;
}

#dependencies-chord text {
    font-size: 16px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    border: 0;
    border-style: solid;
    pointer-events: none;
}

.dependencies-tooltip {
    background: rgb(240, 240, 240);
    border:1pt solid #e8e3e3;
    padding: 15px;
    padding-top: 0;
}

.dependencies-tooltip > .row:first-child{
    border:1pt solid #e8e3e3;
}

.dependencies-tooltip > .row {
    padding: 10px;
    margin-bottom: 0;
    text-align: left;
}

.titleLine h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    position: absolute;
}

.toolbar-holder {
    color: #018ae1;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    padding-left: 0.4rem;
    font-size: 2rem;
}

.toolbar-holder i {
    cursor: pointer;
}

.toolbar-holder i:hover {
    color: #00526e;
}

.content {
    position: relative;
}

.dep-status {
    position: relative;
    top: 3em;
}

.top-offset {
    position: relative;
    top: 4em;
}

::-webkit-scrollbar {
    display: none;
}

.rdf-list {
    list-style-type: none;
    height: 50vh;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.rdf-list-static {
    overflow-x: hidden;
    height: inherit !important;
}

@media (min-height: 700px) {
    .rdf-list {
        height: 60vh;
    }
}

@media (min-height: 850px) {
    .rdf-list {
        height: 67vh;
    }
}
@media (min-height: 1000px) {
    .rdf-list {
        height: 75vh;
    }
}

.rdf-list li > div.active {
    border-bottom: 0.5pt solid #ffffff !important;
    border-left: 1pt solid #ffffff !important;
    border-top: 0.5pt solid #ffffff !important;
    border-right: 1pt solid #ffffff !important;
    background-color: hsla(var(--tertiary-color-hsl), 0.30) !important;
}

.rdf-list > li > div:first-child {
    border-bottom: 0.5pt solid #e8e3e3;
    border-left:1pt solid #e8e3e3;
    border-right:1pt solid #e8e3e3;
    border-top:0.5pt solid #e8e3e3;
}

.rdf-list li {
    border-bottom: inherit !important;
    background-color: inherit !important;
}

#wb-dependencies-classInClasses li .even-row:not(.active)  {
    background-color: #f8f7f7;
}

#wb-dependencies-classInClasses li .odd-row:not(.active)  {
    background-color: #ffffff;
}

.rdf-list li div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.direction-filter-header div {
    padding-left: 2px;
    padding-right: 2px;
}

.direction-filter-header {
    color: var(--secondary-color);
    font-size: 18px;
}

.fa-plus {
    color: green;
}

.fa-minus-circle {
    color: #a3a3a3
}

.related-classes {
    color: #018ae1;
    cursor: pointer;
}

.related-classes:hover {
    color: rgb(16, 48, 86);
}

.deps-class-name {
    word-wrap: break-word;
}

body .row {
    margin-top: 0;
}

.direction-filter, .back-to-dependencies-list {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.dependencies-chord svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
    height: 90vh;
    width: 100%;
}

.related-arrow {
    padding-left: 0;
    padding-right: 0;
}

.plusminus {
    padding-left: 20px;
    padding-right: 0;
}

.deps-sidebar {
    font-size: 14px;
}

#graphsBtnGroup[aria-expanded="false"] {
    background-color: white;
    border: none;
}

#graphsBtnGroup[aria-expanded="true"] {
    color: inherit;
}
