.button {
    text-transform: none;

    overflow: visible;

    font: inherit;
    margin: 0;

    display: inline-block;
    font-weight: var(--gw-button-label-font-weight);
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: var(--gw-button-padding-y) var(--gw-button-padding-x);
    font-size: var(--gw-button-sm-font-size);

    border-radius: var(--gw-button-border-radius);
    transition: all 0.15s ease-out;
}

.button-primary {
    color: var(--gw-button-primary-color);
    background-color: var(--gw-button-primary-background);
    border-color: var(--gw-button-primary-border-color);
}

/*.button-primary:active {*/
/*    color: var(--gw-button-primary-active-color);*/
/*    background-color: var(--gw-button-primary-active-background);*/
/*    border-color: var(--gw-button-primary-active-border-color);*/
/*}*/

.button-primary:focus-visible {
    box-shadow: var(--gw-button-primary-focus-ring-shadow);
    outline: var(--gw-button-focus-ring-width) var(--gw-button-focus-ring-style) var(--gw-button-primary-focus-ring-color);
    outline-offset: var(--gw-button-focus-ring-offset);
}

.button-primary:focus {
    color: var(--gw-button-primary-hover-color);
    background-color: var(--gw-button-primary-hover-background);
    border-color: var(--gw-button-primary-hover-border-color);
}

.button-primary:hover {
    color: var(--gw-button-primary-hover-color);
    background-color: var(--gw-button-primary-hover-background);
    border-color: var(--gw-button-primary-hover-border-color);
}

.button-primary:disabled:hover {
    color: var(--gw-button-primary-color);
    background-color: var(--gw-button-primary-background);
    border-color: var(--gw-button-primary-border-color);
}

.button-secondary {
    color: var(--gw-button-secondary-color);
    background-color: var(--gw-button-secondary-background);
    border-color: var(--gw-button-secondary-border-color);
}

.button-secondary:active {
    color: var(--gw-button-secondary-active-color);
    background-color: var(--gw-button-secondary-active-background);
    border-color: var(--gw-button-secondary-active-border-color);
}

.button-secondary:focus-visible {
    box-shadow: var(--gw-button-secondary-focus-ring-shadow);
    outline: var(--gw-button-focus-ring-width) var(--gw-button-focus-ring-style) var(--gw-button-secondary-focus-ring-color);
    outline-offset: var(--gw-button-focus-ring-offset);
}

.button-secondary:hover {
    color: var(--gw-button-secondary-hover-color);
    background-color: var(--gw-button-secondary-hover-background);
    border-color: var(--gw-button-secondary-hover-border-color);
}

.button-secondary:disabled:hover {
    color: var(--gw-button-secondary-color);
    background-color: var(--gw-button-secondary-background);
    border-color: var(--gw-button-secondary-border-color);
}

.button-secondary:focus {
    color: var(--gw-button-secondary-hover-color);
    background-color: var(--gw-button-secondary-hover-background);
    border-color: var(--gw-button-secondary-hover-border-color);
}

.button-outlined {
    background: transparent;
}

.button-outlined-primary {
    border-color: var(--gw-button-outlined-primary-border-color);
    color: var(--gw-button-outlined-primary-color);
}

.button-outlined-primary:hover {
    background: var(--gw-button-outlined-primary-hover-background);
}

.button-lg {
    font-size: 1.125em;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .65;
}
