.grey-row {
    background-color: rgba(0, 0, 0, .05);
}

.wb-plugins-td {
    width: 50%;
    float: left;
    padding: 0;
}

.wb-plugins-row {
    height: 80%;
}


.plugins-header {
    float: left;
    width: 250px;
}

@media only screen and (min-width: 600px) {
    #toggleIndex {
        display: inline-block;
        width: 600px;
    }

    #toggleAndTag {
        float: right;
    }
}

#searchbox-plugins {
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

tr {
    display: inline-flex;
}

@media all and (max-width: 800px) {

    tr {
        display: table-row;
    }

    tr {
        /*float: none;*/
        min-width: 100%;
    }
}
