.label {
  	font: 20px var(--main-font);
  	text-anchor: middle;
  	alignment-baseline: middle;
	pointer-events: none;
  	text-shadow: 0 0 1em black;
  	fill: white;
}

.child-label {
    text-shadow: 0 0 0.5em white;
    fill: #606060;
}
