/**
 * Removes the default AngularJS UI popover padding.
 */
.popover-title,
.popover-content {
    padding: 0;
}

.popover {
    box-shadow: none;
}

.repository-info-popover {
    min-width: 22rem;
    background-color: var(--gw-dialog-background);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 12px;
    margin: -4px 0;
    font-size: 0.875rem;
    font-weight: 400;
    box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);

    .title h6 {
        font-size: 1.14em;
        font-weight: 600;
        line-height: 1;
        text-align: left; 
        margin-bottom: 0.285em;
    }

    .title h6:not(.inactive) {
        color: #05070B;
    }

    .title h6.inactive,
    .title h6 .ri-stop-large-fill,
    .title h6 .ri-loop-left-fill{
        color: var(--gw-iconfield-icon-color);
    }

    .title h6 .ri-checkbox-blank-circle-fill {
        color: var(	--gw-success-600);
    }


    .title h6 i {
        font-size: inherit;
        vertical-align: baseline;
        margin-right: 0.55em;
    }

    .repository-id {
        font-size: 1rem;
        font-weight: 400;
    }

    .repository-description {
        margin-bottom: 0.5rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .property {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }

    .property-label {
        margin-right: 10px;
    }

    .property-value {
        text-align: right;
        font-weight: 500;
    }

    .inactive-repo-message {
        background-color: #f0f2f4;
        color: #121921;
        display: flex;
        flex-wrap: nowrap;
        padding: 4px 8px;
        gap: 0.57em;
        border: 1px solid var(--gw-border-color-default);
    }

    .inactive-repo-message p {
        font-size: 1.14em;
        font-weight: 400;
        margin: 0;
    }

    .inactive-repo-message .icon {
        font-size: 1.14em;
    }
}
