.btn-primary.shepherd-button:hover {
    background-color: #d0460d;
}

.btn-primary.shepherd-button[disabled]{
    opacity: 0.5;
}

.btn-secondary.shepherd-button:hover {
    background-color: #dcdcdc;
    color: #003663;
}

.shepherd-element {
    border-radius: 0;
    max-width: 500px;
}

.shepherd-content {
    border-radius: 0;
}

.shepherd-header {
    border-radius: 0;
}

.shepherd-header h3 {
    padding-left: 0.5em;
}

.shepherd-text {
    text-align: center;
    min-height: 90px;
    margin-top: 10px;
}

.shepherd-text ol, .shepherd-text ul {
    text-align: left;
}

.shepherd-text code {
    text-align: left;
    display: block;
    height: 120px;
    margin-top: 0.5em;
    color: var(--secondary-color);
    background-color: hsla(var(--tertiary-color-hsl), 0.3);
    overflow: scroll;
    white-space: pre-wrap;
}

.shepherd-has-title .shepherd-content .shepherd-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.shepherd-footer {
    padding-bottom: 0.5em;
}

.shepherd-progress {
    display: block;
    text-align: right;
    padding-right: 1em;
    font-size: 0.9em;
}

.shepherd-code {
    position: relative;
}

.shepherd-code button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.guide-dialog.shepherd-element[data-popper-placement="top"] {
    margin-top: -12px;
}

.guide-dialog.shepherd-element[data-popper-placement="right"] {
    margin-left: 12px;
}

.guide-dialog.shepherd-element[data-popper-placement="bottom"] {
    margin-top: 12px;
}

.guide-dialog.shepherd-element[data-popper-placement="left"] {
    margin-left: -12px;
}

.guide-dialog.shepherd-element.visual-graph-link-focus-guide-dialog {
    margin-top: -52px;
}
