yasgui-component .CodeMirror {
    height: 330px !important;
}

.keyboard-shortcuts-dialog-wrapper {
    margin-top: -21px;
}

.no-wrap-popover {
    max-width: none;
    white-space: nowrap;
}

.sparql-templates-list .card-block .create-sparql-template .create-sql-table-configuration {
    padding-right: 4px;
}
