.wb-user .auth-column-label {
    margin-right: 4px;
}

.wb-user .repository-column {
    width: 50%;
}

.wb-user .read-column {
    width: 15%;
}

.wb-user .write-column {
    width: 15%;
}

.wb-user .manage-repository-column {
    width: 15%;
}

.wb-user .graphql-column {
    width: 15%;
}

.wb-user .graphql-column,
.wb-user .graphql-rights,
.wb-user .graphql-any {
    border-left: 1px solid #eceeef;
}

.wb-user .table-fixed {
    table-layout: fixed;
    width: 100%;
}

.wb-user .bordered-table {
    border: 1px solid var(--gw-datatable-border-color);
    border-collapse: collapse;
    width: 100%;
}

.wb-user .graphql-icon {
    margin-left: 4px;
}

.wb-user .repository-name {
    word-wrap: break-word;
}

.wb-user .fa-user {
    font-size: 2rem;
    padding-left: .25rem;
    padding-bottom: 0;
}

.theme-select-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.theme-select-wrapper label {
    margin-bottom: 0;
}

.theme-select-wrapper select {
    flex: 0 1 30%;
    min-width: 150px;
}

.roles {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.user-roles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-repositories {
    display: flex;
    flex-direction: column;
}

.user-repositories .user-repositories-label {
    margin-bottom: 1.5rem;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-info {
    font-weight: 700;
}

.sparql-editor-settings .label {
    font-weight: 400;
}

.sparql-editor-settings .setting-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
