.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal .modal-dialog {
        padding: 0; /* Always no padding and relative position since there is a clash with the google chart css file, which has a rule for .modal-dialog  */
        position: relative;
    }

    .modal-content {
        -webkit-box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);
        box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #018ae1;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #018ae1;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #018ae1;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #018ae1;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #018ae1;
    }
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #018ae1;
}

.panel-info > .panel-heading {
    color: #000000;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: var(--gw-secondary-base);
    border-color: var(--gw-secondary-base);
}

.label-success {
    background-color: var(--gw-tertiary-base);
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: var(--gw-tertiary-base);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: var(--gw-tertiary-base);
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: var(--gw-tertiary-base);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: var(--gw-tertiary-base);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: var(--gw-tertiary-base);
    }
}

.navbar-inverse {
    background-color: #008cba;
    border-color: #018ae1;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: var(--gw-tertiary-base);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: var(--gw-tertiary-base);
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #007196;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: var(--gw-tertiary-base);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: var(--gw-tertiary-base);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: var(--gw-tertiary-base);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
    color: #ffffff;
}

.navbar-inverse .dropdown-menu {
    background-color: #008cba;
}

.navbar-inverse .dropdown-menu > li > a,
.navbar-inverse .dropdown-menu > li > a:focus {
    color: #ffffff;
}

.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > .active > a,
.navbar-inverse .dropdown-menu > .active > a:hover {
    background-color: var(--gw-tertiary-base);
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #f04124;
}

.modal .modal-dialog {
    padding: 0; /* Always no padding and relative position since there is a clash with the google chart css file, which has a rule for .modal-dialog  */
    position: relative;
}

/* Styles for the shortcuts directive */

#keyboardShortcuts {
    background-color: var(--gw-panel-background);
    padding: 0px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 90%;
	z-index: 10;
}


.hotkeys-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    max-width: 100vw;
    max-height: 40vh;
    overflow-y: auto;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9998;
    border-radius: 10px 10px 0 0;
    font-weight: 300;
    min-width: 100vw;
    background-color: var(--gw-dialog-background);
    padding: 15px;
    border: 1px solid var(--gw-panel-border-color);
}

.hotkeys-container.fade {
  z-index: -1024;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.hotkeys-container.fade.in {
  z-index: 10002;
  visibility: visible;
  opacity: 1;
}

.hotkeys {
    column-gap: 20px;
    overflow: auto;
    padding: 15px 18px 40px 0;
}

.hotkey-wrapper {
    overflow: auto;
}

@media (min-width: 1200px) {
    .hotkeys {
        column-count: 3;
    }
}

@media (max-width: 1199px) and (min-width: 577px) {
    .hotkeys {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .hotkeys {
        column-count: 1;
    }
}

.hotkeys .hotkey-section {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1rem;
}

.hotkey-section .section-title {
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--gw-shortcuts-panel-heading-color);
    font-size: 1rem;
    break-after: avoid;
}

.hotkey-section .hotkey-item {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
    margin: 8px 0;
    align-items: center;
    width: 100%;
}

.hotkey-item kbd {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 28px;
    font-size: 16px;
    color: var(--gw-shortcuts-panel-key-color);
    background-color: var(--gw-shortcuts-panel-key-background);
    border-color: var(--gw-shortcuts-panel-key-border-color);
    border-radius: 2px;
    padding: 2px 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.hotkey-title {
    margin: 0.5rem 0;
    font-weight: 400;
    padding-bottom: 15px;
    flex-shrink: 0;
}

.hotkeys .ri-close-line {
	position: absolute;
	top: 20px;
	right: 30px;
    color: var(--gw-button-secondary-color);
    background-color: var(--gw-button-secondary-background);
    border: none;
    outline: none;
    cursor: pointer;
}

.hotkeys .ri-close-line:hover {
    color: var(--gw-button-primary-link-hover-color);
    font-weight: bold;
}

.hotkeys table {
  margin: auto;
  color: #333;
}

.hotkeys-keys {
  padding: 5px;
  text-align: right;
}

.hotkeys-text {
  padding-left: 10px;
}

[disabled-wrapper] {
    position: relative;
    z-index: 0;
}

[disabled-wrapper] div.disabled {
    cursor: not-allowed;
}

[disabled-wrapper] [disabled] {
    position: relative;
    z-index: -1;
}

.text-overflow-by-vw {
    max-width: 60vw !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media only screen and (max-width:768px) {
    .fit-content-on-mobile {
        width: fit-content;
    }
}

@media only screen and (min-width:962px) {
    .update-ontop-repo-dialog .modal-dialog {
        min-width: 900px;
    }

    .update-ontop-repo-dialog .modal-dialog .modal-content {
        height: 800px;
    }

    .update-ontop-repo-dialog .modal-dialog .modal-content .form-group, .update-ontop-repo-dialog .modal-dialog .modal-content #wb-repository-file-textarea  {
        height: 100%;
    }

    .update-ontop-repo-dialog .modal-dialog .modal-content .modal-body {
        overflow: hidden;
    }
}

.update-ontop-repo-dialog .modal-dialog .modal-content .modal-body {
    font-family: var(--mono-font);
}

.help-info b {
    font-weight: 500;
}

.dynamic-form .dropdown-menu.multi-select {
    background-color: #fff !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 0.25rem !important;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

.dynamic-form .dropdown.multi-select > button {
    font-weight: 400 !important;
}

.dynamic-form .dropdown-item.multi-select {
    color: var(--gw-neutral-base) !important;
    font-weight: initial !important;
}

.dynamic-form .open > .dropdown-menu.multi-select {
    display: block;
    opacity: 1;
    margin-top: -1px;
}

.dynamic-form .dropdown-menu.multi-select .dropdown-item.multi-select {
    color: var(--gw-neutral-base) !important;
    font-weight: initial !important;
}

.dynamic-form button.form-control.dropdown-toggle.multi-select.text-left {
    position: relative;
}

.dynamic-form button.form-control.dropdown-toggle.multi-select.text-left::after {
    margin-left: 0 !important;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    color: initial;
    font-size: smaller !important;
}
