.repository-picker-list {
  color: var(--gw-panel-color);
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .filters {
      display: flex;
      gap: .4em;
      min-width: 0;
      flex-wrap: wrap;
      padding-bottom: 1em;

      .filter-local-only {
        display: flex;
        align-items: center;
        gap: .25em;

        label {
          margin-bottom: 0;
        }
      }
    }
  }

  .repository-list {
    max-height: 300px;
    border: 1px solid var(--gw-datatable-border-color);

    tr:hover {
      background-color: var(--gw-datatable-row-hover-background);

      .actions-column .select-repository-btn {
        visibility: visible;
      }
    }

    .type-column {
      width: 2.5rem;
      padding-right: 0 !important;
      vertical-align: top;

      .type-icon {
        font-size: 1.2em;
        color: var(--gw-button-primary-link-hover-color);
      }
    }

    .name-column {
      // Prevent long content from expanding the table beyond its container.
      // The table layout still assigns the available space to this column.
      max-width: 0;
      padding-left: .1em;
      vertical-align: top;

      .repository-header {
        display: flex;
        align-items: baseline;
        min-width: 0;
      }

      .repository-state {
        flex-shrink: 0;
        font-size: .8em;
        margin-right: .5em;

        .running {
          color: var(--gw-button-success-background);
        }

        .inactive {
          color: var(--gw-button-info-background);
        }

        .transitioning {
          color: var(--gw-button-warn-background);
        }
      }

      .repository-id {
        flex: 1;
        min-width: 0;
      }
    }

    .actions-column {
      width: 7rem;

      .select-repository-btn {
        visibility: hidden;
      }
    }

    .repository-id,
    .repository-description,
    .repository-location {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
