.search-resources-input {
  padding-right: 20px;

  & .input-row {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;

    & .input-wrapper {
      position: relative;
      display: flex;
      flex: 1;
      min-width: 20vw;

      & input {
        min-width: inherit;
        flex: 1;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: var(--gw-form-field-color);
        background-color: var(--gw-form-field-background);
        background-image: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid var(--gw-form-field-border-color);

        &:focus {
          outline: 0;
          color: var(--gw-form-field-color);
          border-color: var(--gw-form-field-focus-border-color);
        }
      }
    }

    & i.ri-close-line {
      position: absolute;
      right: 10px;
      top: 7px;
      z-index: 10;
      font-size: 1.6rem;
    }

    & button {
      display: inline-block;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      transition: all .15s ease-out;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 1rem;
      color: var(--gw-button-secondary-color);
      background-color: var(--gw-button-secondary-background);

      &.selected {
        background-color: var(--gw-button-primary-background);
        color: var(--gw-button-primary-color);
      }

      &:focus {
        outline: none;
      }

      &:hover:not(.selected) {
        background-color: var(--gw-button-secondary-hover-background);
        border-color: var(--gw-button-secondary-hover-color);
      }
    }
  }

  & .hint {
    font-size: 0.8rem;
    color: #818a91;
  }

  & .autocomplete-results-wrapper {
    margin-top: 6px;
    max-height: 204px;
    overflow: auto;

    & p {
      font-size: 1.1rem;
      line-height: 1.5;
      color: var(--gw-autocomplete-color);
      background-color: var(--gw-autocomplete-background);
      margin-bottom: 0;
      padding: 5px 25px;
      cursor: pointer;

      & b {
        color: var(--gw-autocomplete-dropdown-match-color);
      }

      &.selected {
        color: var(--gw-autocomplete-option-selected-color);
        background-color: var(--gw-autocomplete-option-selected-background);
      }

      &.hovered:not(.selected), &:hover:not(.selected) {
        color: var(--gw-autocomplete-option-focus-color);
        background-color: var(--gw-autocomplete-option-focus-background);
      }
    }
  }
}
