<div class="select-schema-source-view">
    <div class="schema-source-types mt-2">
        <div ng-repeat="type in stepDefinition.schemaSourceTypes"
             class="schema-source-type mr-3">
            <label>
                <input type="radio" ng-model="stepDefinition.schemaSourceType" ng-value="type.value">
                {{'graphql.create_endpoint.wizard_steps.select_schema_sources.source_type.' + type.value + '.label' | translate}}
            </label>
        </div>
    </div>

    <div
        ng-if="stepDefinition.schemaSourceType === stepDefinition.schemaSourceTypes[0].value"
        class="schema-source-container graphql-schema-shapes">

        <h5 class="mt-2">
            {{'graphql.create_endpoint.wizard_steps.select_schema_sources.graphql_schema_shapes.title' | translate}}</h5>

        <div ng-if="true" class="alert alert-info no-shapes mt-2">
            <span>{{'graphql.create_endpoint.wizard_steps.select_schema_sources.graphql_schema_shapes.messages.no_schemas' | translate}}</span>
        </div>

        <div ng-if="true" class="alert alert-info no-shapes mt-2">
            <span>{{'graphql.create_endpoint.wizard_steps.select_schema_sources.graphql_schema_shapes.messages.endpoint_per_shape' | translate}}</span>
        </div>

        <div class="shuttle-multiselect shapes-selector">
            shapes multiselect component
        </div>
    </div>

    <div
        ng-if="stepDefinition.schemaSourceType === stepDefinition.schemaSourceTypes[1].value"
        class="schema-source-container ontologies-and-shacl-shapes">

        <h5 class="mt-2">
            {{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.title' | translate}}</h5>

        <form novalidate name="endpointConfigurationForm" id="endpointConfigurationForm"
              class="endpoint-configuration-form">
            Endpoint configuration form <br/>
            Endpoint ID: <br/>
            Vocabulary Prefix: <br/>
            Endpoint Label: <br/>
            <!--            <div class="form-inline endpoint-id">-->
            <!--                <label for="endpointId"-->
            <!--                       uib-popover="{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.endpoint_id.tooltip' | translate}}"-->
            <!--                       popover-trigger="mouseenter">{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.endpoint_id.label' | translate}}</label>-->
            <!--                <input type="text" class="form-control" id="endpointId" name="endpointId"-->
            <!--                       ng-model="endpointConfigurationForm.endpointId"-->
            <!--                       required autocomplete="off"-->
            <!--                       placeholder="{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.endpoint_id.placeholder' | translate}}">-->
            <!--                <div class="alert alert-danger"-->
            <!--                     ng-if="endpointConfigurationForm.endpointId.$touched && endpointConfigurationForm.endpointId.$invalid">-->
            <!--                    {{'required.field' | translate}}-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="form-inline vocabulary-prefix">-->
            <!--                <label for="vocabularyPrefix"-->
            <!--                       uib-popover="{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.vocabulary_prefix.tooltip' | translate}}"-->
            <!--                       popover-trigger="mouseenter">{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.vocabulary_prefix.label' | translate}}</label>-->
            <!--                <select class="form-control" id="vocabularyPrefix" name="vocabularyPrefix"-->
            <!--                        ng-model="endpointConfigForm.vocabularyPrefix"-->
            <!--                        required ng-change="onVocabularyPrefixChange()"-->
            <!--                        ng-options="prefix.value as prefix.label for prefix in vocabularyPrefixList">-->
            <!--                </select>-->
            <!--                <div class="alert alert-danger"-->
            <!--                     ng-if="endpointConfigForm.vocabularyPrefix.$touched && endpointConfigForm.vocabularyPrefix.$invalid">-->
            <!--                    {{'required.field' | translate}}-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="form-inline endpoint-label">-->
            <!--                <label for="endpointLabel"-->
            <!--                       uib-popover="{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.endpoint_label.tooltip' | translate}}"-->
            <!--                       popover-trigger="mouseenter">{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.endpoint_label.label' | translate}}</label>-->
            <!--                <input type="text" class="form-control" id="endpointLabel" name="endpointLabel"-->
            <!--                       ng-model="endpointConfigForm.endpointLabel" autocomplete="off"-->
            <!--                       placeholder="{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.form.endpoint_label.placeholder' | translate}}">-->
            <!--            </div>-->
        </form>

        <div class="schema-source-types mt-2">
            <div ng-repeat="type in stepDefinition.ontotlogyShaclShapeSources"
                 class="schema-source-type mr-3">
                <label>
                    <input type="radio" ng-model="stepDefinition.ontotlogyShaclShapeSource"
                           ng-value="type.value">
                    {{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.source.' + type.value + '.label' | translate}}
                </label>
            </div>
        </div>

        <div
            ng-if="stepDefinition.ontotlogyShaclShapeSource === stepDefinition.ontotlogyShaclShapeSources[0].value"
            class="schema-source-container graphql-schema-shapes">
            <div ng-if="true" class="alert alert-success mt-2">
                <span>{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.source.use_all_graphs.messages.all_graphs' | translate: {count: 123}
                    }}</span>
            </div>
        </div>

        <div
            ng-if="stepDefinition.ontotlogyShaclShapeSource === stepDefinition.ontotlogyShaclShapeSources[1].value"
            class="schema-source-container graphql-schema-shapes">
            <div ng-if="true" class="alert alert-success mt-2">
                <span>{{'graphql.create_endpoint.wizard_steps.select_schema_sources.shacl_shapes.source.use_shacl_shape_graph.messages.all_shacl_shape_graphs' | translate: {count: 5}
                    }}</span>
            </div>
        </div>

        <div
            ng-if="stepDefinition.ontotlogyShaclShapeSource === stepDefinition.ontotlogyShaclShapeSources[2].value"
            class="schema-source-container graphql-schema-shapes">

            <div class="shuttle-multiselect graphs-selector">
                graphs multiselect component
            </div>
        </div>
    </div>

    <div class="wizard-actions mt-2">
        <button class="btn btn-secondary cancel-btn mr-1" ng-click="cancel()"
                gdb-tooltip="{{'graphql.create_endpoint.wizard_steps.actions.cancel.tooltip' | translate}}"
                tooltip-placement="top">
            {{'graphql.create_endpoint.wizard_steps.actions.cancel.label' | translate}}
        </button>
        <button class="btn btn-primary next-btn" ng-click="next()">
            {{'graphql.create_endpoint.wizard_steps.actions.next.label' | translate}}
        </button>
    </div>
</div>
