<div class="generate-endpoint-view">

    <h5 class="mt-2">
        {{'graphql.create_endpoint.wizard_steps.generate_endpoint.overview.title' | translate}}</h5>


    <div class="generate-endpoint-container">
        overview widget
    </div>

    <div class="wizard-actions mt-2">
        <button class="btn btn-secondary cancel-btn mr-1"
                ng-click="cancel()">
            {{'graphql.create_endpoint.wizard_steps.actions.cancel.label' | translate}}
        </button>
        <button class="btn btn-secondary back-btn mr-1"
                ng-click="back()">
            {{'graphql.create_endpoint.wizard_steps.actions.back.label' | translate}}
        </button>
        <button class="btn btn-primary generate-endpoint-btn"
                ng-click="generateEndpoint()">
            {{'graphql.create_endpoint.wizard_steps.actions.generate_endpoint.label' | translate}}
        </button>
    </div>
</div>
