# Browsers that we support
# default resolves to 0.5%, last 2 versions, Firefox ESR, not dead
# 0.5% all versions with > 0.5% of the audience worldwide.
# last 2 versions of each browser
# Firefox ESR (extended support release)
# not dead (not MS Explorer)

defaults and fully supports es6-module
