# IDE specific
target
*.iml
.idea/

# Node
node_modules/
dist/
coverage/

# Dev specific
report/
cypress/
test-cypress/logs/
logs/
.downloads

# skip fonts as they are copied after the instalation of the @awesome.me packages.
src/js/lib/awesome_me
