language: node_js

node_js:
  - node

dist: trusty

cache:
  npm: true
  directories:
    - '$HOME/.sonar/cache'

# Trigger build only when one of the following conditions is met
if: type = pull_request OR branch = master OR tag IS present

addons:
  chrome: stable
  sonarcloud:
    organization: "ontotext-ad"
    token:
      secure: $SONAR_TOKEN
  # Needed for Cypress tests
  apt:
    packages:
      - libgconf-2-4

script:
  - npm run test:coverage
  - npm run build
  - npm run sonar

after_script:
  - npm run test:coveralls
  - npm run test:acceptance

deploy:
  - provider: npm
    skip_cleanup: true
    email: $NPM_MAIL
    api_key: $NPM_TOKEN
    on:
      tags: true

  - provider: script
    # Workaround. cannot login in NPM and cannot configure NPM provider to go in the directory
    script: cd test-cypress/ && echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc && npm publish
    skip_cleanup: true
    on:
      tags: true
