<div onto-loader-new ng-if="loader" class="create-cluster-loader" message="getLoaderMessage" size="75"></div>

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"></button>
    <h3 class="modal-title">{{pageTitle}}</h3>
</div>

<div class="modal-body">
    <form novalidate id="clusterConfigurationForm" name="clusterConfigurationForm">
        <div class="form-horizontal">
            <div class="form-group">
                <div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.electionMinTimeout.$invalid}">
                            <label for="election-minimum-timeout" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.election_min_timeout' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.election_min_timeout_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.electionMinTimeout"
                                       required id="election-minimum-timeout" min="0" pattern="[0-9]+" name="electionMinTimeout">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionMinTimeout.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionMinTimeout.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.electionRangeTimeout.$invalid}">
                            <label for="election-range-timeout" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.election_range_timeout' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.election_range_timeout_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.electionRangeTimeout"
                                       required id="election-range-timeout" min="0" pattern="[0-9]+" name="electionRangeTimeout">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionRangeTimeout.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionRangeTimeout.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.heartbeatInterval.$invalid}">
                            <label for="heartbeat-interval" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.heartbeat_interval' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.heartbeat_interval_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.heartbeatInterval"
                                       required id="heartbeat-interval" min="0" pattern="[0-9]+" name="heartbeatInterval">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.heartbeatInterval.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.heartbeatInterval.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.messageSizeKB.$invalid}">
                            <label for="message-size" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.message_size_kb' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.message_size_kb_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.messageSizeKB"
                                       required id="message-size" min="0" pattern="[0-9]+" name="messageSizeKB">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.messageSizeKB.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.messageSizeKB.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.verificationTimeout.$invalid}">
                            <label for="verification-timeout" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.verification_timeout' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.verification_timeout_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.verificationTimeout"
                                       required id="verification-timeout" min="0" pattern="[0-9]+" name="verificationTimeout">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.verificationTimeout.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.verificationTimeout.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.transactionLogMaximumSizeGB.$invalid}">
                            <label for="verification-timeout" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.transaction_log_maximum_size_gb' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.transaction_log_maximum_size_gb_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.transactionLogMaximumSizeGB"
                                       required id="transaction-log-max-size" pattern="-?[1-9][0-9]*(\.[0-9]+)?" name="transactionLogMaximumSizeGB">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.transactionLogMaximumSizeGB.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.transactionLogMaximumSizeGB.$error.pattern">{{'cluster_management.cluster_page.errors.small_transaction_log_max_size' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.batchUpdateInterval.$invalid}">
                            <label for="batch-update-interval" class="col-xs-4 col-form-label">{{'cluster_management.cluster_configuration_properties.batch_update_interval' | translate}}*</label>
                            <div class="col-xs-8" gdb-tooltip="{{'cluster_management.cluster_configuration_properties.batch_update_interval_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.batchUpdateInterval"
                                       required id="batch-update-interval" min="0" pattern="[0-9]+" name="batchUpdateInterval">
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.batchUpdateInterval.$error.required">{{'required.field' | translate}}</div>
                                <div class="form-control-feedback" ng-show="clusterConfigurationForm.batchUpdateInterval.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div ng-repeat="error in errors" class="cluster-properties-error alert alert-danger mt-1">
                    {{error}}
                </div>
                <div ng-if="preconditionErrors" class="precondition-errors alert alert-danger">
                    <div class="row">
                        <div class="col-xs-6">
                            {{'cluster_management.cluster_page.errors.preconditions_failed.label' | translate}}
                            <ul>
                                <li>{{'cluster_management.cluster_page.errors.preconditions_failed.valid_license' | translate}}</li>
                                <li>{{'cluster_management.cluster_page.errors.preconditions_failed.authentication_secret' | translate}}</li>
                                <li>{{'cluster_management.cluster_page.errors.preconditions_failed.nodes_reachable' | translate}}</li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            {{'cluster_management.cluster_page.errors.nodes_status_label' | translate}}
                            <ul>
                                <li ng-repeat="error in preconditionErrors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()">{{'common.cancel.btn' | translate}}</button>
    <button type="submit" ng-click="ok()" ng-disabled="!isClusterConfigurationValid()" form="clusterConfigurationForm"
            class="btn btn-primary create-connector-btn">{{'cluster_management.cluster_page.save_btn' | translate}}</button>
</div>
