:root {
    --field-label-weight: 500;
    --error-color: #FA787E;
    --warning-color: #8a6d3b;
}

.agent-settings-modal .modal-footer .creating-agent-loader {
    display: inline-block;
    position: relative;
    bottom: -3px;
}

.agent-settings-modal .agent-settings-form label {
    font-weight: var(--field-label-weight);
}

.agent-settings-modal .agent-settings-form .extraction-methods {
    display: flex;
    flex-direction: column;
}

.agent-settings-modal .agent-settings-form .has-error {
    outline: 1px solid var(--error-color);
}

.agent-settings-modal .agent-settings-form .has-warning {
    outline: 2px solid var(--warning-color);
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method-heading {
    display: flex;
    align-items: center;
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method-heading .panel-toggle-link {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.agent-settings-form .extraction-methods .extraction-method-heading.selected .panel-toggle-link {
    font-weight: var(--field-label-weight);
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method {
    padding: 0 10px;
    margin-bottom: 2px;
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method .extraction-method-options {
    padding: 1rem 1rem 1rem 3.6rem;
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method .extraction-method-options .radio-inline {
    cursor: pointer;
}

.agent-settings-modal .agent-settings-form .additional-extraction-methods .additional-extraction-method {
    padding: 0 10px;
}

.agent-settings-modal .agent-settings-form #sparqlQuery,
.agent-settings-modal .agent-settings-form #queryTemplate {
    font-size: 1rem;
    font-family: var(--mono-font) !important;
}

.agent-settings-modal .agent-settings-form #fts_search_maxNumberOfTriplesPerCall,
.agent-settings-modal .agent-settings-form #similarity_search_maxNumberOfTriplesPerCall,
.agent-settings-modal .agent-settings-form #retrieval_search_maxNumberOfTriplesPerCall {
    width: 30%
}

.agent-settings-modal .agent-settings-form input[type="range"] {
    width: 100%
}

.agent-settings-modal .agent-settings-form [type="range"] {
    position: relative;
    /* move the slider up next to the related input field to match the mockup */
    top: -6px;
    accent-color: var(--secondary-color);
}

.agent-settings-form .panel-toggle-link .toggle-icon {
    transition: transform 0.3s ease; /* Smooth transition */
}

.agent-settings-form .advanced-settings .toolbar,
.user-instructions .toolbar {
    display: flex;
    justify-content: space-between;
}

.agent-settings-form .advanced-settings .toolbar .copy-btn,
.user-instructions .toolbar .copy-btn {
    color: var(--primary-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.extraction-method .panel-toggle-link .toggle-icon.expanded {
    transform: rotate(180deg);
}

/* when the panel is expanded */
.agent-settings-form .extraction-methods .extraction-method:has(.expanded) {
    background-color: var(--base-background-color);
}
