.agent-select-menu {
    width: 100%;
}

.agent-select-menu .dropdown-toggle-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    background-color: #fff;
    border-color: var(--gray-color);
    color: inherit;
    font-weight: unset;
}

.agent-select-menu .dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    width: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 30vw;
}

.agent-select-menu .dropdown-menu li {
    white-space: nowrap;
    padding: 4px 10px;
}

.agent-select-menu .dropdown-menu li.selected {
    background-color: #f0f0f0;
}

.agent-select-menu .dropdown-menu li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.agent-select-menu .dropdown-menu li a {
    text-decoration: none;
}

.agent-select-menu .agent-option,
.agent-select-menu .selected-agent-option {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 0.2em;
    width: 100%;
}

.agent-select-menu .agent-option .agent-name,
.agent-select-menu .agent-option .repository-id {
    color: var(--secondary-color);
    font-weight: 400;
}

.agent-select-menu .agent-option .agent-name,
.agent-select-menu .agent-option .repository-id,
.agent-select-menu .selected-agent-option .agent-name,
.agent-select-menu .selected-agent-option .repository-id {
    text-overflow: ellipsis;
    overflow: hidden;
}

.agent-select-menu .agent-option .agent-name,
.agent-select-menu .selected-agent-option .agent-name {
    flex: 0 1 auto;
}

.agent-select-menu .agent-option .repository-id,
.agent-select-menu .selected-agent-option .repository-id {
    flex: 0 2 50%;
    text-align: left;
}

.agent-select-menu .agent-option .agent-with-deleted-repository,
.agent-select-menu .selected-agent-option .agent-with-deleted-repository{
    flex: 0 1 auto;
}
