.chat-list-component .chat-item {
    padding: 4px 0 4px 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat-list-component .chat-item .form-control {
    padding: 4px 8px;
}

.chat-list-component .chat-item.selected {
    background-color: #ddd;
}

.chat-list-component .chat-item.edited {
    padding: 0;
}

.chat-list-component .chat-item .chat-name {
    width: 90%;
}

.chat-list-component .chat-item .chat-name .inline-editable-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.chat-list-component .chat-item .chat-name a {
    text-decoration: none;
    color: unset;
}

.chat-list-component .chat-item .btn-group {
    display: flex;
}

.chat-list-component .chat-item .btn-group .dropdown-menu-right {
    margin-top: 4px;
}

.chat-list-component .chat-item .btn-group .dropdown-item span {
    margin-left: 8px;
}

.chat-list-component .chat-item .open-chat-actions-btn {
    display: none;
}

.chat-list-component .chat-item:not(.edited):hover {
    background-color: #ddd;
    cursor: pointer;
}

.chat-list-component .chat-item:not(.edited):hover .open-chat-actions-btn {
    display: block;
}
