.onto-search-icon {
  cursor: pointer;
  color: var(--gw-button-tertiary-icon-color);
  transition: all 0.15s ease-out;

  &.ri-search-line {
    padding: .5rem .8rem;
  }

  &:hover {
    transform: scale(1.2);
  }
}
