.dialog-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  // Because the tooltip we use position itself on z-index: 9999
  z-index: 9998;
  margin-left: -10px;
  background-color: rgb(0 0 0 / 50%);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  color: var(--gw-secondary-base, var(--base-text-color));
}

.dialog {
  z-index: 1001;
  max-width: 60vw;
  max-height: 90vh;
  font-family: inherit;
  font-weight: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  border: none;
  color: var(--gw-dialog-color);
  background-color: var(--gw-dialog-background);
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);

  .dialog-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;

    .dialog-title {
      margin: .5rem 0;
      font-weight: 400;
    }

    & .close-btn {
      padding: 0;
      cursor: pointer;
      background: 0 0;
      border: 0;
    }
  }

  .dialog-body {
    padding: 0 15px 15px;
    overflow: auto;
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }
}
