<div class="help-info">
    <h4>Class Count Slider</h4>

    <p>
        Allows you to reduce the number of classes displayed on the diagram
        by sorting those who have the maximum number of instances in your repository.
        You can adjust the count precisely using click + drag movement or the mousewheel
        to the number you are satisfied with.
    </p>
    <ul>
        <li><em>Min value:</em> 1</li>
        <li><em>Max value:</em> Calculated from your repository</li>
    </ul>
</div>
