<!-- Start save graph modal -->

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"></button>
    <h3 class="modal-title">{{title}}</h3>
</div>
<form novalidate ng-submit="ok()" name="form">
    <div class="modal-body">
        <input id="wb-graphviz-savegraph-name" required type="text" ng-model="graph.name" class="form-control"
               ng-change="graphExists = false"
               placeholder="Enter name" ng-maxlength="100"/>
        <label for="share-graph"
               uib-tooltip="If checked other users will be able to see the graph but not delete or edit it.">
            <input id="share-graph" type="checkbox" ng-model="graph.shared">
            Share graph with other users
        </label>
        <input style="height: 0; border: 0; padding: 0; margin: 0;" autofocus/>
        <br>
        <div ng-show="form.$error.maxlength">
            <div class="alert alert-danger" style="margin-top: 5px;">Name is too long!</div>
        </div>
        <div ng-show="form.$error.required.length">
            <div ng-hide="graph.name" class="alert alert-danger" style="margin-top: 5px;">Name cannot be empty!</div>
        </div>
        <div ng-hide="form.$error.required.length" ng-if="graphExists" class="alert alert-danger"
             style="margin-top: 5px;">Saved graph with name <strong>&#39;{{graph.name}}&#39;</strong> already exists!
        </div>
        <!-- <div ng-if="graphExists || overwrite"><label for="override-saved">Overwrite existing saved graph <input id="override-saved" type="checkbox" ng-model="overwrite"></label></div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        <button ng-if="mode == 'update'" id="wb-graphviz-savegraph-submit2" class="btn btn-tertiary" ng-click="saveNew()" type="button">Save as new...</button>
        <button id="wb-graphviz-savegraph-submit" class="btn btn-primary" ng-click="ok()" type="submit">{{okButtonText}}</button>
    </div>
</form>

<!-- End save graph modal -->

