<link href="css/import-resource-tree.css?v=[AIV]{version}[/AIV]" rel="stylesheet">

<div class="import-resource-tree mt-2" ng-if="resources && !resources.isEmpty()">
    <div class="import-resource-tree-header">
        <div class="import-resources-actions">
            <div class="import-resource-status-dropdown btn-group" uib-dropdown>
                <button type="button" class="btn btn-secondary dropdown-toggle"
                        ng-class="{'selected': selectedByStatus}"
                        uib-dropdown-toggle>
                    <input type="checkbox" prop-indeterminate="areAllDisplayedImportResourcesPartialSelected" ng-model="areAllDisplayedImportResourcesSelected">
                    {{selectedByStatus ? (('import.import_resource_tree.status.' + selectedByStatus) | translate) : '
                    '}}
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="button" class="dropdown-item"
                                ng-click="selectResourceWithStatus(STATUS_OPTIONS.ALL)">
                            {{'import.import_resource_tree.status.ALL' | translate}}
                        </button>
                        <button type="button" class="dropdown-item"
                                ng-click="selectResourceWithStatus(STATUS_OPTIONS.NONE)">
                            {{'import.import_resource_tree.status.NONE' | translate}}
                        </button>
                        <button type="button" class="dropdown-item"
                                ng-click="selectResourceWithStatus(STATUS_OPTIONS.IMPORTED)">
                            {{'import.import_resource_tree.status.IMPORTED' | translate}}
                        </button>
                        <button type="button" class="dropdown-item"
                                ng-click="selectResourceWithStatus(STATUS_OPTIONS.NOT_IMPORTED)">
                            {{'import.import_resource_tree.status.NOT_IMPORTED' | translate}}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="import-resource-selected-actions btn-group"
                 ng-if="selectedResources && selectedResources.length > 0">
                <div class="btn-group batch-import-dropdown" uib-dropdown
                     uib-popover="{{'import.selected.items' | translate}}"
                     popover-trigger="mouseenter"
                     popover-placement="top">
                    <button type="button" class="btn btn-primary batch-import-btn" ng-click="importAll(false)">
                        <span class="icon-import"></span>
                        {{'common.import' | translate}}
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle-split dropdown-toggle"
                            uib-dropdown-toggle>
                        <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <button type="button" class="dropdown-item import-without-change-btn batch-import-without-change-btn"
                                    ng-click="importAll(true)">
                                {{'import.without.changing.settings' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-secondary reset-status-btn batch-reset-btn" type="button" ng-click="onResetStatus()"
                        ng-if="canResetSelectedResources"
                        uib-popover="{{'import.reset.last.imported' | translate}}"
                        popover-trigger="mouseenter"
                        popover-placement="top">
                    {{'import.reset.status' | translate}}
                </button>
                <button ng-if="canRemoveResource" class="btn btn-secondary remove-resources-btn" type="button" ng-click="onRemoveResources()"
                        uib-popover="{{'import.remove.selected' | translate}}"
                        popover-trigger="mouseenter"
                        popover-placement="top">
                    {{'import.remove.btn' | translate}}
                </button>
            </div>
        </div>
        <div class="import-resource-tree-filter btn-group">
            <div ng-if="showTypeFilter" class="import-resource-type-filter mr-1">
                <button class="btn btn-secondary show-all-resources-btn"
                        ng-click="filterByTypeChanged(TYPE_FILTER_OPTIONS.ALL)"
                        ng-class="{'active': TYPE_FILTER_OPTIONS.ALL === filterByType}">
                    <em class="icon-file"></em>
                    <em class="icon-folder"></em>
                </button>
                <button class="btn btn-secondary show-only-folders-btn"
                        ng-click="filterByTypeChanged(TYPE_FILTER_OPTIONS.DIRECTORY)"
                        ng-class="{'active': TYPE_FILTER_OPTIONS.DIRECTORY === filterByType}">
                    <em class="icon-folder"></em>
                </button>
                <button class="btn btn-secondary show-only-files-btn"
                        ng-click="filterByTypeChanged(TYPE_FILTER_OPTIONS.FILE)"
                        ng-class="{'active': TYPE_FILTER_OPTIONS.FILE === filterByType}">
                    <em class="icon-file"></em>
                </button>
            </div>

            <div class="import-resource-filter btn-group">
                <div class="input-group">
                    <input id="fileQuery" class="form-control" type="text" ng-model="filterByFileName"
                           ng-change="filterByFileNameChanged(filterByFileName)"
                           placeholder="{{'import.type.to.filter' | translate}}">
                    <label class="input-group-addon" for="fileQuery">
                        <span class="icon-search icon-lg text-muted"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <table class="import-resource-table mt-3">
        <thead>
        <tr>
            <th class="import-resource-header-cell import-resource-cell-select"></th>
            <th class="import-resource-header-cell import-resource-name"
                ng-click="sort(SORTING_TYPES.NAME)">
                <span>
                    {{'import.import_resource_tree.header.name' | translate}}
                </span>
                <span ng-class="{
                        'sorting_desc': SORTING_TYPES.NAME === sortedBy &&  !sortAsc,
                        'sorting_asc': SORTING_TYPES.NAME === sortedBy && sortAsc,
                        'sorting': SORTING_TYPES.NAME !== sortedBy
                        }">
                        </span>
            </th>
            <th class="import-resource-header-cell import-resource-size"
                ng-click="sort(SORTING_TYPES.SIZE)">
                <span>
                    {{'import.import_resource_tree.header.size' | translate}}
                </span>
                <span ng-class="{
                        'sorting_desc': SORTING_TYPES.SIZE === sortedBy &&  !sortAsc,
                        'sorting_asc': SORTING_TYPES.SIZE === sortedBy && sortAsc,
                        'sorting': SORTING_TYPES.SIZE !== sortedBy
                        }">
                </span>
            </th>
            <th class="import-resource-header-cell import-resource-modified"
                ng-click="sort(SORTING_TYPES.MODIFIED)">
                <span>{{'import.import_resource_tree.header.modified' | translate}}</span>
                <span ng-class="{
                        'sorting_desc': SORTING_TYPES.MODIFIED === sortedBy &&  !sortAsc,
                        'sorting_asc': SORTING_TYPES.MODIFIED === sortedBy && sortAsc,
                        'sorting': SORTING_TYPES.MODIFIED !== sortedBy
                        }">
                </span>
            </th>
            <th class="import-resource-header-cell import-resource-imported"
                ng-click="sort(SORTING_TYPES.IMPORTED)">
                <span>
                    {{'import.import_resource_tree.header.imported' | translate}}
                </span>
                <span ng-class="{
                        'sorting_desc': SORTING_TYPES.IMPORTED === sortedBy &&  !sortAsc,
                        'sorting_asc': SORTING_TYPES.IMPORTED === sortedBy && sortAsc,
                        'sorting': SORTING_TYPES.IMPORTED !== sortedBy
                        }">
                </span>
            </th>
            <th class="import-resource-header-cell import-resource-context"
                ng-click="sort(SORTING_TYPES.CONTEXT)">
                <span>
                    {{'import.import_resource_tree.header.context' | translate}}
                </span>
                <span ng-class="{
                        'sorting_desc': SORTING_TYPES.CONTEXT === sortedBy &&  !sortAsc,
                        'sorting_asc': SORTING_TYPES.CONTEXT === sortedBy && sortAsc,
                        'sorting': SORTING_TYPES.CONTEXT !== sortedBy
                        }">
                </span>
            </th>
            <th class="import-resource-header-cell import-resource-action"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="resource in displayResources track by resource.importResource.name"
            class="import-resource-row title-row"
            ng-class="{ 'even-row-start': $even, 'odd-row-start': $odd}">
            <td class="import-resource-cell import-resource-cell-select">
                <input type="checkbox" ng-model="resource.selected" ng-click="selectionChanged(resource)"
                       prop-indeterminate="resource.partialSelected" class="resource-select-checkbox">
            </td>
            <td colspan="5"
                ng-style="{'padding-left': (filterByType !== TYPE_FILTER_OPTIONS.FILE ? resource.indent : '8px')}"
                class="import-resource-cell">
                <span class="import-resource-title">
                    <em ng-class="{'icon-folder': resource.isDirectory(), 'icon-file': resource.isFile()}"></em>
                    <div ng-if="onEditResource && resource.isEditable">
                        <a href="#" ng-click="editResource(resource)"><strong>{{resource.name}}</strong></a>
                    </div>
                    <div ng-if="!resource.isEditable">
                        <strong>{{resource.name}}</strong>
                    </div>
                </span>
            </td>
            <td class="import-resource-cell">
                <div class="import-resource-actions">
                    <import-resource-status-info class="btn btn-sm import"
                                                 ng-if="resource.hasStatusInfo"
                                                 resource="resource"></import-resource-status-info>
                    <button role="button" class="btn btn-link btn-sm secondary import-resource-action-reset-btn"
                            ng-click="resetStatus(resource)"
                            ng-if="resource.canResetStatus"
                            ng-disabled="selectedResources.length > 1"
                            gdb-tooltip="{{'import.reset.status' | translate}}">
                        <span class="icon-close"></span>
                    </button>
                    <button ng-if="canRemoveResource" class="btn btn-link btn-sm secondary import-resource-action-remove-btn"
                            ng-click="removeResource(resource)"
                            gdb-tooltip="{{'import.remove.btn' | translate}}">
                        <em class="icon-trash"></em>
                    </button>
                    <button class="btn btn-primary btn-sm import-resource-action-import-btn"
                            ng-if="resource.isImportable"
                            ng-click="onImport({resource: resource})"
                            gdb-tooltip="{{'import.import.btn' | translate}}">
                        <span class="icon-import"></span>
                    </button>
                    <button class="btn btn-sm"
                            ng-click="stopImport(resource)"
                            ng-disabled="resource.importResource.status === ImportResourceStatus.INTERRUPTING"
                            ng-if="resource.hasOngoingImport"
                            gdb-tooltip="{{'import.import_resource_tree.action.interrupt_import' | translate}}">
                        <span class="icon-close"></span>
                        {{'import.import_resource_tree.action.abort' | translate}}
                    </button>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end class="import-resource-row info-row" ng-class="{ 'even-row-end': $even, 'odd-row-end': $odd}">
            <td class="import-resource-cell import-resource-cell-select"></td>
            <td ng-style="{'padding-left': (filterByType !== TYPE_FILTER_OPTIONS.FILE ? resource.indent : '8px')}"
                class="import-resource-cell">
                <import-resource-message resource="resource"></import-resource-message>
            </td>
            <td class="import-resource-cell import-resource-size">
                {{ resource.importResource.size || ''}}
            </td>
            <td class="import-resource-cell import-resource-modified"
                ng-class="{'font-weight-bold': resource.isImportedBiggerThanModified}">
                {{ resource.importResource.modifiedOn | date:'yyyy-MM-dd, HH:mm' }}
            </td>
            <td class="import-resource-cell import-resource-imported"
                ng-class="{'font-weight-bold': resource.isModifiedBiggerThanImported}">
                {{ resource.importResource.importedOn | date:'yyyy-MM-dd, HH:mm' }}
            </td>
            <td colspan="2" class="import-resource-cell">
                <a if="resource.importResource.context"
                   title="{{resource.importResource.context}}"
                   class="uri-link"
                   href="{{'resource?uri=' + resource.importResource.context + '&role=context'}}">
                    {{resource.shorthedContext ? resource.shorthedContext : resource.importResource.context}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
