<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"></button>
    <h4 class="modal-title">{{'import.text_snippet_dialog.title' | translate}}</h4>
</div>

<div class="modal-body">
    <form name="snippetForm" id="snippetForm">
        <div class="form-group">
            <label for="wb-import-textarea">{{'import.text_snippet_dialog.text_snippet.label' | translate}}</label>
            <textarea id="wb-import-textarea" name="rdfSnippet" class="form-control" rows="10" ng-model="rdfText"
                      ng-maxlength="sizeLimit-1"
                      placeholder="{{'import.text_snippet_dialog.text_snippet.placeholder' | translate}}"></textarea>
            <div class="text-right">
                <sub ng-if="!snippetForm.rdfSnippet.$error.maxlength">{{sizeLimit - rdfText.length}}/{{sizeLimit}}</sub>
            </div>
            <div ng-if="snippetForm.rdfSnippet.$error.maxlength" class="alert alert-danger">
                {{'import.text_snippet_dialog.text_snippet.validation_message' | translate: {limit: sizeLimit} }}
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="mb-1">
        <span
            uib-popover="{{'import.text_snippet_dialog.auto_start.tooltip' | translate}}"
            popover-trigger="mouseenter"
            popover-placement="top">
            <input id="import-now-checkbox" type="checkbox" ng-model="startImport"/>
            <label for="import-now-checkbox">{{'import.text_snippet_dialog.auto_start.label' | translate}}</label>
        </span>
    </div>
    <div>
        <button type="button" ng-click="cancel()" class="btn btn-secondary">{{'common.cancel.btn' | translate}}</button>
        <div class="btn-group import-format-dropdown" uib-dropdown>
            <button type="button" class="btn btn-secondary dropdown-toggle import-format-dropdown-btn"
                    uib-dropdown-toggle>
                {{'import.text_snippet_dialog.import_format_menu.label' | translate}}: {{importFormat.name}}
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="format in importFormats">
                    <a ng-click="setFormat(format)" class="dropdown-item">{{format.name}}</a>
                </li>
            </ul>
        </div>
        <button id="wb-import-importText" class="btn btn-primary" type="button"
                ng-click="ok()">
            <em class="icon-import"></em>{{'common.import' | translate}}
        </button>
    </div>
</div>
