<div class="ot-view-info">
    <h4>{{'import.help.on_upload.import_user_data' | translate}}</h4>
    <p>
        {{'import.help.on_upload.to_reimport_again' | translate}}<br>
        {{'import.help.on_upload.file_size_limit_can_be_changed' | translate}}
        <strong class="file-size-prop copyable">graphdb.workbench.maxUploadSize</strong>
        <copy-to-clipboard tooltip-text="import.help.buttons.copy_file_size_prop.tooltip"></copy-to-clipboard>
        {{'import.help.on_upload.the_property' | translate}}.
    </p>

    <h4>{{'import.help.on_upload.execution' | translate}}</h4>
    <ul>
        <li>{{'import.help.on_upload.work_in_background' | translate}}</li>
        <li>{{'import.help.on_upload.interrupt_support' | translate}}</li>
        <li>{{'import.help.on_upload.parser_config' | translate}}</li>
    </ul>
</div>
