.onto-user-menu {
  position: relative;
  width: fit-content;

  button {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    user-select: none;
    padding: .4em 1rem;
    cursor: pointer;
    white-space: nowrap;
    place-items: center;
    transition: all 0.15s ease-out;
    background-color: transparent;
    color: var(--gw-button-tertiary-color);
    border: 1px solid var(--gw-button-tertiary-border-color);

    .ri-user-line,
    .ri-arrow-down-s-line {
      color: var(--gw-button-tertiary-icon-color);
    }

    &:hover {
      background-color: var(--gw-button-tertiary-hover-background);
      color: var(--gw-button-tertiary-hover-color);
      border: 1px solid var(--gw-button-tertiary-hover-border-color);

      & .ri-user-line {
        transform: scale(1.2);
      }
    }

    &:focus {
      outline: none;
    }

    &.open {
      color: var(--gw-button-primary-color);
      background-color: var(--gw-button-primary-background);

      .ri-user-line,
      .ri-arrow-down-s-line {
        color: var(--gw-button-primary-color);
      }

      &:hover {
        color: var(--gw-button-primary-hover-color);
        background-color: var(--gw-button-primary-hover-background);
        border-color: var(--gw-button-primary-hover-border-color);

        .ri-user-line {
          transform: scale(1.2);
        }
      }
    }

    .username {
      padding: 0 5px;
    }

    i {
      transition: 0.15s ease-out;
      &.ri-arrow-down-s-line {
        font-size: 1.1em;
        transition: all 0.2s ease-in;
      }
    }
  }

  .onto-user-menu-dropdown {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    right: 0;
    min-width: 7rem;
    font-size: 1rem;
    width: 100%;
    color: var(--gw-button-primary-color);
    background-color: var(--gw-button-primary-background);

    translate-label {
      padding: .4rem 1rem;
      user-select: none;
      white-space: nowrap;
      font-weight: 400;

      &:hover {
          color: var(--gw-button-primary-hover-color);
          background-color: var(--gw-button-primary-hover-background);
          border-color: var(--gw-button-primary-hover-border-color);
        }
    }
  }
}
