:host {
  display: block;


  .login-form {
    max-width: 600px;
    padding-top: 4em;
    margin: auto;

    .login-card {
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
      padding: 1.6rem;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 2.5rem;
    }

    .group {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      .input-wrapper {
        position: relative;
        width: 100%;
        display: table;
        border-collapse: separate;

        & .icon-wrapper {
          color: var(--gw-text-muted-color);
          background-color: var(--gw-inputgroup-addon-background);
        }
      }

      .input-field {
        width: 100%;
        border: 1px solid var(--gw-form-field-border-color);
        border-radius: 0;
        padding: .75rem 1.5rem;
        font-size: 1.125rem;
        line-height: 1.25;
        background-clip: padding-box;
        outline: none;
        box-sizing: border-box;
        color: var(--gw-form-field-color);
        background-color: var(--gw-form-field-background);

        &:focus {
          box-shadow: none;
        }

        &.ng-invalid.ng-touched {
          border: 1px solid #FA787E;
        }
      }
    }

    .icon-wrapper {
      flex: none;
      font-size: 1.4rem;
      text-align: center;
      padding: .5rem .75rem .5rem 0;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 1.25;
      color: #55595c;
      background-color: #fff;
      border-radius: 0;
      border: none;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;

      i {
        font-size: 2rem;
        padding-bottom: 0;
        padding-left: .25rem;
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }
  }
}
