<link href="css/clustermanagement.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div id="wb-cluster-group">
    <h1>{{pageTitle}}</h1>
    <div onto-loader-new ng-if="loader" class="cluster-loader" message="getLoaderMessage" size="75"></div>

    <div ng-show="!loader && clusterConfiguration">
        <form id="cluster-configuration-form" class="form-horizontal" name="clusterConfigurationForm" novalidate>
            <fieldset>
                <div class="form-group row">
                    <h5>{{'cluster_management.cluster_page.manual_node_add' | translate}}</h5>

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="node-rpc-address" class="col-md-3 col-lg-2 col-form-label">{{'cluster_management.cluster_page.node_address' | translate}}*</label>
                            <div class="col-md-7 col-lg-6 col-xl-5" tooltip="{{'cluster_management.cluster_page.node_address_tooltip' | translate}}">
                                <input class="form-control" placeholder="{{'cluster_management.cluster_page.node_address_placeholder' | translate}}"
                                       type="text" ng-model="rpcAddress" name="rpcAddress"
                                       id="node-rpc-address" ng-change="onInput()">
                            </div>
                        </div>
                    </div>
                    <div ng-show="badRpcAddress" class="col-md-10 col-lg-8 col-xl-7 alert alert-danger">
                        {{'cluster_management.cluster_page.errors.rpc_pattern_warning' | translate}}
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary add-node-btn"
                                    ng-click="addNodeToList(rpcAddress)" ng-disabled="!rpcAddress"
                                    tooltip="{{'cluster_management.cluster_page.add_node_btn_tooltip' | translate}}"
                                    tooltip-placement="top">
                                <span class="icon-plus"></span>
                                {{'cluster_management.cluster_page.add_node_btn' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div ng-if="clusterConfiguration.nodes.includes(rpcAddress)" class="node-already-added-error alert alert-danger mt-1">
                                {{'cluster_management.cluster_page.errors.node_in_list' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-xl-7 mb-1 mt-1">
                            <h5>{{'cluster_management.cluster_page.cluster_nodes_list' | translate}}</h5>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-if="clusterConfiguration.nodes.length < 2" class="not-enough-nodes-error alert alert-danger mt-1">
                                        {{'cluster_management.cluster_page.errors.at_least_two_nodes' | translate}}
                                    </div>
                                </div>
                            </div>
                            <ul ng-if="clusterConfiguration.nodes && clusterConfiguration.nodes.length" class="list-group nodes-list">
                                <li ng-repeat="node in clusterConfiguration.nodes" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center node">
                                    <div class="break-word">
                                        <span class="icon-repo-graphdb icon-2-5x"></span>
                                        {{node}}
                                    </div>
                                    <button type="button" ng-click="removeNodeFromList($index, node)" ng-if="node !== currentNode.address"
                                            tooltip="{{'cluster_management.cluster_page.remove_node_btn_tooltip' | translate}}" tooltip-placement="top"
                                            class="btn btn-link remove-node-btn">
                                        <span class="icon-minus"></span>
                                    </button>
                                    <div ng-if="node == currentNode.address">
                                        {{'cluster_management.cluster_page.current_node' | translate}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="indented-div">
                        <span class="padding-label wrapper-div"
                              tooltip="{{'cluster_management.cluster_page.advanced_options_tooltip' | translate}}">
                            <i class="{{getAdvancedOptionsClass()}}" aria-hidden="true"></i>
                            <button class="text-btn" data-toggle="collapse" style="text-align: left" data-target="#advancedOptions">
                                {{'cluster_management.cluster_page.advanced_options' | translate}}
                            </button>
                        </span>
                    </div>

                    <div id="advancedOptions" class="collapse pb-1 pl-2">
                        <!-- Simply to satisfy the HTML specs, because it's reported as bug from SonarCloud -->
                        <legend style="display: none">{{'cluster_management.cluster_page.create_form.legend' | translate}}</legend>
                        <div class="form-group row">
                            <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.electionMinTimeout.$invalid}">
                                <label for="election-minimum-timeout" class="col-md-3 col-lg-2 col-form-label">{{'cluster_management.cluster_configuration_properties.election_min_timeout' | translate}}*</label>
                                <div class="col-md-7 col-lg-6 col-xl-5" tooltip="{{'cluster_management.cluster_configuration_properties.election_min_timeout_tooltip' | translate}}">
                                    <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.electionMinTimeout"
                                           required id="election-minimum-timeout" min="0" pattern="[0-9]+" name="electionMinTimeout">
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionMinTimeout.$error.required">{{'required.field' | translate}}</div>
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionMinTimeout.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.electionRangeTimeout.$invalid}">
                                <label for="election-range-timeout" class="col-md-3 col-lg-2 col-form-label">{{'cluster_management.cluster_configuration_properties.election_range_timeout' | translate}}*</label>
                                <div class="col-md-7 col-lg-6 col-xl-5" tooltip="{{'cluster_management.cluster_configuration_properties.election_range_timeout_tooltip' | translate}}">
                                    <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.electionRangeTimeout"
                                           required id="election-range-timeout" min="0" pattern="[0-9]+" name="electionRangeTimeout">
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionRangeTimeout.$error.required">{{'required.field' | translate}}</div>
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.electionRangeTimeout.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.heartbeatInterval.$invalid}">
                                <label for="heartbeat-interval" class="col-md-3 col-lg-2 col-form-label">{{'cluster_management.cluster_configuration_properties.heartbeat_interval' | translate}}*</label>
                                <div class="col-md-7 col-lg-6 col-xl-5" tooltip="{{'cluster_management.cluster_configuration_properties.heartbeat_interval_tooltip' | translate}}">
                                    <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.heartbeatInterval"
                                           required id="heartbeat-interval" min="0" pattern="[0-9]+" name="heartbeatInterval">
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.heartbeatInterval.$error.required">{{'required.field' | translate}}</div>
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.heartbeatInterval.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.messageSizeKB.$invalid}">
                                <label for="message-size" class="col-md-3 col-lg-2 col-form-label">{{'cluster_management.cluster_configuration_properties.message_size_kb' | translate}}*</label>
                                <div class="col-md-7 col-lg-6 col-xl-5" tooltip="{{'cluster_management.cluster_configuration_properties.message_size_kb_tooltip' | translate}}">
                                    <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.messageSizeKB"
                                           required id="message-size" min="0" pattern="[0-9]+" name="messageSizeKB">
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.messageSizeKB.$error.required">{{'required.field' | translate}}</div>
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.messageSizeKB.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="input-group" ng-class="{'has-danger': clusterConfigurationForm.verificationTimeout.$invalid}">
                                <label for="verification-timeout" class="col-md-3 col-lg-2 col-form-label">{{'cluster_management.cluster_configuration_properties.verification_timeout' | translate}}*</label>
                                <div class="col-md-7 col-lg-6 col-xl-5" tooltip="{{'cluster_management.cluster_configuration_properties.verification_timeout_tooltip' | translate}}">
                                    <input class="form-control" placeholder="{{'required.field' | translate}}" type="number" ng-model="clusterConfiguration.verificationTimeout"
                                           required id="verification-timeout" min="0" pattern="[0-9]+" name="verificationTimeout">
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.verificationTimeout.$error.required">{{'required.field' | translate}}</div>
                                    <div class="form-control-feedback" ng-show="clusterConfigurationForm.verificationTimeout.$error.pattern">{{'cluster_management.cluster_page.errors.only_positive_integers' | translate}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div ng-repeat="error in errors" class="cluster-properties-error col-md-10 col-lg-8 col-xl-7 alert alert-danger mt-1">
                        {{error}}
                    </div>
                    <div ng-if="preconditionErrors" class="precondition-errors col-md-10 col-lg-8 col-xl-7 alert alert-danger">
                        <div class="row">
                            <div class="col-xs-6">
                                {{'cluster_management.cluster_page.errors.preconditions_failed.label' | translate}}
                                <ul>
                                    <li>{{'cluster_management.cluster_page.errors.preconditions_failed.valid_license' | translate}}</li>
                                    <li>{{'cluster_management.cluster_page.errors.preconditions_failed.authentication_secret' | translate}}</li>
                                    <li>{{'cluster_management.cluster_page.errors.preconditions_failed.nodes_reachable' | translate}}</li>
                                    <li>{{'cluster_management.cluster_page.errors.preconditions_failed.no_cluster_configured' | translate}}</li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                {{'cluster_management.cluster_page.errors.nodes_status_label' | translate}}
                                <ul>
                                    <li ng-repeat="error in preconditionErrors">
                                        {{error}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <button id="createCluster" ng-click="createCluster(clusterConfigurationForm)" type="button"
                            class="btn btn-primary create-cluster-btn">
                        {{'cluster_management.cluster_page.create_btn' | translate}}
                    </button>
                    <a ng-click="goToClusterManagementPage()" class="btn btn-secondary cancel-btn">{{'common.cancel.btn' | translate}}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
