<link href="css/clustermanagement.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>
<title>{{'view.clusterManagement.title' | translate}}</title>

<h1>
    {{title}}
    <span class="btn btn-link"
          ng-class="{ 'help-button': showExternalElements, 'help-button-disabled': !showExternalElements }"
          popover-template="'js/angular/templates/titlePopoverTemplate.html'"
          popover-trigger="mouseenter"
          popover-placement="bottom"
          popover-append-to-body="true"><span class="icon-info"></span></span>
</h1>

<div onto-loader-new
     ng-show="loader"
     class="cluster-loader"
     message="getLoaderMessage"
     size="75">
</div>

<div class="clearfix mb-2">
    <button type="button" class="btn btn-primary create-cluster-btn" ng-if="!hasClusterConfiguration"
            ng-click="createCluster()"
            tooltip="{{'cluster_management.buttons.create_cluster_tooltip' | translate}}" tooltip-placement="bottom">
        <span class="icon-plus"></span> {{'cluster_management.buttons.create_cluster' | translate}}
    </button>
    <button type="button" class="btn btn-secondary delete-cluster-btn mr-2" ng-disabled="!clusterConfiguration"
            ng-click="showDeleteDialog()"
            tooltip="{{'cluster_management.buttons.delete_cluster_tooltip' | translate}}" tooltip-placement="bottom">
        <span class="icon-trash"></span> {{'cluster_management.buttons.delete_cluster' | translate}}
    </button>

    <button type="button" class="btn btn-primary add-node-btn" ng-if="currentNode.nodeState === 'LEADER'"
            ng-click="addNodeToCluster()"
            tooltip="{{'cluster_management.buttons.add_nodes_btn_tooltip' | translate}}" tooltip-placement="bottom">
        <span class="icon-plus"></span> {{'cluster_management.buttons.add_nodes_btn' | translate}}
    </button>
    <button type="button" class="btn btn-secondary remove-node-btn" ng-if="currentNode.nodeState === 'LEADER'"
            ng-click="removeNodesFromCluster()"
            tooltip="{{'cluster_management.buttons.remove_nodes_btn_tooltip' | translate}}" tooltip-placement="bottom">
        <span class="icon-minus"></span> {{'cluster_management.buttons.remove_nodes_btn' | translate}}
    </button>
</div>

<div class="ng-scope" ng-hide="hasClusterConfiguration">
    <p class="alert alert-danger">
        {{'cluster_management.no_cluster_configured' | translate}}
    </p>
</div>

<div ng-if="hasClusterConfiguration" class="row">
    <div class="col-lg-6">
        <div class="card cluster-information-card">
            <div class="card-block">
                <div class="clearfix">
                    <h3 class="mb-0">
                        <span class="collapsible-heading" data-toggle="collapse" data-target="#cluster-status"
                              aria-expanded="false" aria-controls="cluster-status">
                            <em class="icon-caret-down text-muted"></em>
                              {{'cluster_management.cluster_status.label' | translate}}
                        </span>
                    </h3>
                </div>
                <div class="collapse show in" id="cluster-status">
                    <div class="mt-1" ng-if="!!leader">
                        <div class="col-xs-6 mb-1 no-margin-list">
                            <h4>{{'cluster_management.cluster_status.leader' | translate}}</h4>
                            <div>{{'cluster_management.cluster_status.node.address' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{leader.address}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_status.node.endpoint' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{leader.endpoint}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_status.node.state' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{leader.nodeState}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_status.node.term' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{leader.term}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 container">
                            <h4>{{'cluster_management.cluster_status.followers' | translate}}</h4>
                            <div ng-repeat="node in followers">
                                {{node.address}} - {{node.syncStatus}}
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" ng-if="!leader">
                        <div class="col-xs-12">
                            <h4>{{'cluster_management.cluster_status.election.label' | translate}}</h4>
                            <h5>{{'cluster_management.cluster_status.election.nodes_status' | translate}}</h5>
                            <ol>
                                <li ng-repeat="node in followers">
                                    {{node.address}} - {{node.nodeState}}
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card cluster-configuration-card">
            <div class="card-block">
                <div class="clearfix">
                    <h3 class="mb-0">
                        <span class="collapsible-heading" data-toggle="collapse" data-target="#cluster-configuration"
                              aria-expanded="false" aria-controls="cluster-configuration">
                            <em class="icon-caret-down text-muted"></em>
                            {{'cluster_management.cluster_configuration.label' | translate}}
                        </span>
                    </h3>
                </div>
                <div class="collapse show in" id="cluster-configuration">
                    <div class="mt-1">
                        <div class="col-xs-8 mb-1 no-margin-list">
                            <h4>{{'cluster_management.cluster_configuration.configuration_label' | translate}}</h4>
                            <!--                            <ul>-->
                            <div>{{'cluster_management.cluster_configuration_properties.election_min_timeout' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{clusterConfiguration.electionMinTimeout}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_configuration_properties.election_range_timeout' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{clusterConfiguration.electionRangeTimeout}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_configuration_properties.heartbeat_interval' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{clusterConfiguration.heartbeatInterval}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_configuration_properties.message_size_kb' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{clusterConfiguration.messageSizeKB}}</div>
                                </li>
                            </ul>
                            <div>{{'cluster_management.cluster_configuration_properties.verification_timeout' | translate}}</div>
                            <ul>
                                <li>
                                    <div>{{clusterConfiguration.verificationTimeout}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <h4>{{'cluster_management.cluster_configuration.nodes_list_label' | translate}}</h4>
                            <div ng-repeat="node in clusterConfiguration.nodes">
                                {{node}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
