:host {
  display: block;
}

.navbar-component {
  width: 15rem;
  position: fixed;
  font-weight: 400;
  z-index: 1010;
  margin: 0;
  padding: 0;
  -moz-transition: width 0.2s ease-in; /* FF4+ */
  -o-transition: width 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: width 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: width 0.2s ease-in;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*Make collapsed menu with absolute position if window height is smaller than the
main menu height*/
@media screen and (max-height: 475px) {
  .navbar-component.collapsed {
    position: absolute;
  }
}

.navbar-component li {
  list-style: none;
  cursor: pointer;
}

.navbar-component li a {
  text-decoration: none;
}

.navbar-component li a.sub-menu-link:not([href=""]):not([tabindex]):hover {
  // Overriding !important in _anchor.scss
  text-decoration: none !important;
}

.navbar-component .sub-menu-item a.sub-menu-link:not([href]) translate-label.menu-item {
  padding-right: 3.5px;
}

.navbar-component a.sub-menu-link:not([href]):hover .menu-item,
.navbar-component a.sub-menu-link[href=""]:hover .menu-item {
  // Overriding !important in _anchor.scss
  text-decoration-line: underline !important;
}

.navbar-component li .menu-element-root:hover,
.navbar-component .sub-menu li:hover {
  // Overriding !important in _anchor.scss
  text-decoration-line: none !important;
}

.navbar-component li .menu-element-root:hover .menu-item-icon,
.navbar-component .menu-element.open .menu-item-icon {
  transform: scale(1.1);
}

.navbar-component .menu-element.open .sub-menu .menu-item-icon {
  transform: scale(0.5);
}

.navbar-component .menu-element {
  position: relative;
}

.navbar-component .menu-element-root {
  padding: 0.8em 2.5em 0.8em 0.8em;
  display: block;
  line-height: 2.5rem;
  position: relative;
  z-index: 100;
  -moz-transition: all 0.18s ease-out; /* FF4+ */
  -o-transition: all 0.18s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.18s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.18s ease-out;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-component .menu-item-icon {
  font-size: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
  text-align: center;
  transform: scale(0.9);
  display: inline-block;
  -moz-transition: all 0.18s ease-out; /* FF4+ */
  -o-transition: all 0.18s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.18s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.18s ease-out;
  pointer-events: none;
}

.navbar-component .menu-element-root .menu-item {
  pointer-events: none;
}

.navbar-component .menu-element-root.active,
.navbar-component .menu-element-root.active:hover {
  background-color: var(--gw-sidenav-submenuitem-active-background);
  color: #ffffff;
}

.navbar-component .active .menu-item-icon {
  transform: scale(1.1);
}

.navbar-component :not(.brand) .menu-element-root {
  font-size: 1.1rem;
}

.navbar-component .brand a {
  display: block;
  position: relative;
  z-index: 5;
}

.navbar-component .sub-menu {
  position: relative;
  padding: 0;
  z-index: 110;
}

.navbar-component .sub-menu li {
  display: none;
}

.navbar-component .sub-menu li a {
  padding: 0.5em 0.8em;
  display: block;
}

.navbar-component .sub-menu li.active a {
  font-weight: 500;
}

.navbar-component .menu-element.open ul li {
  display: block;
}

.navbar-component .menu-element ul:before, .rdf-list ul.datasource:before {
  font-family: 'icomoon', sans-serif !important;
  content: "\e921";
  display: block;
  font-size: 1.5em;
  position: absolute;
  top: -3.3rem;
  right: 1rem;
  -moz-transition: all 0.2s ease-in; /* FF4+ */
  -o-transition: all 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.navbar-component .menu-element.open ul:before, .rdf-list ul.open.datasource:before {
  transform: rotate(180deg);
}

.navbar-component.collapsed {
  width: 4.375rem;
  overflow: visible;
  height: auto;
}

.navbar-component.collapsed .menu-element.open .sub-menu {
  position: absolute;
  top: 0;
  left: 4.375rem;
  width: 15rem;
}

.navbar-component.collapsed .menu-element .menu-item,
.navbar-component.collapsed .menu-element .sub-menu li {
  display: none;
}

.navbar-component.collapsed .menu-element.open .menu-item,
.navbar-component.collapsed .menu-element.open .sub-menu li {
  display: block;
}

.navbar-component.collapsed .menu-element.open .menu-element-root .menu-item {
  display: none;
}

.navbar-component.collapsed .menu-element-root {
  overflow: visible;
}

.navbar-component .menu-element.open ul li.submenu-title,
.navbar-component .submenu-title {
  display: none;
}

.navbar-component.collapsed .menu-element.open ul li.submenu-title {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5em 0.8rem 0.2em 0;
  margin-left: 0.8rem;
  margin-bottom: 0.5em;
}

.navbar-component.collapsed .menu-element.open .sub-menu.align-bottom {
  bottom: 0;
  top: auto;
}

.navbar-component.collapsed .menu-element ul:before {
  display: none;
}

.navbar-component.collapsed .brand a {
  padding: 0.4rem;
}

.navbar-component.collapsed .small-logo, .navbar-component .big-logo {
  display: block;
}

.navbar-component .small-logo, .navbar-component.collapsed .big-logo {
  display: none;
}

/* ---------------- Logo ---------------- */
.navbar-component .brand {
  background-color: var(--gw-sidenav-logo-background);
}

.small-logo {
  width: 50px;
  height: 50px;
}

.big-logo {
  width: 180px;
  height: 50px;
}

/* ---------------- Sidenav Toggle ---------------- */
.toggle-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  line-height: 1.5;
  padding: 0 0.3em;
  z-index: 10;
  cursor: pointer;
  background-color: var(--gw-sidenav-collapsebutton-background);
  color: var(--gw-sidenav-collapsebutton-color);
}

.toggle-menu:hover {
  color: var(--gw-sidenav-collapsebutton-hover-color);
  background-color: var(--gw-sidenav-collapsebutton-hover-background);
}

.toggle-menu [class^="icon-"] {
  transition: all 0.2s ease-in; /* Cross-browser transitions */
  display: inline-block;
}

.toggle-menu:hover [class^="icon-"] {
  transform: scale(1.1);
}

/* ---------------- Top-Level Menus ---------------- */
.navbar-component .menu-element .menu-element-root {
  background-color: var(--gw-sidenav-menuitem-background);
  color: var(--gw-sidenav-menuitem-color);
}

.navbar-component .menu-element .menu-element-root:hover {
  background-color: var(--gw-sidenav-menuitem-hover-background);
  color: var(--gw-sidenav-menuitem-hover-color);
}

.navbar-component .menu-element .menu-element-root .menu-item-icon {
  color: var(--gw-sidenav-menuitem-icon-color);
}

.navbar-component .menu-element .menu-element-root .menu-item-icon:hover {
  color: var(--gw-sidenav-menuitem-hover-icon-color);
}

/* ---------------- Open Menus (with Submenus) ---------------- */
.navbar-component .menu-element.open .menu-element-root {
  background-color: var(--gw-sidenav-menuitem-selected-background);
  color: var(--gw-sidenav-menuitem-selected-color);
}

/* ---------------- Active Menu ---------------- */
.navbar-component .menu-element .menu-element-root.active {
  background-color: var(--gw-sidenav-menuitem-active-background);
  color: var(--gw-sidenav-menuitem-active-color);
}

.navbar-component .menu-element .menu-element-root.active .menu-item-icon {
  color: var(--gw-sidenav-menuitem-active-icon-color);
}

/* ---------------- Submenu ---------------- */
.navbar-component .menu-element .sub-menu-item,
.navbar-component .menu-element .sub-menu {
  background-color: var(--gw-sidenav-submenuitem-background);
  color: var(--gw-sidenav-submenuitem-color);
}

.navbar-component .menu-element .sub-menu-item:hover {
  background-color: var(--gw-sidenav-submenuitem-hover-background);
  color: var(--gw-sidenav-submenuitem-hover-color);
}

/* ---------------- Active Submenu ---------------- */
.navbar-component .menu-element .sub-menu-item.active,
.navbar-component .menu-element .sub-menu-item.active .sub-menu-link {
  background-color: var(--gw-sidenav-submenuitem-active-background);
  color: var(--gw-sidenav-submenuitem-active-color);
}
