:host {
  display: block;
}

.navbar-component {
  width: 15rem;
  position: fixed;
  top: 0;
  font-weight: 400;
  z-index: 1010;
  margin: 0;
  padding: 0;
  -moz-transition: width 0.2s ease-in; /* FF4+ */
  -o-transition: width 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: width 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: width 0.2s ease-in;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*Make collapsed menu with absolute position if window height is smaller than the
main menu height*/
@media screen and (max-height: 475px) {
  .navbar-component.collapsed {
    position: absolute;
  }
}

.navbar-component li {
  list-style: none;
}

.navbar-component li a {
  color: var(--secondary-color);
  text-decoration: none;
}

.navbar-component li .menu-element-root:hover,
.navbar-component .sub-menu li:hover {
  background-color: rgba(0, 0, 0, .1);
}

.navbar-component li .menu-element-root:hover .menu-item-icon,
.navbar-component .menu-element.open .menu-item-icon {
  transform: scale(1.1);
}

.navbar-component .menu-element.open .sub-menu .menu-item-icon {
  transform: scale(0.5);
}

.navbar-component .menu-element {
  border-bottom: 1px solid #fff;
  background-color: #f7f7f7;
  position: relative;
}

.navbar-component .menu-element-root {
  padding: 0.8em 2.5em 0.8em 0.8em;
  display: block;
  line-height: 2.5rem;
  position: relative;
  z-index: 100;
  -moz-transition: all 0.18s ease-out; /* FF4+ */
  -o-transition: all 0.18s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.18s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.18s ease-out;
  color: var(--secondary-color);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-component .menu-item-icon {
  font-size: 2.5rem;
  vertical-align: middle;
  color: var(--primary-color);
  transform: scale(0.9);
  display: inline-block;
  -moz-transition: all 0.18s ease-out; /* FF4+ */
  -o-transition: all 0.18s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.18s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.18s ease-out;
  pointer-events: none;
}

.navbar-component .menu-item-icon.fa-flask {
  /* Temporary: until we get our own icon */
  font-size: 2rem;
  padding: 4px 5px;
}

.navbar-component .menu-element-root .menu-item {
  pointer-events: none;
}

.navbar-component .menu-element-root.active,
.navbar-component .menu-element-root.active:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.navbar-component .active .menu-item-icon {
  color: var(--icon-on-primary-color);
}

.navbar-component :not(.brand) .menu-element-root {
  font-size: 1.1rem;
}

.navbar-component .brand {
  background-color: var(--logo-background-color);
}

.navbar-component .brand a {
  display: block;
  position: relative;
  z-index: 5;
}

.navbar-component .product-version {
  line-height: normal;
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  font-size: 0.625rem;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.2em 0.5em;
  border-color: rgba(255, 255, 255, .2);
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0;
  border-right-width: 0;
}

.navbar-component .menu-element.open,
.navbar-component.collapsed .menu-element:hover {
  background-color: #dcdcdc;
}

.navbar-component .sub-menu {
  position: relative;
  padding: 0;
  z-index: 110;
}

.navbar-component .sub-menu li {
  display: none;
}

.navbar-component .sub-menu li a {
  padding: 0.5em 0.8em;
  display: block;
}

.navbar-component .sub-menu li.active a {
  background-color: var(--primary-color);
  font-weight: 500;
  color: #fff;
}

.navbar-component .menu-element.open ul li {
  display: block;
}

.navbar-component .menu-element ul:before, .rdf-list ul.datasource:before {
  font-family: 'icomoon', sans-serif !important;
  content: "\e921";
  display: block;
  font-size: 1.5em;
  position: absolute;
  top: -3.3rem;
  right: 1rem;
  -moz-transition: all 0.2s ease-in; /* FF4+ */
  -o-transition: all 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.navbar-component .menu-element.open ul:before, .rdf-list ul.open.datasource:before {
  transform: rotate(180deg);
}

.toggle-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.5;
  padding: 0 0.3em;
  background-color: rgba(255, 255, 255, .1);
  z-index: 10;
  cursor: pointer;
}

.toggle-menu:hover {
  background-color: var(--primary-color);
}

.toggle-menu [class^="icon-"] {
  -moz-transition: all 0.2s ease-in; /* FF4+ */
  -o-transition: all 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in;
  display: inline-block;
}

.toggle-menu:hover [class^="icon-"] {
  transform: scale(1.1);
}

.small-logo {
  width: 50px;
  height: 50px;
}

.big-logo {
  width: 180px;
  height: 50px;
}

.navbar-component.collapsed {
  width: 4.375rem;
  overflow: visible;
  height: auto;
}

.navbar-component.collapsed .menu-element.open .sub-menu {
  position: absolute;
  top: 0;
  left: 4.375rem;
  background-color: #EBEBEB;
  width: 15rem;
}

.navbar-component.collapsed .menu-element .menu-item,
.navbar-component.collapsed .menu-element .sub-menu li {
  display: none;
}

.navbar-component.collapsed .menu-element.open .menu-item,
.navbar-component.collapsed .menu-element.open .sub-menu li {
  display: block;
}

.navbar-component.collapsed .menu-element.open .menu-element-root .menu-item {
  display: none;
}

.navbar-component.collapsed .menu-element-root {
  overflow: visible;
}

.navbar-component .menu-element.open ul li.submenu-title,
.navbar-component .submenu-title {
  display: none;
}

.navbar-component.collapsed .menu-element.open ul li.submenu-title {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5em 0.8rem 0.2em 0;
  color: var(--secondary-color);
  margin-left: 0.8rem;
  margin-bottom: 0.5em;
}

.navbar-component .sub-menu li.submenu-title:hover {
  background-color: transparent;
}

.navbar-component.collapsed .menu-element.open .sub-menu.align-bottom {
  bottom: 0;
  top: auto;
}

.navbar-component.collapsed .menu-element ul:before {
  display: none;
}

.navbar-component.collapsed .brand a {
  padding: 0.4rem;
}

.navbar-component.collapsed .product-version {
  display: none;
}

.navbar-component.collapsed .small-logo, .navbar-component .big-logo {
  display: block;
}

.navbar-component .small-logo, .navbar-component.collapsed .big-logo {
  display: none;
}
