:host {
  display: block;
}
.main-menu {
  width: 15rem;
  position: fixed;
  top: 0;
  font-weight: 400;
  z-index: 1010;
  margin: 0;
  padding: 0;
  -moz-transition: width 0.2s ease-in; /* FF4+ */
  -o-transition: width 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: width 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: width 0.2s ease-in;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*Make collapsed menu with absolute position if window height is smaller than the
main menu height*/
@media screen and (max-height: 475px) {
  .main-menu.collapsed {
    position: absolute;
  }
}

.main-menu li {
  list-style: none;
}

.main-menu li a {
  color: var(--secondary-color);
  text-decoration: none;
}

.main-menu li .menu-element-root:hover,
.main-menu .sub-menu li:hover {
  background-color: rgba(0, 0, 0, .1);
}

.main-menu li .menu-element-root:hover .menu-item-icon,
.main-menu .menu-element.open .menu-item-icon {
  transform: scale(1.1);
}

.main-menu .menu-element.open .sub-menu .menu-item-icon {
  transform: scale(0.5);
}

.main-menu .menu-element {
  border-bottom: 1px solid #fff;
  background-color: #f7f7f7;
  position: relative;
}

.main-menu .menu-element-root {
  padding: 0.8em 2.5em 0.8em 0.8em;
  display: block;
  line-height: 2.5rem;
  position: relative;
  z-index: 100;
  -moz-transition: all 0.18s ease-out; /* FF4+ */
  -o-transition: all 0.18s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.18s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.18s ease-out;
  color: var(--secondary-color);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-menu .menu-item-icon {
  font-size: 2.5rem;
  vertical-align: middle;
  color: var(--primary-color);
  transform: scale(0.9);
  display: inline-block;
  -moz-transition: all 0.18s ease-out; /* FF4+ */
  -o-transition: all 0.18s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.18s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.18s ease-out;
  pointer-events: none;
}

.main-menu .menu-item-icon.fa-flask {
  /* Temporary: until we get our own icon */
  font-size: 2rem;
  padding: 4px 5px;
}

.main-menu .menu-element-root .menu-item {
  pointer-events: none;
}

.main-menu .menu-element-root.active,
.main-menu .menu-element-root.active:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.main-menu .active .menu-item-icon {
  color: var(--icon-on-primary-color);
}

.main-menu :not(.brand) .menu-element-root {
  font-size: 1.1rem;
}

.main-menu .brand {
  background-color: var(--logo-background-color);
}

.main-menu .brand a {
  display: block;
  position: relative;
  z-index: 5;
}

.main-menu .product-version {
  line-height: normal;
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  font-size: 0.625rem;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.2em 0.5em;
  border-color: rgba(255, 255, 255, .2);
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0;
  border-right-width: 0;
}

.main-menu .menu-element.open,
.main-menu.collapsed .menu-element:hover {
  background-color: #dcdcdc;
}

.main-menu .sub-menu {
  position: relative;
  padding: 0;
  z-index: 110;
}

.main-menu .sub-menu li {
  display: none;
}

.main-menu .sub-menu li a {
  padding: 0.5em 0.8em;
  display: block;
}

.main-menu .sub-menu li.active a {
  background-color: var(--primary-color);
  font-weight: 500;
  color: #fff;
}

.main-menu .menu-element.open ul li {
  display: block;
}

.main-menu .menu-element ul:before, .rdf-list ul.datasource:before {
  font-family: 'icomoon', sans-serif !important;
  content: "\e921";
  display: block;
  font-size: 1.5em;
  position: absolute;
  top: -3.3rem;
  right: 1rem;
  -moz-transition: all 0.2s ease-in; /* FF4+ */
  -o-transition: all 0.2s ease-in; /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-in; /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.main-menu .menu-element.open ul:before, .rdf-list ul.open.datasource:before {
  transform: rotate(180deg);
}

//.navbar-component {
//  position: fixed;
//  width: 15rem;
//  background-color: #f7f7f7;
//  height: 100%;
//  padding: 0 !important;
//  overflow-y: auto;
//  overflow-x: hidden;
//}
//
//.navbar-component > div {
//  width: 100%;
//}
//
//.navbar-component {
//  display: flex;
//  flex-direction: column;
//  list-style: none;
//  padding: 0;
//  margin: 0;
//}
//
//.navbar-component .nav-item {
//  margin: 0 !important;
//  padding: 15px 0;
//  border-bottom: 1px solid #fff;
//}
//
//.navbar-component .nav-item .nav-link {
//  text-decoration: none;
//  color: rgb(0, 54, 99);
//  font-size: 1.1rem;
//  font-weight: 400;
//  padding: 5px 10px;
//  display: block;
//}
//
//.navbar-component .brand {
//  height: 60px;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background-color: hsl( 207.3 , 100% , 19.4% );
//}
//
//.navbar-component .brand a {
//  display: block;
//  color: #fff;
//  font-size: 2.5rem;
//  font-weight: 300;
//}
