:root {
    --default-btn-bgcolor: #ebebeb;
    --default-btn-focus-bgcolor: #d4d4d4;
    --default-btn-focus-color: var(--base-text-color);
}

html, body {
    height: 100vh;
}

.graphiql-dialog,
.graphql-playground-view #graphiql .graphiql-container,
.graphql-playground-view #graphiql .graphiql-container .graphiql-editors,
.graphiql-container .CodeMirror {
    background-color: var(--gw-editor-content-background);
}

.page-content,
.page-content .container-fluid {
    height: calc(100% - 50px);
}

.graphql-playground-view,
.content,
.graphql-playground-container,
graphql-playground,
.graphql-playground-component {
    display: block;
    height: 100%;
}

graphql-playground {
    padding-bottom: 16px;
}

.graphql-playground-view #title-container {
    margin-bottom: 16px;
}

.graphql-playground-view graphql-playground-component {
    height: 100%;
}

.graphql-playground-view .toolbar {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 16px;
}

.graphql-playground-view .toolbar .graphql-endpoint-selector {
    width: 300px;
}

/* =============================================== */
/*   overrides for graphql-playground component    */
/* =============================================== */

.graphql-playground-view #graphiql * {
    border-radius: 0;
    font-size: 1rem !important;
    font-family: var(--main-font);
}

.graphql-playground-view #graphiql .graphiql-container {
    border: 1px solid var(--gw-editor-toolbar-border-color);
}

.graphql-playground-view #graphiql .graphiql-container .graphiql-sidebar {
    padding-top: 0;
    padding-bottom: 0;
}

.graphql-playground-view #graphiql .graphiql-sidebar button {
    color: var(--gw-primary-base);
    transition: all 0.15s ease-out;
}

.graphql-playground-view #graphiql .graphiql-sidebar button:hover {
    transform: scale(1.2);
    background-color: transparent;
}

.graphql-playground-view #graphiql .graphiql-sidebar button:active {
    background-color: #fff;
}
.graphql-playground-view #graphiql .graphiql-sidebar button:focus {
    outline: none;
}

/* Hide the settings button */
.graphql-playground-view #graphiql .graphiql-sidebar button[data-value="settings"] {
    display: none;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-session-header .graphiql-tabs {
    margin-bottom: 0;
    padding: 0;
    font-size: 1rem;
}

.graphql-playground-view #graphiql .graphiql-tabs button {
    transition: all 0.15s ease-out;
}

.graphql-playground-view #graphiql .graphiql-tab > button.graphiql-tab-close {
    visibility: visible;
}

.graphql-playground-view #graphiql .graphiql-tabs button:focus {
    outline: none;
}

.graphql-playground-view #graphiql .graphiql-tabs button:hover {
    background-color: var(--base-background-hover-color);
}

.graphql-playground-view #graphiql .graphiql-tabs .graphiql-tab {
    color: var(--gw-tabs-tab-color) !important;
    background-color: var(--gw-tabs-tab-background) !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--gw-tabs-tab-border-color) !important;
}

.graphql-playground-view #graphiql .graphiql-tabs .graphiql-tab.graphiql-tab-active {
    color: var(--gw-tabs-tab-active-color) !important;
    background-color: var(--gw-tabs-tab-active-background) !important;
    border-color: var(--gw-tabs-tab-active-border-color) var(--gw-tabs-tab-active-border-color) transparent !important;
}

.graphql-playground-view #graphiql .graphiql-tabs .graphiql-tab-button {
    padding: 4px 8px;
    color: var(--base-text-color);
}

.graphql-playground-view #graphiql .graphiql-sessions {
    margin-top: 0;
    margin-right: 0 !important;
    margin-bottom: 0;
}

.graphql-playground-view #graphiql .graphiql-tabs > :not(:first-child) {
    margin-left: .2em;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-session-header .graphiql-tab-add {
    padding: 8px;
    background-color: var(--base-background-hover-color);
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-session-header .graphiql-tab-add:hover svg,
.graphql-playground-view #graphiql .graphiql-sessions .graphiql-session-header .graphiql-tab-close:hover {
    background-color: transparent;
    color: var(--gw-primary-base);
}

/* Hide the graphql logo */
.graphql-playground-view #graphiql .graphiql-sessions .graphiql-logo {
    display: none;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-session-header {
    height: unset;
    color: inherit;
    justify-content: start;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-session {
    padding: 0;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors,
.graphql-playground-view #graphiql .graphiql-sessions .graphiql-response {
    border: 1px solid var(--gw-editor-toolbar-border-color);
    border-bottom: none;
    box-shadow: none;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-response {
    border-right: none;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-query-editor {
    padding: 0;
    border-bottom: 1px solid var(--gw-editor-toolbar-border-color);
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .CodeMirror-gutters {
    border-right: 1px solid var(--gw-editor-toolbar-border-color);
    background-color: var(--gw-panel-background);
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .CodeMirror-gutter-wrapper * {
    color: var(--gw-panel-color);
    font-weight: 300;
}

/* When there is a single opened tab in the editor the create tab button moves in the most right */
.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors.full-height {
    margin-top: 0;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-toolbar {
    margin: .5em;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-toolbar button {
    transition: all 0.15s ease-out;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-toolbar button:hover {
    transform: scale(1.2);
    background-color: transparent;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-toolbar button:focus {
    outline: none;
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-toolbar button.graphiql-execute-button {
    background-color: var(--gw-primary-base);
}

.graphql-playground-view #graphiql .graphiql-sessions .graphiql-editors .graphiql-toolbar .graphiql-toolbar-icon {
    color: var(--gw-primary-base);
}

.graphql-playground-view #graphiql .graphiql-editor-tools {
    padding: 0;
}

.graphql-playground-view #graphiql .graphiql-editor-tools button {
    font-weight: 400;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--gw-tabs-tab-color) !important;
    background-color: var(--gw-tabs-tab-background) !important;
    border-color: var(--gw-tabs-tab-border-color) !important;
}

.graphql-playground-view #graphiql .graphiql-editor-tools button:hover {
    color: var(--gw-tabs-tab-hover-color) !important;
    background-color: var(--gw-tabs-tab-hover-background) !important;
    border-color: var(--gw-tabs-tab-hover-border-color) !important;
}

.graphql-playground-view #graphiql .graphiql-editor-tools .graphiql-toggle-editor-tools svg {
    color: var(--gw-button-secondary-link-color);
}

.graphql-playground-view #graphiql .graphiql-editor-tools .graphiql-toggle-editor-tools:hover svg {
    color: var(--gw-button-primary-link-hover-color);
}

/* =============================================== */
/*   overrides for graphql-playground history      */
/* =============================================== */

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item-action {
    color: var(--gw-primary-base);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-button {
    background-color: var(--gw-button-secondary-background);
    color: var(--gw-button-secondary-color);
    border-color: var(--gw-button-secondary-border-color);
    font-weight: 400;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-button:hover {
    background-color: var(--gw-button-secondary-hover-background);
    color: var(--gw-button-secondary-hover-color);
    border-color: var(--gw-button-secondary-hover-border-color);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-header {
    color: var(--base-text-color);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item:hover {
    background-color: var(--base-background-hover-color);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item-label {
    color: var(--gw-secondary-base);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item-label:hover {
    background-color: var(--base-background-selected-color);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable {
    background-color: var(--gw-form-field-background);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable input {
    color: var(--gw-form-field-color);
    border: 1px solid var(--gw-form-field-border-color);
    font-weight: 300;
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable button {
    color: var(--gw-primary-base);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable button:focus,
.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable button:active {
    background-color: hsla(219, 28%, 32%, 0.1);;
    outline: none;
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable button:nth-of-type(2) {
    color: var(--gw-button-secondary-color);
}

.graphql-playground-view #graphiql .graphiql-history .graphiql-history-item.editable button:nth-of-type(2):active {
    background-color: #fff;
}

div[data-radix-popper-content-wrapper] * {
    background-color: var(--gw-secondary-base);
    border-top-color: var(--gw-secondary-base);
    color: #fff;
    border-radius: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: .875rem;
    font-weight: 400;
}

/* =============================================== */
/*   overrides for graphql documentation explorer  */
/* =============================================== */

.graphql-playground-view #graphiql .graphiql-doc-explorer .graphiql-doc-explorer-header {
    color: var(--base-text-color);
}

.graphql-playground-view #graphiql .graphiql-doc-explorer .graphiql-doc-explorer-search-input {
    background-color: var(--gw-form-field-background);
    color: var(--gw-form-field-color);
    border: 1px solid var(--gw-form-field-border-color);
}

.graphql-playground-view #graphiql .graphiql-doc-explorer .graphiql-doc-explorer-search-input input,
.graphql-playground-view #graphiql .graphiql-doc-explorer .graphiql-doc-explorer-search-input input::placeholder {
    color: var(--gw-form-field-color);
}

/* =============================================== */
/*   overrides for graphiql explorer               */
/* =============================================== */

.graphql-playground-view #graphiql .docExplorerWrap .doc-explorer-title {
    color: var(--base-text-color);
}

/*
    Removes the scroll from the GraphiQL Explorer plugin, since the parent container
    with the class "graphiql-plugin" already provides vertical (y-axis) scrolling.
    For horizontal (x-axis) scrolling, each GraphQL queries/mutations container will handle its own scroll.
*/
.graphql-playground-view #graphiql .docExplorerWrap .graphiql-explorer-root > div {
    overflow: hidden !important;
}

/*
  Adds horizontal (x-axis) scrolling to each GraphQL queries/mutations container.
*/
.graphql-playground-view #graphiql .docExplorerWrap .graphiql-explorer-root > div:first-child > div,
.graphql-playground-view #graphiql .docExplorerWrap .graphiql-explorer-root > div:has(.variable-editor-title) {
    overflow-x: auto !important;
}

/* Added a separation line between the container with queries/mutations and the container with the form for adding a new query/mutation. */
.graphql-playground-view #graphiql .docExplorerWrap .graphiql-explorer-root > div:first-child {
    border-bottom: 1px solid rgb(214, 214, 214);
}

/* Removes the top border from the form for adding a new query/mutation,
   which was used as a visual horizontal separator between the queries/mutations and the form. */
.graphql-playground-view #graphiql .docExplorerWrap .graphiql-explorer-root > div:last-child .variable-editor-title {
    border: none !important;
    padding: 0 !important;
}

.graphql-playground-view #graphiql .docExplorerWrap .graphiql-explorer-root > div:has(.variable-editor-title) {
    margin-top: 16px;
}

/* =========================*/
/*     Button overrides     */
/* =========================*/
.graphql-playground-view #graphiql .docExplorerWrap .toolbar-button {
    background-color: var(--gw-button-secondary-background);
    color: var(--gw-button-secondary-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.graphql-playground-view #graphiql .docExplorerWrap .variable-editor-title .toolbar-button,
.graphql-playground-view #graphiql .docExplorerWrap .graphiql-operation-title-bar .toolbar-button {
    height: 100% !important;
    width: auto !important;
    aspect-ratio: 1 / 1;
}

/**
  Make the span resizable. This allows the icon/text inside the button to become larger on mouseover.
 */
.graphql-playground-view #graphiql .docExplorerWrap .toolbar-button span {
    display: block;
}

.graphql-playground-view #graphiql .docExplorerWrap .toolbar-button:hover span {
    transform: scale(1.2);
    color: var(--gw-primary-base) !important;
}


/* Make the button's size match the dropdown in the 'Add New Fragment' form */
.graphql-playground-view #graphiql .docExplorerWrap .variable-editor-title .toolbar-button {
    padding: var(--px-4) var(--px-10);
}

/* =========================*/
/*     Dropdown overrides     */
/* =========================*/
.graphql-playground-view #graphiql .docExplorerWrap select {
    font-size: 1rem !important;
    height: calc(2rem - 2px);
    line-height: 1.25;
    color: #55595c !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    font-weight: 400;
    margin: 1px 8px;
    outline: 0;
}

.graphql-playground-view #graphiql .docExplorerWrap select:focus {
    color: #55595c;
    background-color: #fff;
    border-color: var(--gw-secondary-light);
}

.graphql-playground-view #graphiql .docExplorerWrap select option {
    background-color: var(--html-background) !important;
    color: var(--gw-neutral-base) !important;
}

/* =============================================== */
/*   overrides for codemirror                      */
/* =============================================== */

.graphql-playground-view #graphiql li.CodeMirror-hint-active {
    background: var(--autocomplete-background);
    color: inherit;
}

.graphql-playground-view #graphiql .CodeMirror-lint-tooltip {
    color: var(--gw-primary-base);
}

/* ================================================ */
/*   overrides for graphiql dialog (hotkeys dialog) */
/* ================================================ */

.graphiql-dialog {
    border-radius: 0;
    color: var(--base-text-color);
}

.graphiql-dialog,
.graphiql-dialog-overlay {
    z-index: 1010;
}

.graphiql-dialog .graphiql-dialog-section a,
.graphiql-dialog .graphiql-dialog-section a:hover,
.graphiql-dialog .graphiql-dialog-section a:focus {
    color: var(--gw-primary-base);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: var(--link-decoration-thickness);
    text-underline-offset: var(--link-underline-offset);
    outline: none;
}
