:host(.onto-loader-attached) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

:host {
  display: none;

  .onto-loader {
    white-space: nowrap;
    width: fit-content;

    .loader-spinner {
      margin-left: auto;
      margin-right: auto;

      circle {
        fill: var(--gw-loader-color)
      }
    }

    .loader-message {
      text-align: center;
    }
  }
}

:host(.onto-loader-active) {
  display: flex;
  visibility: visible !important;
}
