<link href="css/lib/yasr.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>
<link href="css/yasr.custom.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div id="sparql-content" class="fit-content-on-mobile">
    <div ng-hide="viewMode == 'editor'"
         ng-class="orientationViewMode ? 'row' : viewMode == 'yasr' ? 'col-xs-12' : 'col-xs-6'" ng-style="noPadding">
        <div class="col-xs-12 mb-1" ng-style="noPadding">

            <ul class="nav nav-tabs">
                <li ng-hide="notabs" role="presentation" ng-repeat="tab in tabs" ng-click="focusQueryEditor()"
                    class="nav-item sparql-tab">
                    <sparql-tab
                            data-id="{{tab.id}}"
                            class="nav-link">
                    </sparql-tab>
                </li>
                <li ng-hide="notabs" role="presentation" ng-click="focusQueryEditor()" class="nav-item">
                    <span id="wb-sparql-addNewTab" ng-click="addNewTab()" class="nav-link">
                    	<button class="btn btn-link btn-sm secondary"><span class="icon-plus"></span></button>
                    </span>
                </li>
            </ul>

            <script type="text/ng-template" id="sampleQueriesPopoverTemplate.html">
                <ul id="wb-sparql-queryInSampleQueries" class="list-unstyled">
                    <li ng-repeat="query in sampleQueries" ng-hide="ignoreSharedQueries && query.owner != principal.username" class="hovered-parent saved-query">
                        <a href ng-click="querySelected(query)">{{query.name}}</a>
                        &nbsp;
                        <em class="icon-warning" ng-show="query.owner != principal.username && isUser()"
                           uib-popover="{{'core.popover.shared.query.warning' | translate}}"
                           popover-trigger="mouseenter"></em>
                        <span class="actions-bar hovered-item">
							<button class="btn btn-link btn-sm"
                                    ng-show="query.owner == principal.username && isUser()"
                                    uib-popover="{{'core.edit.query' | translate}}" popover-trigger="mouseenter"
                                    ng-click="editQuery(query)">
								<span class="icon-edit"></span>
							</button>
							<button class="btn btn-link btn-sm"
                                    ng-show="query.owner == principal.username && isUser()"
                                    uib-popover="{{'core.delete.query' | translate}}" popover-trigger="mouseenter"
                                    ng-click="deleteQuery(query.name)">
								<span class="icon-trash"></span>
							</button>
							<button class="btn btn-link btn-sm"
                                    uib-popover="{{'core.popover.get.url.query' | translate}}" popover-trigger="mouseenter"
                                    ng-click="copyToClipboardQuery(query.name, query.owner)">
								<span class="icon-link"></span>
							</button>
						</span>
                    </li>
                </ul>
            </script>

            <!--
                        <div class="collapse width pull-right well" id="sampleQueriesCollapse">
                            <div class="list-group-item-heading">Select saved query from the list</div>
                            <ul id="wb-sparql-queryInSampleQueries" class="queries list-unstyled">
                                <li ng-repeat="query in sampleQueries">

                                    <a href="#" ng-click="querySelected(query.body)"><i class="fa fa-1x fa-caret-right"></i>{{query.name}}</a>
                                    <span>
                                        <i ng-show="canWriteActiveRepo()" gdb-tooltip="Edit query" href="#" class="fa fa-pencil-square-o fa-1x editSampleQuery" ng-click="editQuery(query)"></i>
                                        <i ng-show="canWriteActiveRepo()" gdb-tooltip="Delete query" href="#" class="fa fa-trash-o fa-1x deleteSampleQuery" ng-click="deleteQuery(query.name)"></i>
                                        <i gdb-tooltip="Get URL to query" href="#" class="fa fa-link fa-1x" ng-click="copyToClipboardQuery(query.name)"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
            -->

            <div id="queryEditor" guide-selector="queryEditor">
                <textarea ng-model="query" id="query" rows="16" cols="100" guide-selector="inputQuery"></textarea>

                <div id="yasqe_buttons_mocked" style="display: none"></div>
                <div id="yasqe_buttons" ng-hide="notoolbar" ng-if="queryEditorIsReady">
                    <div id="buttons">
                        <button class="btn btn-link" id="wb-sparql-saveQuery"
                                ng-show="!notoolbarSaved && isUser()"
                                ng-click="saveTab(currentQuery.id); saveQuery(currentQuery);"
                                data-container="#queryEditor"
                                gdb-tooltip="{{'core.create.saved.query' | translate}}">
                            <em class="icon-save icon-2-5x"></em>
                        </button>
                        <!-- Popover with focus trigger on Safari 7+ needs an <a> with tabindex -->
                        <a tabindex="0" class="btn btn-link" id="wb-sparql-toggleSampleQueries"
                           ng-hide="notoolbarSaved"
                           ng-click="toggleSampleQueries()"
                           data-container="#queryEditor"
                           gdb-tooltip="{{'core.show.saved.query' | translate}}"
                           uib-popover-template="'sampleQueriesPopoverTemplate.html'"
                           popover-trigger="focus"
                           popover-placement="left"
                           popover-append-to-body="true">
                            <!-- This popover has to be on the both elements (<a> and inner <span>) so it can be shown in all browsers (Chrome, IE11, Edge, Firefox) -->
                            <span class="icon-folder icon-2-5x"
                                  uib-popover-template="'sampleQueriesPopoverTemplate.html'"
                                  popover-trigger="focus"
                                  popover-placement="left"
                                  popover-append-to-body="true"></span>
                        </a>
                        <button class="btn btn-link" id="wb-sparql-copyToClipboardQuery"
                                ng-hide="notoolbarCopy"
                                ng-click="copyToClipboardQuery()"
                                gdb-tooltip="{{'core.popover.get.url.current.query' | translate}}">
                            <span class="icon-link icon-2-5x"></span>
                        </button>
                        <button class="btn btn-link" id="inference"
                                ng-hide="notoolbarInference"
                                ng-click="currentQuery.inference = !currentQuery.inference"
                                gdb-tooltip="{{'core.include.inferred' | translate}}{{currentQuery.inference ? 'common.on.btn' : 'common.off.btn' | translate}}">
                            <span class="icon-2-5x"
                                  ng-class="{'icon-inferred-on':currentQuery.inference, 'icon-inferred-off':!currentQuery.inference}"></span>
                        </button>
                        <button class="btn btn-link" id="sameAs"
                                ng-hide="notoolbarSameAs"
                                ng-click="currentQuery.sameAs = !currentQuery.sameAs"
                                gdb-tooltip="{{'core.expand.sameAs' | translate}}{{currentQuery.sameAs ? 'common.on.btn' : 'common.off.btn' | translate}}">
                            <span class="icon-2-5x"
                                  gdb-tooltip="{{!currentQuery.inference ? 'core.require.inferred' : '' | translate}}"
                                  ng-class="{'icon-sameas-on':currentQuery.sameAs, 'icon-sameas-off':!currentQuery.sameAs}"></span>
                        </button>
                    </div>
                </div>
                <div id="runButton" ng-hide="norun">
                    <button id="wb-sparql-runQuery" class="btn btn-primary" ng-disabled="queryIsRunning"
                            ng-if="queryEditorIsReady"
                            ng-click="runQuery(false, $event.shiftKey ? 'explain' : ($event.altKey ? 'gpt' : ''))"
                            guide-selector="runSparqlQuery">
                        {{runButtonName | translate}}
                    </button>
                </div>
                <div>
                    <keyboard-shortcuts template-url="res/sparql/keyboard-shortcuts.html"></keyboard-shortcuts>
                </div>
                <!--
                <div id="checkboxes">
                -->
                <!-- TODO: Disable this for now, because it is causing bigger bugs/problems https://jira.ontotext.com/browse/OWLIM-2081
                <input id="sameAs" ng-model="currentQuery.sameAs" data-label="disable sameAs" name="equivalent" value="http://www.ontotext.com/disable-sameAs" type="checkbox"/> -->
                <!--
                    <label>
                        <input id="inference" ng-model="currentQuery.inference" type="checkbox" value="true" />
                        Include inferred
                    </label>
                </div>
                -->
            </div>
            <!--<div id="separator" ng-if="!orientationViewMode" ng-mousedown="onDragStart($event)" draggable="true" ondragend="angular.element(this).scope().onDragEnd(event)"></div>-->
        </div>

    </div>

    <div class="clearfix mb-2" ng-hide="viewMode === 'yasr'" id="yasr"
         ng-class="orientationViewMode ? 'col-xs-12 col-lg-12' : viewMode == 'editor' ? 'col-xs-12 vertical' : 'col-xs-6 vertical'">
        <uib-pagination
                class="nav navbar-right"
                ng-show="currentTabConfig.queryType != 'UPDATE' && !queryIsRunning && currentTabConfig.allResultsCount > currentTabConfig.pageSize"
                total-items="currentTabConfig.allResultsCount"
                items-per-page="currentTabConfig.pageSize"
                ng-model="currentTabConfig.page"
                ng-change="changePagination()"
                direction-links="true"
                boundary-l
                max-size="5"
                rotate="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
        </uib-pagination>

        <div class="yasr" id="yasr-inner">
            <div ng-hide="nostatus || currentTabConfig.queryType || queryIsRunning"
                 class="alert alert-info no-icon no-query-run">
                 {{'query.editor.no.results.from.prev.run.warning' | translate}}
            </div>
            <!--ng-show="!queryIsRunning">-->
            <div class='yasr_header mb-1 clearfix'
                 ng-show="currentTabConfig.queryType && currentTabConfig.queryType != 'UPDATE' && currentTabConfig.queryType != 'ERROR' && currentTabConfig.queryType != 'ASK' && !queryIsRunning">
                 <div class="resultsVisualButton btn-group pull-right">
                    <button class="btn btn-primary btn-sm" ng-show="!queryIsRunning && currentTabConfig.queryType && (currentTabConfig.queryType == 'CONSTRUCT' || currentTabConfig.queryType == 'DESCRIBE')"
                        ng-click="goToVisual()">
                        {{'query.editor.visual.btn' | translate}}
                    </button>
                 </div>
            </div>
            <h6 class="alert alert-danger no-icon additional" ng-show="!queryIsRunning && !nostatus && currentTabConfig.errorMessage">Error: {{currentTabConfig.errorMessage}}</h6>
            <h6 class="alert alert-warning no-icon additional" ng-show="!queryIsRunning && !nostatus && currentTabConfig.warningMessage">Warning: {{currentTabConfig.warningMessage}}</h6>
            <div class="alert alert-info no-icon results-info"
                 ng-show="!nostatus && currentTabConfig.queryType && currentTabConfig.queryType != 'UPDATE' && currentTabConfig.queryType != 'ERROR' && !queryIsRunning">
                <div class="text-xs-right">
                    <span class="icon-warning icon-lg"
                            ng-show="getStaleWarningMessage()"
                          gdb-tooltip="{{getStaleWarningMessage()}}" tooltip-trigger="mouseenter"></span>
                    <span ng-show="currentTabConfig.queryType != 'ASK'" class="results-description">
                        {{getResultsDescription()}}
                    </span>
                    <span ng-show="currentTabConfig.timeTook" class="query-duration"
                          translate="query.editor.query.took.msg"
                          translate-value-seconds="{{getHumanReadableSeconds(currentTabConfig.timeTook, true)}}"
                          translate-value-timestamp="{{getHumanReadableTimestamp(currentTabConfig.timeFinished)}}">
                    </span>
                </div>
            </div>
            <div class='alert alert-info no-icon update-info'
                 ng-show="!nostatus && currentTabConfig.queryType == 'UPDATE' && !queryIsRunning">
                {{getUpdateDescription()}}
                <span ng-show="currentTabConfig.timeTook"
                      translate="query.editor.update.msg"
                      translate-value-message="{{currentTabConfig.customUpdateMessage ? 'common.operation.msg' : 'common.update.msg' | translate}}"
                      translate-value-seconds="{{getHumanReadableSeconds(currentTabConfig.timeTook, true)}}"
                      translate-value-timestamp="{{getHumanReadableTimestamp(currentTabConfig.timeFinished)}}">
                </span>
            </div>
            <div class="alert alert-danger no-icon results-info update-info" ng-show="currentTabConfig.queryType == 'ERROR'">
                <div>
                    <div class="pull-right" ng-show="currentTabConfig.timeTook"
                         translate="query.editor.operation.msg"
                         translate-value-seconds="{{getHumanReadableSeconds(currentTabConfig.timeTook, true)}}"
                         translate-value-timestamp="{{getHumanReadableTimestamp(currentTabConfig.timeFinished)}}">
                    </div>
                    <h6>{{'common.error' | translate}}<span ng-show="yasr.results.getException().status > 0"> {{yasr.results.getException().status}}: {{yasr.results.getException().statusText}}</span></h6>
                </div>

                <div ng-if="!fullErrorMessage && sparqlQueryErrorInfo && sparqlQueryErrorInfo.shortenErrorMessage">
                    <a href="#" class="show-full-message-link" ng-click="showFullErrorMessage(true)">
                        {{'query.editor.error.show.full.message' | translate}}
                    </a>
                    <div class="plaintext"> {{sparqlQueryErrorInfo.shortenErrorMessage}}</div>
                </div>

                <div ng-if="fullErrorMessage || sparqlQueryErrorInfo && !sparqlQueryErrorInfo.shortenErrorMessage">
                    <a href="#" class="show-less-message-link" ng-click="showFullErrorMessage(false)" ng-if=" sparqlQueryErrorInfo && sparqlQueryErrorInfo.shortenErrorMessage">
                        {{'query.editor.error.show.less.message' | translate}}
                    </a>
                    <div class="plaintext">{{sparqlQueryErrorInfo.responseText}}</div>
                </div>

            </div>
            <div class='yasr_results' ng-show="currentTabConfig.queryType && currentTabConfig.queryType != 'UPDATE' && currentTabConfig.queryType != 'ERROR' && !queryIsRunning" guide-selector="yasrResults"></div>
        </div>

        <div ng-show="queryIsRunning && currentTrackAlias" class="qe-aborter">
            <div disabled-wrapper class="d-inline-block" uib-popover="{{abortRequested ? (lastRunQueryMode === 'update' ? 'update.requested' : 'query.abort.request') : (lastRunQueryMode === 'update' ? 'click.to.abort.update' : 'click.to.abort.query') | translate}}"
                 popover-trigger="mouseenter"
                 popover-placement="left">
                <div ng-class="abortRequested ? 'disabled' : ''"> <!-- Keep this div -->
                    <button ng-disabled="abortRequested" class="btn btn-xs btn-primary"
                            ng-click="abortCurrentQuery()" ng-hide="!isUserLoggedIn() && isSecurityEnabled()"
                            translate="query.editor.abort"
                            translate-value-abort="{{abortRequested ? 'query.editor.abort.requested' : (lastRunQueryMode === 'update' ? 'query.editor.abort.update' : 'query.editor.abort.query') | translate}}">
                    </button>
                </div>
            </div>
        </div>

        <div onto-loader-new
             ng-if="queryIsRunning"
             ng-show="queryIsRunning"
             class="sparql-loader"
             size="75"
             message="getLoaderMessage"
             timeout="[1]">
        </div>
    </div>
</div>
