.toggle-switch {
  all: unset;
  clear: both;
  margin: 0 5px;
  width: 36px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }

  input {
    &:empty {
      display: none;

      & ~ label {
        position: relative;
        cursor: pointer;
        user-select: none;
        margin: 0.05em 0.6em -0.05em 0;
        vertical-align: text-bottom;

        &:before {
          display: block;
          content: ' ';
          width: 2.2em;
          height: 1.25em;
          background-color: var(--gw-toggleswitch-background);
          border-radius: 10em;
          transition: all 100ms ease-in;
        }

        &:after {
          position: absolute;
          display: block;
          top: 0.08em;
          left: 0.1em;
          content: ' ';
          width: 0.9em;
          height: 0.9em;
          background-color: var(--gw-toggleswitch-handle-background);
          border: 1px solid var(--gw-toggleswitch-background);
          border-radius: 50%;
          transition: all 100ms ease-in;
        }
      }
    }

    &:checked {
      & ~ label {
        &:before {
          background-color: var(--gw-toggleswitch-checked-background);
        }

        &:after {
          left: 1.0em;
          background-color: var(--gw-toggleswitch-handle-checked-background);
          border: 1px solid var(--gw-toggleswitch-checked-background);
        }
      }
    }
  }
}
