:host {
  display: block;
}

.deprecation-banner {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.3rem;
  background: #384252;
  color: #FFF;

  .banner-content {
    flex: 1;
    text-align: center;

    .banner-message {
      font-size: 1rem;
    }
  }

  .close-button {
    border: none;
    outline: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }
}
