.create-graphql-endpoint-view {}

.create-graphql-endpoint-view .toolbar .source-repository-selector {
    width: 20em;
}

/* ===============================================
   Select Schema Source View
   =============================================== */
.create-graphql-endpoint-view .select-schema-source-view .schema-source-types {
    display: flex;
    justify-content: flex-start;
}

.create-graphql-endpoint-view .select-schema-source-view .schema-source-types label {
    cursor: pointer;
}

.create-graphql-endpoint-view .select-schema-source-view .schema-source-container {
    width: 100%;
}

.create-graphql-endpoint-view .select-schema-source-view .graphql-shapes-selector {
    min-height: 300px;
}

.create-graphql-endpoint-view .select-schema-source-view .graphs-selector {
    min-height: 300px;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline label {
    margin-bottom: 0;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline input,
.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline select {
    width: 75%;
}

/* ===============================================
   Configure endpoint view
   =============================================== */

.create-graphql-endpoint-view .endpoint-configuration-container {
    display: flex;
    align-items: stretch;
    width: 50%;
}

.create-graphql-endpoint-view .endpoint-configuration-container dynamic-form {
    width: 100%;
}

/* ===============================================
   Generate endpoint view / Generation overview
   =============================================== */

.create-graphql-endpoint-view .generate-endpoint-container {
    display: flex;
    align-items: stretch;
    width: 50%;
}

.generate-endpoint-view .generate-endpoint-container .endpoints-overview {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 300px;
    overflow-y: auto;
}

.generate-endpoint-view .generate-endpoint-container .generation-progress {
    display: flex;
    align-items: start;
}

.generate-endpoint-view .generate-endpoint-container .generation-report,
.generate-endpoint-view .generate-endpoint-container .generation-report-list {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .endpoint-report {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    width: 100%;
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .endpoint-report-link {
    color: var(--primary-color);
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .status-failed {
    color: var(--color-danger-dark);
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .status-success {
    color: var(--color-success-dark);
}
