:root {
    --status-bar-height: 47px;
}

.page-content {
    display: flex;
    min-height: calc(100vh - var(--status-bar-height));
}

.main-container {
    flex: 1;
    overflow-y: auto;
}

.footer {
    flex-shrink: 0;
}

/* ===============================================
   Grid layout for the create GraphQL endpoint view
   =============================================== */
.create-graphql-endpoint-view {
    display: grid;
    grid-template-areas:
        "title-container"
        "core-errors-container"
        "create-graphql-endpoint-container";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: .5em;
    height: 100%;
}

.create-graphql-endpoint-view .title-container {
    grid-area: title-container;
}

.create-graphql-endpoint-view .core-errors-container {
    grid-area: core-errors-container;
}

.create-graphql-endpoint-view .create-graphql-endpoint-container {
    grid-area: create-graphql-endpoint-container;
}

.create-graphql-endpoint-container .content {
    display: grid;
    grid-template-areas:
        "toolbar"
        "wizard-container";
    grid-template-columns: 1fr;
    gap: .5em;
}

.create-graphql-endpoint-container .toolbar {
    grid-area: toolbar;
}

.create-graphql-endpoint-container .wizard-container {
    grid-area: wizard-container;
}

/* =========== end of grid layout =========== */

.create-graphql-endpoint-view .toolbar .source-repository-selector {
    width: 20em;
}

.create-graphql-endpoint-view .shuttle-multiselect .shuttle-panel .options-list .option-item .item-action {
    padding-top: .2em;
    padding-bottom: .2em;
}

/* ===============================================
   Select Schema Source View
   =============================================== */
.create-graphql-endpoint-view .select-schema-source-view .schema-source-types {
    display: flex;
    justify-content: flex-start;
}

.create-graphql-endpoint-view .select-schema-source-view .schema-source-types label {
    cursor: pointer;
}

.create-graphql-endpoint-view .select-schema-source-view .schema-source-container {
    width: 100%;
}

.create-graphql-endpoint-view .select-schema-source-view .graphql-shapes-selector {
    min-height: 300px;
}

.create-graphql-endpoint-view .select-schema-source-view .graphs-selector {
    min-height: 300px;
}

/* The endpoint configs form */

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    min-width: 300px;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    margin-bottom: 1em;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline label {
    margin: 0;
}

.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline input,
.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline textarea,
.create-graphql-endpoint-view .select-schema-source-view .endpoint-params-form .form-inline select {
    width: 100%;
}

/* ===============================================
   Configure endpoint view
   =============================================== */

.create-graphql-endpoint-view .endpoint-configuration-view .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.create-graphql-endpoint-view .endpoint-configuration-view .toggle-advanced-settings {
    margin-left: auto;
    font-size: 1rem;
}

.create-graphql-endpoint-view .endpoint-configuration-container {
    display: flex;
    align-items: stretch;
    width: 50%;
}

.create-graphql-endpoint-view .endpoint-configuration-container dynamic-form {
    display: block;
    width: 100%;
}

/* ===============================================
   Generate endpoint view / Generation overview
   =============================================== */

.create-graphql-endpoint-view .generate-endpoint-view {
    height: 67vh;
    display: flex;
    flex-direction: column;
}

.create-graphql-endpoint-view .generate-endpoint-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    overflow: hidden;
}

.create-graphql-endpoint-view .generate-endpoint-container .endpoints-generation-overview {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.generate-endpoint-view .generate-endpoint-container .endpoints-overview {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.generate-endpoint-view .generate-endpoint-container .endpoints-overview .endpoint-overview {
    margin-top: .3em;
}

.generate-endpoint-view .generate-endpoint-container .generation-progress {
    display: flex;
    align-items: start;
}

.generate-endpoint-view .generate-endpoint-container .generation-report {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 10px 10px 10px 0;
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .endpoint-report {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    width: 100%;
    margin-top: .3em;
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .endpoint-report-link {
    padding: 0;
}


.generate-endpoint-view .generate-endpoint-container .generation-report-list .status-failed {
    color: var(--color-danger-dark);
}

.generate-endpoint-view .generate-endpoint-container .generation-report-list .status-success {
    color: var(--color-success-dark);
}
