.graphql-endpoint-management-view {
}

.graphql-endpoint-management-view .endpoint-management-container .toolbar {
    display: flex;
    justify-content: space-between;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table {
    position: relative;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .toggle {
    /* fixed width to prevent expanding and shrinking of the first column when a row is expanded/collapsed  */
    width: 40px;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .endpoint_id {
    width: 10%;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .endpoint_label {
    width: 20%;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .endpoint-actions {
    width: 5%;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .endpoint-default-state,
.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .endpoint-default-state input {
    cursor: pointer;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .endpoint-description-row > td {
    border-top: none;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .row-overlay {
    position: relative;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .row-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .overlay-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .overlay-row td {
    padding: 0;
    border: none;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .body-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .status-failed {
    color: var(--color-danger-dark);
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table .status-success {
    color: var(--color-success-dark);
}
