.graphql-endpoint-management-view {
}

.graphql-endpoint-management-view .endpoint-management-container .toolbar {
    display: flex;
    justify-content: space-between;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table thead .toggle {
    /* fixed width to prevent expanding and shrinking of the first column when a row is expanded/collapsed  */
    width: 40px;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table thead .endpoint_id {
    width: 10%;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table thead .endpoint_label {
    width: 20%;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table thead .endpoint-actions {
    width: 5%;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table tbody .endpoint-description-row > td {
    border-top: none;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table tbody .row-overlay {
    position: relative;
}

.graphql-endpoint-management-view .endpoint-management-container .endpoints-info-table tbody .row-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
