<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"></button>
    <h3 class="modal-title">{{'common.confirm.delete' | translate}}</h3>
</div>
<div class="modal-body">
    <p>{{'delete.connector.paragraph' | translate}}</p>
    <span uib-popover="{{'delete.connector.popover' | translate}}{{popoverMsg}}"
         popover-trigger="mouseenter"
         popover-placement="bottom">
        <input id="force-delete" type="checkbox" ng-model="force"><label for="force-delete">&nbsp;{{'delete.connector.force.checkbox' | translate}}</label>
    </span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()">{{'common.cancel.btn' | translate}}</button>
    <button type="submit" class="btn btn-primary delete-connector-btn" ng-click="ok()">{{'delete.connector.delete.btn' | translate}}</button>
</div>
