<link href="css/operations-statuses.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div ng-if="activeOperations && activeOperations.operations && activeOperations.operations.length > 0" class="operations-statuses btn-group btn-group-lg">
    <button type="button" class="btn operations-statuses-dropdown-toggle dropdown-toggle" data-toggle="dropdown">
        <div class="operation-status-header" ng-repeat="operationGroup in operationsSummary" ng-if="operationGroup.runningOperations">
            <div ng-class="{
            'icon-exchange': OPERATION_GROUP_TYPE.QUERIES_OPERATION === operationGroup.type,
            'fa fa-archive': OPERATION_GROUP_TYPE.BACKUP_AND_RESTORE_OPERATION === operationGroup.type,
            'fa fa-sitemap': OPERATION_GROUP_TYPE.CLUSTER_OPERATION === operationGroup.type,
            'text-danger': OPERATION_STATUS.CRITICAL === activeOperations.status,
            'text-info': OPERATION_STATUS.INFORMATION === activeOperations.status,
            'text-warning': OPERATION_STATUS.WARNING === activeOperations.status}">
            </div>
            <span ng-if="OPERATION_GROUP_TYPE.CLUSTER_OPERATION !== operationGroup.type" class="running-operation-count">
                <sup class="tag-info">{{operationGroup.runningOperations}}</sup>
            </span>
        </div>
        <span class="caret"></span>
    </button>
    <ul role="menu" class="operations-statuses-content dropdown-menu dropdown-menu-right">
        <li ng-repeat="operationStatus in activeOperations.operations">
            <a class="operation-status-content btn" target="_blank" ng-attr-href="{{getOperationUrl(operationStatus.operationGroup)}}">
                <div ng-class="{
                   'icon-exchange': OPERATION_TYPE.QUERIES === operationStatus.type || OPERATION_TYPE.UPDATES === operationStatus.type || OPERATION_TYPE.IMPORTS === operationStatus.type,
                   'fa fa-archive': OPERATION_TYPE.BACKUP_RESTORE === operationStatus.type,
                   'fa fa-sitemap': OPERATION_TYPE.CLUSTER_STATUS === operationStatus.type,
                   'text-danger': OPERATION_STATUS.CRITICAL === operationStatus.status,
                   'text-info': OPERATION_STATUS.INFORMATION === operationStatus.status,
                   'text-warning': OPERATION_STATUS.WARNING === operationStatus.status}">
                </div>
                <div class="operation-status-label">
                    <ng-pluralize count="operationStatus.runningOperationCount || 1"
                                  when="{'one': '{{(&quot;global.operations_statuses.&quot; + operationStatus.titleLableKey + &quot;.title&quot;) | translate}}',
                                         'other': '{{(&quot;global.operations_statuses.&quot; + operationStatus.titleLableKey + &quot;.title.plural&quot;) | translate}}'}">
                    </ng-pluralize>
                </div>
                <div ng-if="OPERATION_TYPE.CLUSTER_STATUS !== operationStatus.type" class="operation-status-running-operation-count tag-info">
                    {{operationStatus.runningOperationCount || 1}}
                </div>
                <div class="icon-external"></div>
            </a>
        </li>
    </ul>
</div>
