<link href="css/repository.create.css?v=[AIV]{version}[/AIV]" rel="stylesheet">

<div>
    <h1 class="mb-3">{{pageTitle}}</h1>
    <div class="create-buttons">
        <div class="mr-1 mb-1">
            <button id="repository-type-free-btn" class="btn btn-outline-primary create-repo-btn" ng-click="chooseRepositoryType(repositoryTypes.graphdbRepo)">
                <span class="repository-heading">
                    <em class="icon-repo-free icon-2-5x"></em>
                    <span class="h3 repo-type">GraphDB Repository</span>
                </span>
                <small class="text-muted repo-description">GraphDB repositories store data, answer queries and execute updates.</small>
            </button>
        </div>
        <div class="mr-1 mb-1">
            <button id="repository-type-ontop-btn" class="btn btn-outline-primary btn-lg d-block create-repo-btn" ng-click="chooseRepositoryType(repositoryTypes.ontop)">
                <span class="repository-heading">
                    <i class="icon-repo-ontop icon-2-5x" aria-hidden="true"></i>
                    <span class="h3 repo-type">Ontop Virtual SPARQL</span>
                </span>
                <small class="text-muted repo-description">Ontop repositories translate data stored in an SQL database to a virtual SPARQL endpoint.</small>
            </button>
        </div>

        <div class="mr-1 mb-1">
            <button id="repository-type-fedx-btn" class="btn btn-outline-primary btn-lg d-block create-repo-btn" ng-click="chooseRepositoryType(repositoryTypes.fedx)">
                <span class="repository-heading">
                    <i class="icon-repo-fedx icon-2-5x" aria-hidden="true"></i>
                    <span class="h3 repo-type">FedX Virtual SPARQL</span>
                </span>
                <small class="text-muted repo-description">FedX repositories provide transparent federation of multiple SPARQL endpoints under a single virtual endpoint.</small>
            </button>
        </div>
    </div>
</div>
