
<link href="css/clustermanagement.css?v=[AIV]{version}[/AIV]" rel="stylesheet" />
<title>{{'view.clusterManagement.title' | translate}}</title>

<h1>
	{{title}}
	<span class="btn btn-link"
	   ng-class="{ 'help-button': showExternalElements, 'help-button-disabled': !showExternalElements }"
	   popover-template="'js/angular/templates/titlePopoverTemplate.html'"
	   popover-trigger="mouseenter"
	   popover-placement="bottom"
	   popover-append-to-body="true"><span class="icon-info"></span></span>
</h1>

<div onto-loader-new
     ng-show="loader"
     class="cluster-loader"
     message="getLoaderMessage"
     size="75">
</div>

<div class="row ng-scope" ng-hide="hasNodes || loader">
    <p class="alert alert-danger">
        {{'no.repos.reachable' | translate}} <a ng-href="repository" href="repository">{{'locations.and.repos' | translate}}</a> {{'to.activate.add.locations' | translate}}
    </p>
</div>

<div class="nodes" ng-show="hasNodes">
    <div cluster-graphical-view></div>
</div>

<div class="nodetooltip" ng-hide="selectedNode == null">
    <strong>{{selectedNode.location}}</strong>
    <hr style="margin-top: 10px; margin-bottom: 10px"/>
    <div ng-show="selectedNode.disabledReason" class="alert alert-warning" ng-bind-html="selectedNode.disabledReason"></div>
    <div ng-show="isWorker(selectedNode)">
        <div>
            <div ng-show="hasInfo(selectedNode)">
                <div>
                    <div class="row">
                        <div class="col-sm-6">{{'average.task.time' | translate}}</div><div class="col-sm-6">{{selectedNode.averageTaskTime}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{'running.tasks' | translate}}</div><div class="col-sm-6">{{selectedNode.runningTasks}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{'completed.tasks' | translate}}</div><div class="col-sm-6">{{selectedNode.completedTasks}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{'failed.tasks' | translate}}</div><div class="col-sm-6">{{selectedNode.failedTasks}}</div>
                    </div>
                </div>
                <div class="fingerprint">{{selectedNode.fingerprint}}</div>
            </div>
            <button ng-click="showCloneModal()" ng-disabled="selectedNode.disabledReason" class="btn btn-sm btn-success" aria-expanded="false" id="cloneButton">{{'clone.to.another.location' | translate}}</button>
        </div>
    </div>
    <div ng-show="!isWorker(selectedNode)">
        <div ng-hide="selectedNode.disabledReason">
            <div ng-show="hasInfo(selectedNode)">
                <div class="row" id="selectedNodeReadonly" ng-click="setReadonly(!selectedNode.readonly)"><div class="col-sm-6">{{'read.only.label' | translate}}</div><div class="col-sm-6">
                    <span class="switch">
                        <input type="checkbox" ng-checked="selectedNode.readonly" class="switch" />
                        <label for="selectedNodeReadonly"></label>
                    </span>
                </div></div>
                <div class="row"><div class="col-sm-6">{{'mode.label' | translate}}</div><div class="col-sm-6">
                    <input type="radio" id="selectedNodeModeNormal" ng-change="setMode(selectedNode.mode)" ng-model="selectedNode.mode" value="NORMAL"/>
                    <label for="selectedNodeModeNormal">{{'normal.label' | translate}}</label>
                    <input type="radio" id="selectedNodeModeMute" ng-change="setMode(selectedNode.mode)" ng-model="selectedNode.mode" value="MUTE"/>
                    <label for="selectedNodeModeNormal">{{'mute.label' | translate}}</label>
                </div></div>
                <div class="row"><div class="col-sm-6">{{'avg.read.time' | translate}}</div><div class="col-sm-6">{{selectedNode.averageReadTime}}</div></div>
                <div class="row"><div class="col-sm-6">{{'completed.read.writes' | translate}}</div><div class="col-sm-6">{{selectedNode.completedReads}}/{{selectedNode.completedWrites}}</div></div>
                <div class="row"><div class="col-sm-6">{{'failed.read.writes' | translate}}</div><div class="col-sm-6">{{selectedNode.failedReads}}/{{selectedNode.failedWrites}}</div></div>
                <div class="row"><div class="col-sm-6">{{'running.read.writes' | translate}}</div><div class="col-sm-6">{{selectedNode.runningReads}}/{{selectedNode.runningWrites}}</div></div>
                <div class="row"><div class="col-sm-6">{{'pending.writes' | translate}}</div><div class="col-sm-6">{{selectedNode.pendingWrites}}</div></div>
            </div>
        </div>
    </div>
</div>

<div class="node-tip node-connect-tip">{{'drag.drop.nodes' | translate}}</div>
<div class="node-tip node-disconnect-tip">{{'click.link.to.disconnect' | translate}}</div>
<div class="node-tip node-warning-tip">{{'master.is.peer' | translate}}</div>

<div class="container legend-container" ng-show="hasNodes && !loader">
    <div class="row">
        <div class="legend legend-on"></div><div class="legend-text">{{'common.on.btn' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-off"></div><div class="legend-text">{{'common.off.btn' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-outofsync"></div><div class="legend-text">{{'out.of.sync' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-outofsync-forced"></div><div class="legend-text">{{'out.of.sync.forced' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-writing"></div><div class="legend-text">{{'writing.label' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-writing-copy"></div><div class="legend-text">{{'writing.copy' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-waiting-write"></div><div class="legend-text">{{'waiting.write' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-replication-server"></div><div class="legend-text">{{'replication.server' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-replication-client"></div><div class="legend-text">{{'replication.client' | translate}}</div>
    </div>
    <div class="row">
        <div class="legend legend-unknown"></div><div class="legend-text">{{'unknown.label' | translate}}</div>
    </div>
</div>
