<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
	<h3 class="modal-title">{{index.type == 'predication' ? 'Edit Search, Analogical queries'
														  : 'Edit Search query'}}</h3>
</div>
<div class="modal-body">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a ng-class="tabNum == 1 ? 'active' : ''" ng-click="changeTab(1)" class="nav-link" href>
				Search query
			</a>
		</li>
		<li class="nav-item" ng-show="index.type == 'predication'">
			<a ng-class="tabNum == 2 ? 'active' : ''" ng-click="changeTab(2)" class="nav-link" href>
				Analogical query
			</a>
		</li>
	</ul>
	<textarea class="form-control" style="min-height: 18em;max-height: 50vh;" ng-model="currentQuery"></textarea>
</div>
<div class="modal-footer">
	<button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="saveSearchQuery()">Edit Query</button>
</div>