<div class="content-wrapper">
    <div core-errors></div>

    <div class="mb-2">
        <div class="mb-2">
            <span class="btn btn-link" ng-click="clearRepo()">Unset repo</span>
            <span class="btn btn-link secondary" ng-click="clearToasts()">Clear toasts</span>
            <a href>Non-link 1</a>
            <a href="#">Non-link 2</a>
            <a href="https://graphdb.ontotext.com/" target="_blank">GraphDB Website</a>
        </div>

        <div>This is normal text, <span class="text-muted">with something muted</span> and then back to normal again.</div>

        <div class="mb-2">
            <button class="btn btn-primary" ng-click="demoToast('info')">Info</button>
            <button class="btn btn-secondary" ng-click="demoToast('info', false)">Info</button>
            <button class="btn btn-primary" ng-click="demoToast('success')">Success</button>
            <button class="btn btn-secondary" ng-click="demoToast('success', false)">Success</button>
            <button class="btn btn-primary" ng-click="demoToast('warning')">Warning</button>
            <button class="btn btn-secondary" ng-click="demoToast('warning', false)">Warning</button>
            <button class="btn btn-primary" ng-click="demoToast('error')">Error</button>
            <button class="btn btn-secondary" ng-click="demoToast('error', false)">Error</button>
        </div>

        <div class="row mb-2">
            <div class="col-md-1" style="background-color: var(--primary-color-light)">&nbsp;</div>
            <div class="col-md-2" style="background-color: var(--primary-color)">&nbsp;</div>
            <div class="col-md-1" style="background-color: var(--primary-color-dark)">&nbsp;</div>
            <div class="col-md-1" style="background-color: var(--secondary-color-light)">&nbsp;</div>
            <div class="col-md-2" style="background-color: var(--secondary-color)">&nbsp;</div>
            <div class="col-md-1" style="background-color: var(--secondary-color-dark)">&nbsp;</div>
            <div class="col-md-1" style="background-color: var(--tertiary-color-light)">&nbsp;</div>
            <div class="col-md-2" style="background-color: var(--tertiary-color)">&nbsp;</div>
            <div class="col-md-1" style="background-color: var(--tertiary-color-dark)">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">Lorem ipsum dolor sit amet.</div>
                <div class="alert alert-info">Lorem ipsum dolor sit amet.</div>
                <div class="alert alert-help">Lorem ipsum dolor sit amet.</div>
                <div class="alert alert-warning">Lorem ipsum dolor sit amet.</div>
                <div class="alert alert-danger">Lorem ipsum dolor sit amet.</div>
                <div class="text-success">This is text success.</div>
                <div class="text-danger">This is text danger.</div>
                <div class="text-info">This is text info.</div>
                <div class="text-warning">This is text warning.</div>
                <div>
                    <span class="tag tag-success">Success</span>
                    <span class="tag tag-danger">Danger</span>
                    <span class="tag tag-info">Info</span>
                    <span class="tag tag-warning">Warning</span>
                </div>
            </div>
            <div class="col-md-6 lead">
                <div class="alert alert-success">
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat facilisis
                        erat a ornare.
                    </div>
                </div>
                <div class="alert lead alert-info">
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat facilisis
                        erat a ornare.
                    </div>
                </div>
                <div class="alert lead alert-help">
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat facilisis
                        erat a ornare.
                    </div>
                </div>
                <div class="alert lead alert-warning">
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat facilisis
                        erat a ornare.
                    </div>
                </div>
                <div class="alert lead alert-danger">
                    <div>Lorem ipsum dolor sit amet.</div>
                    <div class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat facilisis
                        erat a ornare.
                    </div>
                </div>
                <div class="lead">
                    <div class="text-success">This is text success.</div>
                    <div class="text-danger">This is text danger.</div>
                    <div class="text-info">This is text info.</div>
                    <div class="text-warning">This is text warning.</div>
                    <div>
                        <span class="tag tag-success">Success</span>
                        <span class="tag tag-danger">Danger</span>
                        <span class="tag tag-info">Info</span>
                        <span class="tag tag-warning">Warning</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
