body {
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}

code, pre, kbd, samp, textarea {
    font-family: var(--mono-font);
}

.swagger-ui .info {
    margin: 0 0 20px;
}

.swagger-ui .info .title {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--gw-body-color);
}

.swagger-section {
    background-color: var(--gw-body-background);
    color: var(--gw-body-color);
}

.swagger-ui .wrapper {
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: contents;
}

.swagger-ui .opblock-tag small {
    font-size: 1em;
    padding: 0;
    color: var(--gw-body-color) !important;
}

.swagger-ui .opblock-tag small p {
    color: var(--gw-secondary-base) !important;
}

.swagger-ui .opblock-tag > a::after {
    content: ': ';
    color: #000000;
}

.swagger-ui .opblock-tag .info__externaldocs:hover a,
.swagger-ui .opblock-tag .info__externaldocs a {
    text-decoration: underline !important;
}

.swagger-ui a.info__extdocs.link {
    text-decoration: underline !important;
    font-size: 100%;
}

.swagger-ui .info hgroup.main {
    margin: 0;
}

.opblock-tag-section .opblock-tag > a.nostyle:link,
.opblock-tag-section .opblock-tag > a.nostyle:visited {
    text-decoration: none;
}

.swagger-ui .opblock-tag a span {
    color: var(--gw-body-color);
}

.swagger-ui .opblock-tag {
    border-bottom: 1px solid rgba(59, 65, 81, 0.1);
}

.swagger-ui .opblock-tag-section.is-open .opblock-tag {
    border-bottom: none;
}

.swagger-ui .opblock-tag-section.is-open {
    border-bottom: 1px solid rgba(59, 65, 81, 0.1);
}

.swagger-ui .opblock-tag,
.swagger-ui .opblock-tag-section {
    transition: border-color 0.3s ease;
}

.swagger-ui .renderedMarkdown p {
    margin: 0.3em;
}

.swagger-section .swagger-ui-wrap h3, p, a {
    color: var(--gw-secondary-base) !important;
    padding: 2px !important;
}

.swagger-section .opblock-summary-path {
    font-size: 1.1em !important;
    font-family: unset !important;
}

.swagger-ui .expand-operation {
    filter: opacity(0.5);
}

.swagger-section .swagger-ui-wrap .code {
    font-family: var(--mono-font);
}

/* HIDE SOME ELEMENTS */

.swagger-ui .scheme-container {
    display: none;
}

.swagger-ui section.models {
    display: none !important;
}

.swagger-ui .topbar {
    display: none;
}

.swagger-ui .info .title small {
    display: none;
}

.swagger-ui .url, .info>div {
    display: none;
}

/* COLORS */

.swagger-ui .opblock.opblock-get {
    background-color: #E7F0F7;
    border: 1px solid #C3D9EC;
}

.swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: #0F6AB4;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #0F6AB4;
}

.swagger-ui .opblock.opblock-patch {
    background: #FCE9E3;
    border: 1px solid #F5D5C3;
}

.swagger-ui .opblock.opblock-patch .opblock-summary-method {
    border-color: #D38042;
    background-color: #D38042;
}

.swagger-ui .opblock.opblock-post {
    background: #E7f6EC;
    border: 1px solid #C3E8d1;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background-color: #10A54A;
}

.swagger-ui .opblock.opblock-delete {
    background: #F5E8E8;
    border: 1px solid #E8C6C7;
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background-color: #A41E22;
}

.swagger-ui .opblock.opblock-put {
    background: #F9F2E9;
    border: 1px solid #F0E0CA;
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
    background-color: #C5862B;
}

.opblock-summary-path a {
    color: #000000 !important;
}

.swagger-section .swagger-ui-wrap pre code>span {
    color: #000000 !important;
}

.swagger-section .swagger-ui-wrap pre {
    background-color: #FCF6DB !important;
    color: #000000 !important;
    border: 1px solid #E5E0C6 !important;
    padding: 10px !important;
}

.swagger-ui .expand-methods svg, .swagger-ui .expand-operation svg {
    fill: var(--gw-body-color);
}
