.onto-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .15s ease-in-out;

  &:focus {
    outline: 0;
    background-color: var(--gw-button-primary-background);
    border-color: var(--gw-button-primary-focus-ring-color);
  }
}

.onto-lg {
  padding: .75em 1.2em;
  font-size: 1.125em;
}

.onto-btn-primary {
  background-color: var(--gw-button-primary-background);
  border-color: var(--gw-button-primary-border-color);
  color: #FFF;

  &:hover {
    background-color: var(--gw-button-primary-hover-background);
    border-color: var(--gw-button-primary-hover-border-color);
  }
}
