.onto-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .15s ease-in-out;
  border-radius: 0;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: var(--gw-button-disabled-opacity);
  }
}

.onto-lg {
  padding: .75em 1.2em;
  font-size: 1.125em;
}

.onto-btn-primary {
  background-color: var(--gw-button-primary-background);
  border-color: var(--gw-button-primary-border-color);
  color: var(--gw-button-primary-color);

  &:hover {
    background-color: var(--gw-button-primary-hover-background);
    border-color: var(--gw-button-primary-hover-border-color);
    color: var(--gw-button-primary-hover-color);
  }

  &:active {
    background-color: var(--gw-button-primary-active-background);
    border-color: var(--gw-button-primary-active-border-color);
    color: var(--gw-button-primary-active-color);
  }

  &:focus {
    outline: var(--gw-button-focus-ring-width) var(--gw-button-focus-ring-style) var(--gw-button-primary-focus-ring-color);
    outline-offset: var(--gw-button-focus-ring-offset);
  }

  &:disabled {
    background-color: var(--gw-button-primary-disabled-background);
    border-color: var(--gw-button-primary-disabled-border-color);
    color: var(--gw-button-primary-disabled-color);
  }
}

.onto-btn-secondary {
  background-color: var(--gw-button-secondary-background);
  border-color: var(--gw-button-secondary-border-color);
  color: var(--gw-button-secondary-color);

  &:hover {
    background-color: var(--gw-button-secondary-hover-background);
    border-color: var(--gw-button-secondary-hover-border-color);
    color: var(--gw-button-secondary-hover-color);
  }

  &:active {
    background-color: var(--gw-button-secondary-active-background);
    border-color: var(--gw-button-secondary-active-border-color);
    color: var(--gw-button-secondary-active-color);
  }

  &:focus {
    outline: var(--gw-button-focus-ring-width) var(--gw-button-focus-ring-style) var(--gw-button-secondary-focus-ring-color);
    outline-offset: var(--gw-button-focus-ring-offset);
  }

  &:disabled {
    background-color: var(--gw-button-secondary-disabled-background);
    border-color: var(--gw-button-secondary-disabled-border-color);
    color: var(--gw-button-secondary-disabled-color);
  }
}
