$hover-color: #d4d4d4;

.operations-statuses {
  position: relative;

  & .operations-statuses-dropdown-toggle {
    display: flex;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem 1rem;
    font-size: 1rem;
    gap: 0.75em;
    transition: all 0.15s ease-out;

    &:hover {
      background-color: $hover-color;
      border-color: $hover-color;
      i:not(.fa-angle-down) {
        transform: scale(1.2);
      }
    }

    &:focus {
      outline: none;
    }

    &.open {
      background-color: #bbb !important;
      border-color: #bbb !important;
    }

    & .operation-status-header {
      display: flex;

      & .running-operation-count {
        color: white;
        padding: 1px 2px;
        line-height: 1;
        align-self: center;
        top: -1em;
        font-size: 60%;
      }
    }
  }

  & .operations-dropdown {
    position: absolute;
    right: 0;
    z-index: 1000;
    border: none;
    background-color: var(--primary-color, #9e2b0a);
    border-radius: 0;
    list-style: none;
    padding: 0;
    -moz-transition: all 150ms ease-out; /* FF4+ */
    -o-transition: all 150ms ease-out; /* Opera 10.5+ */
    -webkit-transition: all 150ms ease-out; /* Saf3.2+, Chrome */
    transition: all 150ms ease-out;

    & .operations-statuses-content {
      display: flex;
      flex-direction: column;
      background-color: #bbb;
      margin: 0;

      & li:first-child {
        margin-top: 5px;
      }

      & li:last-child {
        margin-bottom: 5px;
      }

      & .operation-status-content {
        display: flex;
        flex-direction: row;
        margin: 5px 10px;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        text-decoration: none;
        width: auto;
        gap: 0.5em;
        background-color: #EBEBEB;
        border-color: #EBEBEB;

        & i {
          width: 8.33%
        }

        & .operation-number {
          min-width: 50px;
          display: block;

          & .operation-status-running-operation-count {
            display: block;
            width: 100%;
            color: white;
            border-radius: 2px;
            padding: 3px 2px 2px;
            text-align: center;
            font-size: 75%;
            background-color: var(--color-info-dark, #004177) !important;
          }
        }

        & .operation-status-content > * {
          padding: 0;
        }

        & .operation-status-label {
          width: 66.66%;
          padding-left: 5px;
          line-height: 0;
          text-align: start;
        }

        &:hover {
          text-decoration: none;
          background-color: $hover-color;
          border-color: $hover-color;
          & i {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.status-information {
  color: var(--color-info-dark, #004177) !important;
}

.status-warning {
  color: var(--color-warning-dark, #7e2308) !important;
}

.status-critical {
  color: var(--color-danger-dark, #a31425) !important;
}

i {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.1em;
  line-height: 1.6rem !important;
  align-content: center;
  transition: transform 0.15s ease-out;

  &.fa-angle-down {
    color: rgba(0, 0, 0, .35);
    transition: all 0.2s ease-in;
  }
}

// TODO: remove, once the import icon is replaced with the font awesome version
.icon-import {
  font-size: 21px;
}
