.operations-statuses {
  position: relative;
  background-color: transparent;

  .operations-statuses-dropdown-toggle {
    display: flex;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid var(--gw-button-tertiary-border-color);

    padding: .4rem 1rem;
    font-size: 1rem;
    gap: 0.75em;
    transition: all 0.15s ease-out;

    .operation-status-icon,
    .ri-arrow-down-s-line {
      color: var(--gw-button-tertiary-icon-color);
    }

    &:hover {
      i:not(.ri-arrow-down-s-line) {
        transform: scale(1.2);
      }
    }

    &:focus {
      outline: none;
    }

    .operation-status-header {
      display: flex;
      .running-operation-count {
        line-height: 1.7;
        display: inline;
        min-width: 1rem;
        height: 1rem;
        padding: 0 6px;
        background-color: var(--gw-badge-primary-background);
        color: var(--gw-badge-primary-color);
        font-size: 0.625rem;
        font-weight: 600;
      }
    }
  }

  .operations-dropdown {
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: var(--gw-contextmenu-background);
    border: 1px solid var(--gw-contextmenu-border-color);
    color: var(--gw-contextmenu-color);
    list-style: none;
    padding: 0;
    /* FF4+ */
    -moz-transition: all 150ms ease-out;
    /* Opera 10.5+ */
    -o-transition: all 150ms ease-out;
    /* Saf3.2+, Chrome */
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;

    .operations-statuses-content {
      display: flex;
      flex-direction: column;
      margin: 0;

      li:first-child {
        margin-top: 5px;
      }

      li:last-child {
        margin-bottom: 5px;
      }

      .operation-status-content {
        display: flex;
        flex-direction: row;
        margin: 5px 10px;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        text-decoration: none;
        width: auto;
        gap: 0.5em;
        background-color: var(--gw-button-tertiary-background);
        border: 1px solid var(--gw-button-tertiary-border-color);
        color: var(--gw-button-tertiary-color);

        i {
          width: 8.33%
        }

        .operation-number {
          min-width: 50px;
          display: block;

          .operation-status-running-operation-count {
            display: inline;
            min-width: 1rem;
            height: 1rem;
            padding: 2px 6px;
            background-color: var(--gw-badge-primary-background);
            color: var(--gw-badge-primary-color);
            font-size: 0.625rem;
            font-weight: 600;
          }
        }

        .operation-status-content > * {
          padding: 0;
        }

        .operation-status-label {
          width: 66.66%;
          padding-left: 5px;
          line-height: 0;
          text-align: start;
        }

        &:hover {
          text-decoration: none;
          color: var(--gw-button-tertiary-hover-color);
          background-color: var(--gw-button-tertiary-hover-background);

          i {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .status-information {
    color: var(--gw-message-info-color);
  }

  .status-warning {
    color: var(--gw-message-warning-color) !important;
  }

  .status-critical {
    color: var(--gw-message-error-color) !important;
  }

  i {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.1em;
    line-height: 1.6rem !important;
    align-content: center;
    transition: transform 0.15s ease-out;

    &.ri-arrow-down-s-line {
      transition: all 0.2s ease-in;
    }
  }

  .icon-import {
    font-size: 21px;
  }
}
