<link href="css/cookie-policy.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="cookie-policy-modal">
    <div class="title">{{'cookie.policy.title' | translate}}</div>

    <div class="heading">{{'cookie.policy.purpose_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.purpose_text' | translate}}</div>

    <div class="heading">{{'cookie.policy.who_are_we_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.who_are_we_text' | translate}}</div>

    <div class="heading">{{'cookie.policy.cookies_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.cookies_text' | translate}}</div>

    <div class="heading">{{'cookie.policy.privacy_commitment_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.privacy_commitment_text' | translate}}</div>
    <ul>
        <li>{{'cookie.policy.privacy_commitment_1' | translate}}</li>
        <li>{{'cookie.policy.privacy_commitment_2' | translate}}</li>
    </ul>

    <div class="heading">{{'cookie.policy.how_collect_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.how_collect_text' | translate}}</div>

    <div class="heading">{{'cookie.policy.what_collect_heading' | translate}}</div>
    <ul>
        <li>{{'cookie.policy.what_collect_text_1' | translate}}</li>
        <li>{{'cookie.policy.what_collect_text_2' | translate}}</li>
    </ul>

    <div class="heading">{{'cookie.policy.third_party_cookies_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.third_party_cookies_text' | translate}}</div>

    <div class="subheading">{{'cookie.policy.google_analytics_heading' | translate}}</div>
    <div class="text">
        {{'cookie.policy.google_analytics_opt_out_text' | translate}}
        <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">{{'cookie.policy.google_analytics_opt_out_link_text' | translate}}</a>
        {{'cookie.policy.google_analytics_text' | translate}}
    </div>

    <div class="heading">{{'cookie.policy.changes_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.changes_text' | translate}}</div>

    <div class="heading">{{'cookie.policy.contact_heading' | translate}}</div>
    <div class="text">{{'cookie.policy.contact_text' | translate}}</div>

    <div class="text-right">
        <button class="btn btn-primary" ng-click="close()">{{'common.agree.btn' | translate}}</button>
    </div>
</div>
