<div class="mb-2 row" ng-hide="getActiveRepository() && !isRestricted">
    <div role="alert">
        <div class="mb-1 mt-1 ml-1 mr-1">
            <div class="card repository-errors">
                <div class="alert alert-warning lead">
                    <div ng-if="!getActiveRepository()" >Some functionalities are not available because you are not connected to any repository.</div>
                    <div id="restrictedDiv" ng-if="getActiveRepository() && isRestricted">Some functionalities are not available because
                        <span ng-if="isSecurityEnabled() && !canWriteActiveRepo()">you have no write permission to repository </span>
                        <strong ng-if="isActiveRepoOntopType()">{{getActiveRepository()}}</strong>
                        <span ng-if="canWriteActiveRepo() && isActiveRepoOntopType()"> is read-only Virtual Repository</span>
                        <span ng-if="canWriteActiveRepo() && isActiveRepoFedXType()"> <b>{{title}}</b> view is not supported by FedX Repository</span>.</div>
                    <small>
                        <span ng-if="getAccessibleRepositories().length">
                            Click one of the repositories below to connect to it<span ng-if="canManageRepositories()"> or create a new repository</span>.
                        </span>

                        <span ng-hide="getAccessibleRepositories().length">
                            There are no accessible <span ng-if="isRestricted">writable </span>repositories<span ng-if="canManageRepositories()">. You can create a new repository</span>.
                        </span>
                    </small>
                </div>

                <ul class="list-group limit-height clearfix two-columns repos" ng-mouseleave="hidePopoverForRepo($event)">
                    <li ng-repeat="repository in getAccessibleRepositories() | orderBy: ['type === \'system\'', 'id']"
                        ng-if="repository.id !== getActiveRepository()"
                        class="list-group-item list-group-item-action repository"
                        ng-mouseenter="showPopoverForRepo($event, repository)" ngx-mouseleave="setPopoverForRepo($event, repository, false)">
                        <div class="lead ellipsis-block" ng-click="setRepository(repository.id)">
                            <span class="popover-anchor"
                                  popover-popup-delay="500"
                                  popover-trigger="show" popover-placement="{{$index % 2 === 0 ? 'bottom-right' : 'left-bottom'}}"
                                  uib-popover-template="popoverTemplate" popover-title="Repository {{repository.id}}">
                            <em class="icon-lg" ng-class="'icon-repo-' + repository.type"></em>
                            <strong>{{repository.id}}</strong></span><small ng-show="repository.title"><span class="small"> &middot; {{repository.title}}</span></small>
                        </div>
                    </li>
                </ul>

                <div class="pull-right" ng-if="canManageRepositories()">
                    <button class="btn btn-link px-0 create-repository-btn" ng-click="goToAddRepo()">
                        <span class="icon-plus"></span> Create new repository
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

