<div class="mb-2 row" ng-hide="getActiveRepository() && !isRestricted">
    <div role="alert">
        <div class="mb-1 mt-1 ml-1 mr-1">
            <div class="card repository-errors">
                <div class="alert lead" ng-class="!getActiveRepository() ? 'alert-info' : 'alert-warning'">
                    <div ng-if="!getActiveRepository()" >{{'core.errors.no.connected.repository.warning.msg' | translate}}</div>
                    <div id="restrictedDiv" ng-if="getActiveRepository() && isRestricted">{{'core.errors.restricted.warning.msg' | translate}}
                        <span ng-if="!isLicenseValid()">{{'core.errors.not.valid.license.warning.msg' | translate}}
                            <p></p>
                            <div><a href="license" class="btn btn-primary confirm-btn">{{'core.errors.set.new.license.warning.msg' | translate}}</a></div>
                        </span>
                        <span ng-if="isSecurityEnabled() && !canWriteActiveRepo()">{{'core.errors.no.permission.to.repository.warning.msg' | translate}}</span>
                        <strong ng-if="isActiveRepoOntopType()">{{getActiveRepository()}}</strong>
                        <span ng-if="canWriteActiveRepo() && isActiveRepoOntopType()">{{'core.errors.read.only.repository.warning.msg' | translate}}</span>
                        <span ng-if="canWriteActiveRepo() && isActiveRepoFedXType()"> <strong>{{title | translate}}</strong>{{'core.errors.fedx.repository.warning.msg' | translate}}</span></div>
                    <small>
                        <span ng-if="getAccessibleRepositories().length && isLicenseValid()">
                            {{'core.errors.select.repository.warning.msg' | translate}}<span ng-if="canManageRepositories()">{{'core.errors.or.create.repository.warning.msg' | translate}}</span>.
                        </span>

                        <span ng-hide="getAccessibleRepositories().length">
                            {{'core.errors.no.accessible.warning.msg' | translate}}<span ng-if="isRestricted">{{'core.errors.writable' | translate}}
                        </span>{{'core.errors.repositories' | translate}}<span ng-if="canManageRepositories()">{{'core.errors.create.repository.warning.msg' | translate}}</span>.
                        </span>
                    </small>
                </div>
                <div ng-if="!getActiveRepository()">
                    <button class="btn btn-link" ng-click="toggleShowRemoteLocations()">
                        {{(showRemoteLocations ? "core.errors.hide.remote.locations.btn" : "core.errors.show.remote.locations.btn") | translate}}
                    </button>
                </div>
                <ul class="list-group limit-height clearfix two-columns repos" ng-mouseleave="hidePopoverForRepo($event)">
                    <li ng-repeat="repository in getAccessibleRepositories() | orderBy: ['type === \'system\'', 'location', 'id']"
                        ng-if="repository.id !== getActiveRepository() || repository.location !== getActiveRepositoryObject().location"
                        class="list-group-item list-group-item-action repository"
                        ng-class="{'remote': !repository.local}"
                        ng-mouseenter="showPopoverForRepo($event, repository)" ngx-mouseleave="setPopoverForRepo($event, repository, false)">
                        <div class="lead ellipsis-block" ng-click="setRepository(repository)">
                            <span class="popover-anchor"
                                  popover-popup-delay="500"
                                  popover-trigger="show" popover-placement="{{$index % 2 === 0 ? 'bottom-right' : 'left-bottom'}}"
                                  uib-popover-template="popoverTemplate" popover-title="Repository {{repository.id}}">
                            <em class="icon-lg" ng-class="'icon-repo-' + repository.type"></em>
                            <strong>{{repository.id}}</strong></span>
                            <span class="small" ng-if="showRemoteLocations">
                                <small>@ {{repository.location ? repository.location : 'core.errors.location.local.label' | translate}}</small>
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="pull-right" ng-if="isLicenseValid() && canManageRepositories()">
                    <button class="btn btn-link px-0 create-repository-btn" ng-click="goToAddRepo()">
                        <span class="icon-plus"></span><span class="btn-link-text">{{ 'repository.create.btn' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

