<div class="alert alert-danger plugin-not-active-warning" ng-if="!pluginIsActive">
    <p><strong>{{humanReadablePluginName}}</strong> is not active for this repository.<br>
        When a plugin is not active it cannot be used or configured.
    </p>
    <button class="btn btn-primary btn-lg confirm-btn"
            gdb-tooltip="Activate {{humanReadablePluginName}}"
            tooltip-placement="top"
            tooltip-trigger="mouseenter"
            ng-click="activatePlugin()">
        Activate
    </button>
</div>
