<div class="input-group input-group-lg">
    <input type="text" class="form-control view-res-input" placeholder="{{placeholder}}" ng-model="searchInput"
           ng-change="onChange()"
           ng-keydown="onKeyDown($event)">
    <span class="input-group-btn">
        <button ng-if="textButton !== ''" type="button" class="btn btn-primary" type="button" ng-click="checkIfValidAndSearchText()">{{textButton ? textButton : 'Text'}}</button>
    </span>
    <span class="input-group-btn">
        <button ng-if="visualButton !== ''" type="button" class="btn btn-primary" type="button" ng-click="checkIfValidAndSearchVisual()">{{visualButton ? visualButton : 'Visual'}}</button>
    </span>
</div>
<div id="auto-complete-results-wrapper">
    <div ng-repeat="autoCompleteUriResult in autoCompleteUriResults track by $index"
         ng-click="searchRdfResourceByEvent(autoCompleteUriResult, $event)" ng-class="{active: activeSearchElm === $index}"
         ng-mouseover="setActiveClassOnHover($index)">
        <p ng-bind-html="autoCompleteUriResult.description"></p>
    </div>
</div>