.onto-rdf-search {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  height: auto;

  & .search-area {
    white-space: nowrap;
    text-align: start;
    font-weight: 300;
    max-width: 100vw;
    position: fixed;
    right: 3em;
    z-index: 1;
    display: block;
    width: 60vw;
    -webkit-transition: top 0.3s ease-in, opacity 0.5s ease;
    transition: top 0.3s ease-in, opacity 0.5s ease;
    border-radius: 0;
    margin-bottom: 1em;
    padding: 1.6rem;
    color: var(--gw-dialog-color);
    background-color: var(--gw-dialog-background);
    border: 1px solid var(--gw-dialog-border-color);
    box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);


    &.visible {
      top: 40px;
      opacity: 1;
    }

    &.invisible {
      top: -550px;
      opacity: 0;
    }

    & .close-btn {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.5rem;
    }
  }

  & i {
    cursor: pointer;
    color: var(--gw-button-tertiary-icon-color);
    transition: all 0.15s ease-out;

    &.ri-search-line, &.close-btn {
      padding: .5rem .8rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
