.navbar-component {
    position: fixed;
    width: 15rem;
    background-color: #f7f7f7;
    height: 100%;
    padding: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-component > div {
    width: 100%;
}

.navbar-component {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-component .nav-item {
    margin: 0 !important;
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}

.navbar-component .nav-item .nav-link {
    text-decoration: none;
    color: rgb(0, 54, 99);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 5px 10px;
    display: block;
}

.navbar-component .brand {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl( 207.3 , 100% , 19.4% );
}

.navbar-component .brand a {
    display: block;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
}
