:host {
  display: block;
}

.onto-repository-selector {

  .onto-dropdown {

    &.closed {
      .onto-dropdown-button {
        background-color: var(--gw-button-secondary-background);
        color: var(--gw-button-secondary-background);

        &:hover {
          background-color: var(--gw-button-secondary-hover-background);
          color: var(--gw-button-secondary-hover-color);
        }
      }
    }
  }

  .repository-selector-dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.4em;

    .item-icon {
      font-size: 1.4em;
    }

    .item-label {
      line-height: 0.75em;
      display: inline-block;
      vertical-align: middle;
      text-align: left;

      .repository-id {
        line-height: .75em;
      }

      .repository-location {
        font-weight: 300;
        font-size: .75em;
        margin-top: .4em;
        display: inline-block;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tippy-box[data-theme="light-border"] {
  border-radius: 0;

  &.tippy-box[data-placement*=left] > .tippy-arrow:before {
    border-left-color: var(--gw-dialog-background);
  }

  &.tippy-box[data-placement*=left]>.tippy-arrow:after {
    border-left-color: var(--gw-dialog-border-color);
  }

  &.tippy-box[data-placement*=top] > .tippy-arrow:before {
    border-top-color: var(--gw-dialog-background);
  }

  &.tippy-box[data-placement*=top]>.tippy-arrow:after {
    border-top-color: var(--gw-dialog-border-color);
  }

  &.tippy-box[data-placement*=right] > .tippy-arrow:before {
    border-right-color: var(--gw-dialog-background);
  }

  &.tippy-box[data-placement*=right]>.tippy-arrow:after {
    border-right-color: var(--gw-dialog-border-color);
  }

  &.tippy-box[data-placement*=bottom] > .tippy-arrow:before {
    border-bottom-color: var(--gw-dialog-background);
  }

  &.tippy-box[data-placement*=bottom]>.tippy-arrow:after {
    border-bottom-color: var(--gw-dialog-border-color);
  }

  .tippy-content {
    padding: 0;
    color: var(--gw-dialog-color);
    border: 1px solid var(--gw-dialog-border-color);
    box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);

    .repository-tooltip-title {
      font-size: 1rem;
      font-weight: 400;
      padding: 8px 14px;
      background-color: var(--gw-dialog-background);
      border-bottom: var(--gw-dialog-border-color) 1px solid;

      .value {
        word-wrap: break-word;
      }
    }

    .repository-tooltip-content {
      background-color: var(--gw-dialog-background);
      padding: 1.5rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      font-weight: 400;
      font-size: 0.875rem;
    }

    .repository-tooltip-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.total {
        margin-top: 1.2em;
      }

      .value {
        margin-left: .6em;
      }
    }
  }
}
