:root {
  --onto-repository-selector-color: var(--secondary-color, #373a3c);
}

:host {
  display: block;
}

.onto-repository-selector {

  .onto-dropdown {

    &.closed {
      .onto-dropdown-button {
        background-color: #ebebeb;
        color: var(--onto-repository-selector-color);

        &:hover {
          background-color: #d4d4d4;
        }
      }
    }
  }

  .repository-selector-dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.4em;

    .item-icon {
      font-size: 1.5em;
    }

    .item-label {
      display: flex;
      flex-direction: column;
      align-items: start;

      .repository-id {
        line-height: .75em;
      }

      .repository-location {
        font-weight: 300;
        font-size: .75em;
        margin-top: .3em;
        display: inline-block;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tippy-box[data-theme="light-border"] {
  border-radius: 0;

  .tippy-content {
    padding: 0;
    color: #373a3c;

    .repository-tooltip-title {
      font-size: 1rem;
      font-weight: 400;
      padding: 8px 14px;
      background-color: #f7f7f7;

      .value {
        word-wrap: break-word;
      }
    }

    .repository-tooltip-content {
      padding: 8px 14px;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      font-weight: 400;
      font-size: 0.875rem;
    }

    .repository-tooltip-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.total {
        margin-top: 1.2em;
      }
    }
  }
}
