:host {
  display: block;
}

.onto-repository-selector {
  .onto-dropdown {
    &.closed {
      .onto-dropdown-button:not(:hover) {
        background-color: transparent;
      }
    }
  }

  .repository-selector-dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.4em;

    .item-icon {
      font-size: 1.4em;
    }

    .item-label {
      line-height: 0.75em;
      display: inline-block;
      vertical-align: middle;
      text-align: left;

      .repository-id {
        line-height: .75em;
      }

      .repository-location {
        font-weight: 300;
        font-size: .75em;
        margin-top: .4em;
        display: inline-block;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tooltip-box[data-theme="light-border"] {
  color: var(--gw-dialog-color) !important;
  background-color: var(--gw-dialog-background) !important;
  border: 1px solid var(--gw-dialog-border-color) !important;
  box-shadow: var(--gw-dialog-shadow-1-offset-x) var(--gw-dialog-shadow-1-offset-y) var(--gw-dialog-shadow-1-blur) var(--gw-dialog-shadow-1-spread) var(--gw-dialog-shadow-1-color);
  max-width: 350px;
  opacity: 1 !important;

  .tooltip-arrow::before {
    border: 1px solid var(--gw-dialog-border-color);
    background-color: var(--gw-dialog-background);
  }

  .tooltip-content {
    padding: 0;

    .repository-tooltip-title {
      font-size: 1rem;
      font-weight: 400;
      padding: 8px 14px;
      background-color: var(--gw-dialog-background);
      border-bottom: var(--gw-dialog-border-color) 1px solid;

      .value {
        overflow-wrap: break-word;
      }
    }

    .repository-tooltip-content {
      background-color: var(--gw-dialog-background);
      padding: 1.5rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      font-weight: 400;
      font-size: 0.875rem;
    }

    .repository-tooltip-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.total {
        margin-top: 1.2em;
      }

      .value {
        margin-left: .6em;
      }
    }
  }
}
