:host {
  display: block;
}

.onto-repository-selector {
  .repository-selection {
    max-width: 16rem;
    display: flex;

    .repository-id {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .onto-dropdown {
    &.closed {
      .onto-dropdown-button:not(:hover) {
        background-color: transparent;
      }
    }
  }

  .repository-selector-dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.4em;

    .item-icon {
      font-size: 1.4em;
    }

    .item-label {
      line-height: 0.75em;
      text-align: left;
      min-width: 0;

      .repository-id {
        line-height: 1.2em;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .repository-location {
        font-weight: 300;
        font-size: .75em;
        margin-top: .4em;
        display: inline-block;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.repository-selector-tooltip.onto-tooltip-box {
  min-width: 22rem;

  .tooltip-content {
    padding: 12px;

    .repository-tooltip-title {
      font-size: 1rem;
      font-weight: 400;
      background-color: var(--gw-dialog-background);

      .value {
        overflow-wrap: break-word;
        font-weight: 500;
      }

      .label {
        margin-right: 0;
      }

      .title {
        font-size: 1.14em;
        font-weight: 600;
        line-height: 1;
        text-align: left; 
        margin-bottom: 0.285em;
      }

      .title:not(.inactive) {
        color: #05070B;
      }

      .title.inactive,
      .title .ri-stop-large-fill,
      .title .ri-loop-left-fill {
        color: var(--gw-iconfield-icon-color);
      }

      .title .ri-checkbox-blank-circle-fill {
        color: var(--gw-success-600);
      }


      .title i {
        font-size: inherit;
        vertical-align: baseline;
        margin-right: 0.55em;
      }
    }

    .repository-tooltip-description {
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      font-size: 0.8rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .repository-tooltip-content {
      background-color: var(--gw-dialog-background);
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      font-weight: 400;
      font-size: 0.875rem;
    }

    .repository-tooltip-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.total {
        margin-top: 1.2em;
      }

      .value {
        margin-left: .6em;
        font-weight: 500;
      }

      &.inactive-repo-message {
        background-color: #f0f2f4;
        color: #121921;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 4px 8px;
        gap: 0.57em;
        border: 1px solid var(--gw-border-color-default);
    }

    .inactive-repo-message p {
        font-size: 1.14em;
        font-weight: 400;
        margin: 0;
    }

    .inactive-repo-message .icon {
        font-size: 1.14em;
    }
  }
}
}