html, body {
    height: 100%;
}

.page-content,
.page-content .container-fluid {
    height: calc(100% - 70px);
    padding-bottom: 1rem !important;
}

.acl-management-view,
.acl-management-view .acl-management-container,
.acl-management-view .acl-management-container .acl-scope-tabs {
    height: 100%;
}

.acl-management-view .acl-actions {
    position: sticky;
    bottom: 35px;
    padding: .5em;
    /* opaque version of the color-warning-light */
    background-color: #F8F0EE;
}

.acl-management-view .acl-actions .message {
    margin-right: 1em;
}

.acl-management-view .table-responsive {
    /* override this from bootstrap to allow autocomplete menu appear on top of the table and not to be cut off */
    overflow-x: visible !important;
}

.acl-management-view .edit-mode .table-responsive {
    max-height: 88%;
}

.acl-management-view .preview-mode .table-responsive {
    max-height: 95%;
}

.acl-management-view .acl-rules {
    table-layout: fixed;
    margin-bottom: 40px;
}

.acl-management-view .acl-rules .labels-row th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acl-management-view .acl-rules .toolbar {
    height: 35px;
    padding: 0;
    position: relative;
}

.acl-management-view .acl-rules .no-data {
    text-align: center;
    background-color: var(--color-info-light);
}

.acl-management-view .acl-rules .preview-rule-row td.data {
    overflow-wrap: break-word;
}

.acl-management-view .acl-rules .index-column {
    width: 5ch;
}

.acl-management-view .acl-rules .reorder-column {
    width: 25px;
}

.acl-management-view .acl-rules .index-cell {
    text-align: center;
}

.acl-management-view .acl-rules .reorder-cell {
    padding: 0;
}

.acl-management-view .acl-rules .reorder-cell button {
    padding: 0;
    cursor: pointer;
}

.acl-management-view .acl-rules .reorder-cell button em {
    font-size: 20px;
    width: 20px;
}

.acl-management-view .acl-rules .data input {
    width: 95%;
    display: inline-block;
}

.acl-management-view .acl-rules .data input.ng-invalid ~ em:after {
    content: "*";
    color: red;
    display: inline;
    position: absolute;
    margin: 4px 0 0 3px;
}

.acl-management-view .acl-rules .input-container {
    display: flex;
    align-items: center;
}

.acl-management-view .acl-rules .role-cell .icon-warning {
    margin-left: 3px;
}

.acl-management-view .acl-rules .operation-column {
    width: 10%;
}

.acl-management-view .acl-rules .subject-column {
    width: 15%;
}

.acl-management-view .acl-rules .predicate-column {
    width: 15%;
}

.acl-management-view .acl-rules .object-column {
    width: 15%;
}

.acl-management-view .acl-rules .context-column {
    width: 15%;
}

.acl-management-view .acl-rules .plugin-column {
    width: 15%;
}

.acl-management-view .acl-rules .policy-column {
    width: 7%;
}

.acl-management-view .acl-rules .role-column {
    width: 13%;
}
.acl-management-view .acl-rules .actions-column {
    width: 8%;
}

.acl-management-view .acl-rules .actions-cell {
    text-align: right;
}

.acl-management-view .acl-rules .actions-cell button {
    padding: 0;
    cursor: pointer;
}

.acl-management-view .acl-rules .selected {
    animation: highlight 2s 1;
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 255, 153, .8);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

input::placeholder {
    text-transform: initial;
}

.acl-rules.preview-rule-row td, .acl-rules.preview-rule-row th {
    padding: 12px 16px;
}

.table.acl-rules th {
    border-top: none;
}

.wildcard-cell {
    font-family: var(--mono-font);
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.5) !important
}

.subject-cell, .predicate-cell, .object-cell, .context-cell {
    font-family: var(--mono-font);
    font-size: 100%;
}

.context-cell-special {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}

.plugin-cell:not(.wildcard-cell) {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}

.acl-tag {
    padding: 0.25em 0.5em;
    font-weight: 500;
}

.acl-tag-allow {
    background-color: var(--color-success-light);
    color: var(--color-success-dark);
}

.acl-tag-deny {
    background-color: var(--color-danger-light);
    color: var(--color-danger-dark);
}

.acl-tag-read {
    background-color: var(--color-help-light);
    color: var(--color-info-dark);
}

.acl-tag-write {
    background-color: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.acl-tag-role {
    color: inherit;
    padding: 0;
}

.acl-tag-role-negated {
    background-color: #ddd;
    color: var(--gray-color-dark);
}

.nav-link{
    position: relative;
}

.nav-link.disabled:not(.active) {
    cursor: not-allowed;
    background-color: #eee!important;
}

.reorder-cell {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
}

.textarea-edit {
    flex: 1;
    padding: 4px 8px;
    min-height: 29px;
}

.autocomplete-textarea {
    min-height: 29px;
}

.crud-actions-group {
    display: flex;
    justify-content: flex-end;
}

.select-rule {
    height: 29px !important;
    font-size: 100%;
}

tr.acl-rule.edit-rule-row .form-control:not(.select-rule){
    font-family: var(--mono-font);
    font-size: 100%;
}

.autocomplete-results-wrapper {
    z-index: 1000;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, form.ng-submitted .ng-invalid, .autocomplete-editable.invalid {
    border: 2px solid #FA787E;
}

table td {
    vertical-align: top !important;
}

.table-info, .table-info > td, .table-info > th {
    background-color: var(--color-warning-light) !important;
}

.nav-item .nav-link > span,
.nav-item .nav-link > i {
    vertical-align: middle;
}
