.acl-management-view .acl-rules {
    table-layout: fixed;
}

.acl-management-view .acl-rules .labels-row th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}

.acl-management-view .acl-rules .toolbar {
    height: 35px;
    padding: 0;
    position: relative;
}

.acl-management-view .acl-rules .no-data {
    text-align: center;
    background-color: var(--color-info-light);
}

.acl-management-view .acl-rules .preview-rule-row td.data {
    overflow-wrap: break-word;
}

.acl-management-view .acl-rules .index-column {
    width: 4ch;
}

.acl-management-view .acl-rules .reorder-column {
    width: 25px;
}

.acl-management-view .acl-rules .index-cell {
    padding: 0;
    text-align: center;
}

.acl-management-view .acl-rules .reorder-cell {
    padding: 0;
}

.acl-management-view .acl-rules .reorder-cell button {
    padding: 0;
    cursor: pointer;
}

.acl-management-view .acl-rules .reorder-cell button em {
    font-size: 20px;
    width: 20px;
}

.acl-management-view .acl-rules .data input {
    width: 95%;
    display: inline-block;
}

.acl-management-view .acl-rules .data input.ng-invalid ~ em:after {
    content: "*";
    color: red;
    display: inline;
    position: absolute;
    margin: 4px 0 0 3px;
}

.acl-management-view .acl-rules .subject-column {
    width: 18%;
}

.acl-management-view .acl-rules .predicate-column {
    width: 18%;
}

.acl-management-view .acl-rules .object-column {
    width: 18%;
}

.acl-management-view .acl-rules .context-column {
    width: 18%;
}

.acl-management-view .acl-rules .role-column {
    width: 18%;
}

.acl-management-view .acl-rules .policy-column {
    width: 100px;
}

.acl-management-view .acl-rules .actions-column {
    width: 107px;
}

.acl-management-view .acl-rules .actions-cell {
    text-align: right;
}

.acl-management-view .acl-rules .actions-cell button {
    padding: 0;
    cursor: pointer;
}

.acl-management-view .acl-rules .selected {
    animation: highlight 2s 1;
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 255, 153, .8);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
