.acl-management-view .acl-rules {
    table-layout: fixed;
}

.acl-management-view .acl-rules .labels-row th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acl-management-view .acl-rules .toolbar {
    height: 35px;
    padding: 0;
    position: relative;
}

.acl-management-view .acl-rules .no-data {
    text-align: center;
    background-color: var(--color-info-light);
}

.acl-management-view .acl-rules .preview-rule-row td.data {
    overflow-wrap: break-word;
}

.acl-management-view .acl-rules .index-column {
    width: 4ch;
}

.acl-management-view .acl-rules .reorder-column {
    width: 25px;
}

.acl-management-view .acl-rules .index-cell {
    padding: 0;
    text-align: center;
}

.acl-management-view .acl-rules .reorder-cell {
    padding: 0;
}

.acl-management-view .acl-rules .reorder-cell button {
    padding: 0;
    cursor: pointer;
}

.acl-management-view .acl-rules .reorder-cell button em {
    font-size: 20px;
    width: 20px;
}

.acl-management-view .acl-rules .data input {
    width: 95%;
    display: inline-block;
}

.acl-management-view .acl-rules .data input.ng-invalid ~ em:after {
    content: "*";
    color: red;
    display: inline;
    position: absolute;
    margin: 4px 0 0 3px;
}

.acl-management-view .acl-rules .operation-column {
    width: 10%;
}

.acl-management-view .acl-rules .subject-column {
    width: 15%;
}

.acl-management-view .acl-rules .predicate-column {
    width: 15%;
}

.acl-management-view .acl-rules .object-column {
    width: 15%;
}

.acl-management-view .acl-rules .context-column {
    width: 15%;
}

.acl-management-view .acl-rules .plugin-column {
    width: 15%;
}

.acl-management-view .acl-rules .policy-column {
    width: 10%;
}

.acl-management-view .acl-rules .role-column {
    width: 10%;
}

.acl-management-view .acl-rules .actions-cell {
    text-align: right;
}

.acl-management-view .acl-rules .actions-cell button {
    padding: 0;
    cursor: pointer;
}

.acl-management-view .acl-rules .selected {
    animation: highlight 2s 1;
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 255, 153, .8);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

input::placeholder {
    text-transform: initial;
}

.acl-rules.preview-rule-row td, .acl-rules.preview-rule-row th {
    padding: 12px 16px;
}

.table.acl-rules th {
    border-top: none;
}

.wildcard-cell {
    font-family: var(--mono-font);
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.5) !important
}

.subject-cell, .predicate-cell, .object-cell, .context-cell {
    font-family: var(--mono-font);
    font-size: 90%;
}

.context-cell-special {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}

.acl-tag {
    padding: 0.25em 0.5em;
    font-weight: 500;
}

.acl-tag .fa {
    font-size: 90%;
}

.acl-tag-allow {
    background-color: var(--color-success-light);
    color: var(--color-success-dark);
}

.acl-tag-deny {
    background-color: var(--color-danger-light);
    color: var(--color-danger-dark);
}

.acl-tag-read {
    background-color: var(--color-help-light);
    color: var(--color-info-dark);
}

.acl-tag-write {
    background-color: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.acl-tag-role {
    color: inherit;
    padding: 0;
}

.acl-tag-role-negated {
    background-color: #ddd;
    color: var(--gray-color-dark);
    padding: 0;
}

.nav-link{
    position: relative;
}

.dirty-scope {
    position: absolute;
    right: 0.3em;
}

.reorder-cell {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
}

.textarea-edit {
    padding: 4px 8px;
    min-height: 29px;
}

.autocomplete-textarea {
    min-height: 29px;
}

.crud-actions-group {
    display: flex;
    justify-content: flex-end;
}

.select-rule {
    height: 29px !important;
}

tr.acl-rule.edit-rule-row .form-control{
    font-family: var(--mono-font);
    font-size: 100%;
}
