/* Common things for GraphDB and Swagger */

/*-------------------------------------------------------------
	Variables
-------------------------------------------------------------*/
:root {
    --main-font: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --main-font-weight: 300;
    --mono-font: 'JetBrains Mono', Menlo, Consolas, 'Ubuntu Mono', monospace;

    --onto-orange-hue: 13.4;
    --onto-orange-saturation: 87.9%;
    --onto-orange-lightness: 33%;
    --onto-orange-hsl: var(--onto-orange-hue), var(--onto-orange-saturation), var(--onto-orange-lightness);

    --onto-orange: hsl(var(--onto-orange-hsl));
    --onto-orange-light: hsl(var(--onto-orange-hue), var(--onto-orange-saturation), calc(var(--onto-orange-lightness)*1.2));
    --onto-orange-dark: hsl(var(--onto-orange-hue), var(--onto-orange-saturation), calc(var(--onto-orange-lightness)*0.8));


    --onto-blue-hue: 207.3;
    --onto-blue-saturation: 100%;
    --onto-blue-lightness: 19.4%;
    --onto-blue-hsl: var(--onto-blue-hue), var(--onto-blue-saturation), var(--onto-blue-lightness);

    --onto-blue: hsl(var(--onto-blue-hsl));
    --onto-blue-light: hsl(var(--onto-blue-hue), var(--onto-blue-saturation), calc(var(--onto-blue-lightness)*1.2));
    --onto-blue-dark: hsl(var(--onto-blue-hue), var(--onto-blue-saturation), calc(var(--onto-blue-lightness)*0.8));


    --onto-green-hue: 174.6;
    --onto-green-saturation: 97.7%;
    --onto-green-lightness: 33.5%;
    --onto-green-hsl: var(--onto-green-hue), var(--onto-green-saturation), var(--onto-green-lightness);

    --onto-green: hsl(var(--onto-green-hsl));
    --onto-green-light: hsl(var(--onto-green-hue), var(--onto-green-saturation), calc(var(--onto-green-lightness)*1.2));
    --onto-green-dark: hsl(var(--onto-green-hue), var(--onto-green-saturation), calc(var(--onto-green-lightness)*0.8));

    --onto-icon-on-orange: rgba(255, 255, 255, 0.8);

    --onto-grey-rgb: 151, 153, 156;
    --onto-grey: #97999C;

    --color-danger-dark: #a41424;
    --color-success-dark: #005934;
    --color-warning-dark: #734721;
    --color-info-dark: #115590;
}

/*-------------------------------------------------------------
	Fonts
-------------------------------------------------------------*/
/* roboto-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local(''),
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-regular - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-600 - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-italic - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-600italic - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    src: local(''),
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/jetbrains-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
