:root {
    --form-element-height: 38px;
    --vertical-margin: 1em;
    --label-left-padding: 8px;
}

.dynamic-form-container {
    width: 100%;
}

.dynamic-form-container .dynamic-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dynamic-form-container .dynamic-form .form-inline {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    margin-bottom: var(--vertical-margin);
    align-items: start;
    column-gap: 2rem
}

.dynamic-form-container .dynamic-form .form-group .group-title {
    height: var(--form-element-height);
    margin-bottom: var(--vertical-margin);
    display: flex;
    align-items: center;
}

.dynamic-form-container .dynamic-form .form-group .group-title span {
    display: inline-block;
    padding-left: var(--label-left-padding);
}

.dynamic-form-container .dynamic-form .form-inline label {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: var(--label-left-padding);
    overflow-wrap: break-word;
}

.dynamic-form-container .dynamic-form .hidden-fields .form-inline label {
    animation: highlight 0.5s 1 forwards;
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: var(--color-warning-light);
    }
}

.dynamic-form-container .dynamic-form .form-inline input,
.dynamic-form-container .dynamic-form .form-inline textarea,
.dynamic-form-container .dynamic-form .form-inline select {
    width: 100%;
}

.dynamic-form-container .dynamic-form .form-inline.boolean-field label {
    cursor: pointer;
}

.dynamic-form-container .dynamic-form .form-inline input[type="checkbox"] {
    width: auto;
    align-self: center;
    justify-self: start;
}

.dynamic-form-container .dynamic-form .form-inline:has(input[type="checkbox"]) {
    height: var(--form-element-height);
}
