.opacity-hide {
    opacity: 0;
    display: none;
}

#results-loader object {
    display: block;
    margin: 0 auto;
}

.autocomplete-toast a, .autocomplete-toast a:hover {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .page {
        padding-right: 20px;
    }
}
