b {
    color: var(--autocomplete-match);
}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px; /*your preference*/
}

.angucomplete-row {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.angucomplete-selected-row {
    background-color: var(--autocomplete-background);
    cursor: pointer;
}

.angucomplete-dropdown:hover .angucomplete-row {
    display: block;
}

.search-button {
    position:absolute;
    right: 0;
}
