/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/OpenSans/OpenSans-Light.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/OpenSans/OpenSans-Regular.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../font/OpenSans/OpenSans-Semibold.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../font/OpenSans/OpenSans-Bold.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../font/OpenSans/OpenSans-ExtraBold.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../font/OpenSans/OpenSans-LightItalic.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../font/OpenSans/OpenSans-Italic.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../font/OpenSans/OpenSans-SemiboldItalic.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../font/OpenSans/OpenSans-BoldItalic.woff) format('woff');
}

/* fallback */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../font/OpenSans/OpenSans-ExtraBoldItalic.woff) format('woff');
}
