.yasr_header,
.yasr .dataTables_filter {
    display: none !important;
}

.yasr_results {
    max-height: 345px;
    overflow-y: auto;
}

yasgui-component .CodeMirror {
    height: 330px !important;
}

/* Centers loader vertically within the space occupied by the editor */
#sparql-content .ot-loader-new-content {
    margin-top: 121px;
    margin-bottom: 120px;
}

#editor-wrapper {
    position: absolute;
    display: inline-block;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.image-label-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
}

.image-label {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 1rem;
    margin: 0 1rem 0 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    position: relative;
}

.image-label:last-of-type {
    margin-right: 0;
}

.image-label-image {
    max-width: 140px;
    display: block;
    margin: 0 auto 1rem auto;
}

.image-label .form-check-input {
    margin: 0;
    top: 0.8rem;
    left: 0.8rem;
}

.image-label:hover {
    border-color: hsla(var(--primary-color-hsl), 0.3);
    background-color:  hsla(var(--primary-color-hsl), 0.03)
}

.image-label.active, .image-label.active:hover {
    border-color: rgb(237, 79, 47);
    background-color:  hsla(var(--primary-color-hsl), 0.15)
}

@media (max-width: 1270px) {
    .image-label {
        flex-direction: column;
    }

    .info-box-img {
        max-width: 200px;
        height: auto;
    }
}

.small-caps {
    font-variant: all-small-caps;
}
