.import-resource-table {
    width: 100%;
}

.import-resource-table .import-resource-row.even-row-start:hover,
.import-resource-table .import-resource-row.even-row-start:hover + .import-resource-row,
.import-resource-table .import-resource-row.odd-row-start:hover,
.import-resource-table .import-resource-row.odd-row-start:hover + .import-resource-row {
    background-color: rgba(0, 0, 0, .075);
}

.import-resource-table .even-row-start,
.import-resource-table .even-row-end {
    background-color: rgba(0, 0, 0, .05);
}

.import-resource-table .import-resource-header-cell {
    padding: 8px;
}

.import-resource-table .import-resource-header-cell:hover {
    cursor: pointer;
}

.import-resource-table .import-resource-cell {
    padding-left: 8px;
    padding-right: 8px;
}

.import-resource-table .even-row-end .import-resource-cell,
.import-resource-table .odd-row-end .import-resource-cell {
    padding-bottom: 8px;
}

.import-resource-table .even-row-end .import-resource-cell {
    border-bottom: 1px solid #dddddd;
}

.import-resource-table .even-row-start .import-resource-cell,
.import-resource-table .odd-row-start .import-resource-cell {
    border-top: 1px solid #dddddd;
    padding-top: 8px;
}

.import-resource-tree .import-resource-table .import-resource-header-cell {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.import-resource-tree .import-resource-table .import-resource-cell.import-resource-cell-select,
.import-resource-tree .import-resource-table .import-resource-header-cell.import-resource-cell-select {
    width: 20px;
}

.import-resource-tree .import-resource-table .import-resource-cell {
    line-height: 18px;
    vertical-align: top;
}

.import-resource-tree .import-resource-table .import-resource-title {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.import-resource-tree .import-resource-table .import-resource-title em {
    padding-right: 10px
}

.import-resource-tree .import-resources-actions .batch-import-dropdown {
    margin-right: .5rem;
}

.import-resource-tree .import-resources-actions .import-resource-status-dropdown .import-resource-status-checkbox {
    pointer-events: none;
}

.import-resource-tree .import-resources-actions .import-resource-status-dropdown .dropdown-toggle {
    padding-left: 0.5rem;
}

.import-resource-tree .import-resources-actions .import-resource-status-dropdown .dropdown-toggle:not(.selected) {
    border: none;
    background-color: #fff;
}

.import-resource-tree .import-resources-actions .import-resource-status-dropdown,
.import-resource-tree .import-resources-actions .import-resource-selected-actions {
    display: flex;
}

.import-resource-tree .import-resource-table .import-resource-actions {
    display: flex;
    justify-content: flex-end;
}

.import-resource-tree .import-resource-table .import-resource-actions .import-resource-action-import-btn {
    border: none;
    padding: .25em .25em;
    margin: 0 .25em;
}

.import-resource-tree .import-resource-table .import-resource-actions .import-resource-action-import-btn .icon-import {
    line-height: 1;
}

.import-resource-tree .import-resource-table .import-resource-modified,
.import-resource-tree .import-resource-table .import-resource-imported,
.import-resource-tree .import-resource-table .import-resource-size {
    min-width: 120px;
}

.import-resource-tree .import-resource-table .import-resource-cell.import-resource-message,
.import-resource-tree .import-resource-table .import-resource-header-cell.import-resource-name {
    width: 40%;
}

.import-resource-tree .import-resource-table .import-resource-cell .import-resource-message .success-messages {
    display: flex;
}

.import-resource-tree .import-resource-table .import-resource-cell .import-resource-message .success-messages .success-message {
    display: flex;
    flex-direction: column;
}
.import-resource-tree .import-resource-table .import-resource-cell .import-resource-message .success-messages .success-message .import-counters {
    display: flex;
    flex-wrap: wrap;
}
.import-resource-tree .import-resource-table .import-resource-cell .import-resource-message .success-messages .success-message .import-counters .import-counter,
.import-resource-tree .import-resource-table .import-resource-cell .import-resource-message .success-messages .success-message .text-success {
    padding-left: 10px;
}

.import-resource-tree .import-resource-tree-header {
    display: flex;
    justify-content: space-between;
}

.import-resource-tree .import-resource-tree-header .import-resources-actions {
    display: flex;
}

.import-resource-tree .import-resource-tree-filter {
    display: flex;
}

.import-resource-tree .import-resource-tree-filter .input-group-addon {
    background-color: #ebebeb;
    padding: 0.5rem;
}

.import-resource-tree .import-resource-type-filter {
    display: flex;
}


.import-status-info-popover {
    max-width: 80vw;
}

.import-status-info-popover table {
    width: max-content;
}

.import-status-info-popover .import-resource-status-info-row {
    border-top: 1px solid #ddd;
}

.import-status-info-popover .import-resource-status-info-row .import-resource-status-info-label {
    width: max-content;
    font-weight: bolder;
}

.bold-text {
    font-weight: bolder;
}

.sorting {
    padding-right: 20px;
    background-size: 0.9em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z'/%3E%3C/svg%3E") no-repeat right center;
}

.sorting_asc {
    padding-right: 20px;
    background-size: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M176 352h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.36 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352zm240-64H288a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h56l-61.26 70.45A32 32 0 0 0 272 446.37V464a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16h-56l61.26-70.45A32 32 0 0 0 432 321.63V304a16 16 0 0 0-16-16zm31.06-85.38l-59.27-160A16 16 0 0 0 372.72 32h-41.44a16 16 0 0 0-15.07 10.62l-59.27 160A16 16 0 0 0 272 224h24.83a16 16 0 0 0 15.23-11.08l4.42-12.92h71l4.41 12.92A16 16 0 0 0 407.16 224H432a16 16 0 0 0 15.06-21.38zM335.61 144L352 96l16.39 48z'/%3E%3C/svg%3E") no-repeat right center;
}

.sorting_desc {
    padding-right: 20px;
    background-size: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M176 352h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.36 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352zm112-128h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16h-56l61.26-70.45A32 32 0 0 0 432 65.63V48a16 16 0 0 0-16-16H288a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h56l-61.26 70.45A32 32 0 0 0 272 190.37V208a16 16 0 0 0 16 16zm159.06 234.62l-59.27-160A16 16 0 0 0 372.72 288h-41.44a16 16 0 0 0-15.07 10.62l-59.27 160A16 16 0 0 0 272 480h24.83a16 16 0 0 0 15.23-11.08l4.42-12.92h71l4.41 12.92A16 16 0 0 0 407.16 480H432a16 16 0 0 0 15.06-21.38zM335.61 400L352 352l16.39 48z'/%3E%3C/svg%3E") no-repeat right center;
}
