.upload-buttons {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
}

.upload-buttons div.btn {
    height: 100%;
    max-height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-container {
    display: flex;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

#wb-import-fileInFiles .import-status .import-status-message .text-danger small {
    white-space: pre-wrap;
}

.impex-popover {
    max-width: 470px;
}

.impex-popover pre {
    white-space: pre-wrap;
}
