.upload-buttons {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
}

.upload-buttons .btn {
    display: flex;
    height: 100%;
    max-height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-container {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

#wb-import-fileInFiles .import-status .import-status-message .text-danger small {
    white-space: pre-wrap;
}

.impex-popover {
    max-width: 470px;
}

.impex-popover pre {
    white-space: pre-wrap;
}

.file-size-prop,
.server-import-directory-prop {
    border-bottom: 1px dotted var(--secondary-color);
}

.copy-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: var(--secondary-color);
}

.copy-btn:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}

.copy-btn:focus {
    outline: none;
}
