:root {
    --select-import-resource-width: 30px;
    --time-cell-width: 140px;
    --actions-width: 60px;
    --size-width: 100px;
    --message-width: calc((100% - var(--select-import-resource-width) - var(--time-cell-width) - var(--actions-width) - var(--size-width)) * 0.3);
    --context-cell-width: calc((100% - var(--select-import-resource-width) - var(--time-cell-width) - var(--actions-width)- var(--size-width)) * 0.3);
}

.import-resource-row,
.import-resource-row-header {
    display: flex;
}

.import-resource-row-header .import-resource-cell-checkbox,
.import-resource-row .import-resource-cell-checkbox {
    width: var(--select-import-resource-width);
    flex-grow: 0;
}

.import-resource-row-header .import-resource-name,
.import-resource-row .import-resource-info .import-resource-meta-info .import-resource-message {
    width: var(--message-width);
    flex-grow: 0;
}

.import-resource-row-header .import-resource-size,
.import-resource-row .import-resource-info .import-resource-meta-info .import-resource-size {
    width: var(--size-width);
    flex-grow: 0;
}

.import-resource-row-header .import-resource-modified,
.import-resource-row-header .import-resource-imported,
.import-resource-row .import-resource-info .import-resource-meta-info .import-resource-modified,
.import-resource-row .import-resource-info .import-resource-meta-info .import-resource-imported {
    max-width: var(--time-cell-width);
    flex-grow: 1;
    flex-shrink: 0;
}

.import-resource-row-header .import-resource-context,
.import-resource-row .import-resource-info .import-resource-meta-info .import-resource-context {
    width: var(--context-cell-width);
    flex-grow: 1;
}

.import-resource-row-header .import-resource-action,
.import-resource-row .import-resource-info .import-resource-meta-info .import-resource-action {
    width: var(--actions-width);
    flex-grow: 0;
}

.import-resource-info {
    display: flex;
    flex-grow: 1;
}

.import-resource-row .import-resource-info {
    display: flex;
    flex-direction: column;
}

.import-resource-meta-info {
    display: flex;
}


.import-resource-row:nth-child(even) {
    background-color: rgba(0, 0, 0, .05)
}

.import-resource-cell.import-resource-cell-checkbox {
    flex-grow: 0;
}

.import-resource-cell {
    padding: 8px;
    flex-grow: 1;
}


/*.import-resource-row .import-resource-cell.import-resource-cell-checkbox {*/
/*    width: var(--select-import-resource-width);*/
/*}*/
