#yasqe_buttons #checkboxes .checkbox {
    display: inline;
    white-space: nowrap;
}

#yasqe_buttons #buttons {
    position:absolute;
    top: 0;
    right: 0;
    padding-bottom: 10px;
}
#queryEditor {
	position: relative;
}
	#queryEditor #runButton {
	    position:absolute;
	    bottom: 20px;
	    right: 20px;
	    z-index: 10;
	}
	#queryEditor #checkboxes {
	    position:absolute;
	    bottom: -25px;
	    right: 0;
	    z-index: 10;
	}
	#queryEditor #yasqe_buttons {
	  position: absolute;
	  top: 10px;
	  right: 10px;
      z-index: 10;
	}
	#queryEditor .CodeMirror-code {
		width: 89%;
	}


/* icons in the editor that form the toolbar */
#yasqe_buttons #buttons .fa-2x {
    display: block;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

/* the icons in the queries submenu */
.queries .fa {
    opacity: 0.7;
}

#yasqe_buttons #checkboxes .checkbox input {
    float: none;
}


.nav li:not(.active) {
  cursor: pointer;
}

#wb-sparql-queryInSampleQueries {
    width: 300px;
    max-height: 170px;
    overflow-y: auto;
    position: relative;
}

#wb-sparql-queryInSampleQueries .saved-query {
    height: 22px;
    position: relative;
}

#wb-sparql-queryInSampleQueries .saved-query a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wb-sparql-queryInSampleQueries .saved-query .actions-bar {
    display: none;
}

#wb-sparql-queryInSampleQueries .saved-query .actions-bar .not-user-query {
    display: none;
}

#wb-sparql-queryInSampleQueries .saved-query:hover .actions-bar {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
}

.CodeMirror {
    border: 1px solid #ddd;
	border-top: none;
    font-family: var(--mono-font) !important;
    background: #fff;
}

.CodeMirror pre, .CodeMirror-gutter-text {
    line-height: 130%;
}

li.CodeMirror-hint-active {
    background: var(--autocomplete-background);
    color: inherit;
}

.CodeMirror-hint b, .CodeMirror-hint-active b {
    color: var(--autocomplete-match);
}

.collapsing.width {
    height: 150px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    font-style: normal;
}

.hotkeys-container.fade.in {
    z-index: 10092;
}

a i.fa-times {
    color: #a3a3a3
}

.fa-times:focus, .fa-times:hover {
    color: #018ae1;
}

/*** inference checkbox with Font Awesome ***/

/* hide the checkbox */
input#inference {
    display:none !important;
}

input#inference + label {
    letter-spacing: -0.3em;
}

input#inference:not(:checked) + label i:last-child {
    /* use color instead, works better on IE */
    color: #888888;
    /* opacity: 0.5; */ /* this is multiplied to label's opacity of 0.7 */
}

a[aria-expanded = true].query-has-error span {
    color: red;
    border-bottom: dotted 2px red;
}

.pagination {
    margin: 5px 0 5px 6px;
}

.opacity-hide {
    opacity: 0
}

#hideEditor {
    position: relative;
    top: -6px;
    left: -6px;
}

.titleLine h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}


.autocomplete-toast a, .autocomplete-toast a:hover {
    color: #fff;
}

.plaintext {
    white-space: pre-wrap;
}

.qe-aborter {
    position: relative;
}

.qe-aborter > div {
    position: absolute;
    right: 0;
}

.show-less-message-link, .show-full-message-link {
    color: var(--secondary-color);
    font-weight: 400;
    display: block;
    text-align: right;
}

.show-full-message-link::after, .show-less-message-link::after {
    color: var(--secondary-color);
    font-family: 'icomoon', sans-serif !important;
    content: "\e921";
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    margin-left: 0;
    font-size: 1.2em;
    -moz-transition: all 0.2s ease-in; /* FF4+ */
    -o-transition: all 0.2s ease-in; /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-in; /* Saf3.2+, Chrome */
    transition: all 0.2s ease-in;
}

.show-full-message-link::after {
    transform: rotate(180deg);
}
