.operations-statuses .operations-statuses-dropdown-toggle {
    display: flex;
    gap: 0.75em;
}

.operations-statuses .operations-statuses-dropdown-toggle .caret {
    margin-left: -0.75em;
}

.operations-statuses .operations-statuses-dropdown-toggle[aria-expanded="true"] {
    background-color: #bbb !important;
    border-color: #bbb !important;
}

.operations-statuses .operation-status-header {
    display: flex;
}

/* FontAwesome icons are different size, scale/pad them a bit */
.operations-statuses div.fa {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.1em;
}

.operations-statuses-content .operation-status-content.row > * {
    padding: 0;
}

.operations-statuses .operation-status-header img {
    width: 24px;
}

.operations-statuses .running-operation-count {
    padding-left: 1px;
}

.operations-statuses .running-operation-count sup {
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    top: -1em;
    font-size: 60%;
}

.operations-statuses .operations-statuses-content {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    background-color: #bbb;
    margin:0;
}

.operations-statuses .operation-status-content {
    display: flex;
    margin: 5px 10px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    text-decoration: none;
    width: auto;
    gap: 0.5em;
}

.operations-statuses-content li:last-child {
    margin-bottom: 5px;
}

.operations-statuses li:first-child {
    margin-top: 5px;
}

.operations-statuses .operation-status-content:hover {
    text-decoration: none;
}

.operations-statuses .operation-status-content img {
    width: 24px;
}

.operations-statuses .operation-status-label {
    padding: 5px;
    line-height: 0;
    text-align: start;
}

.operations-statuses .operation-number {
    min-width: 50px;
}

.operations-statuses .operation-status-running-operation-count {
    color: white;
    border-radius: 2px;
    padding: 3px 2px 2px;
    min-width: 20px;
    text-align: center;
    font-size: 75%;
}

.status-information {
    color: var(--color-info-dark) !important;
}

.status-warning {
    color: var(--color-warning-dark) !important;
}

.status-critical {
    color: var(--color-danger-dark) !important;
}
