.create-buttons {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create-buttons .create-repo-btn {
  height: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary-color);
  border-radius: 20px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  max-width: 380px;
  display: flex !important;
  flex-direction: column;
}

.repository-heading {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.repository-heading .repo-type {
  align-self: center;
  font-size: 1.75rem;
}

.repository-heading i {
    color: var(--primary-color);
}

.repo-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create-buttons .create-repo-btn .repo-description, .repo-type {
  width: 100%;
}

@media (max-width: 1490px) {
  .create-buttons {
    align-items: center;
    flex-direction: column;
  }
  .create-buttons .create-repo-btn {
    max-width: 405px;
  }
}
