.sparql-editor-view #sparql-query-update-title-label {
    position: relative;
    margin-bottom: -35px;
    z-index: 1;
}

.sparql-editor-view div[core-errors] {
    /* compensate for the negative margin on the title above */
    margin-top: calc(47px + 0.5em);
}

.sparql-editor-view #sparql-query-update-title-label .btn-link {
    position: relative;
    z-index: 100;
}

.sparql-editor-view #query-editor .yasgui-host-element {
    display: block;
}

.sparql-editor-view #query-editor .yasgui-host-element .ontotext-yasgui {
    clear: both;
    padding-top: 15px;
}

.sparql-editor-view #query-editor .yasgui-toolbar {
    display: inline;
    float: right;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 100;
}

.sparql-editor-view #query-editor .yasgui-toolbar .yasgui-btn {
    height: 27px;
    margin-right: 3px;
    color: var(--secondary-color);
}

.sparql-editor-view #query-editor .yasgui-toolbar .btn-selected {
    color: #fff;
}

.sparql-editor-view #query-editor .dataTables_wrapper {
    overflow-x: auto;
}
