:root {
    --sidebar-width: max(220px, 10vw);
    --sidebar-bgcolor: #f9fafb;
    --toolbar-height: 32px;
}

/* override the main-container and title to accommodate to the new design without left and right padding */
.main-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ttyg-view #ttyg-view-title {
    padding: 0 2rem;
}

.ttyg-view .toolbar {
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 0.5em;
}

.ttyg-view .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ttyg-view .sidebar .slide-panel {
    /* adapt to view width but at least 220px, menu size ignored for all practical screen sizes */
    max-width: var(--sidebar-width);
    top: 32px !important;
    padding: 1rem;
}

.ttyg-view .sidebar .slide-panel.slide-panel-expanded  {
    /* adapt width according to available space but not more than 800px */
    max-width: min(800px, 100% - var(--menu-width));
}

.ttyg-view .left-sidebar .toolbar {
    justify-content: space-between;
}

.ttyg-view .left-sidebar.collapsed .toolbar {
    justify-content: start;
}

.ttyg-view .left-sidebar .chats-list-panel {
    background-color: var(--sidebar-bgcolor);
    overflow-y: auto;
}

.ttyg-view .left-sidebar .chats-list-panel .chat-group label {
    color: #aaa;
}

.ttyg-view .left-sidebar .chats-list-panel .chat-group ul {
    list-style: none;
    padding-inline-start: 0;
}

.ttyg-view .right-sidebar .toolbar {
    justify-content: space-between;
}

.ttyg-view .right-sidebar.collapsed .toolbar {
    justify-content: end;
}

.ttyg-view .right-sidebar .agents-list-panel {
    overflow-y: auto;
}

.ttyg-view .right-sidebar .agents-list-panel ul {
    list-style: none;
    padding-inline-start: 0;
}

.ttyg-view .ttyg-container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "left-sidebar chat-content right-sidebar";
}

.ttyg-view .chat-content {
    padding: 0 2rem;
}

.ttyg-view .chat-content .chat {
    width: 720px;
    margin: auto;
    height: calc(100vh - 10em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ttyg-view .chat .messages {
    border: 1px solid #ddd;
    height: calc(100% - 5em);
    overflow: scroll;
}

.ttyg-view .chat .messages-hint {
    font-size: 2em;
    padding-top: 2em;
    text-align: center;
}

.ttyg-view .chat .messages-item {
    padding: 0.5em;
}

.ttyg-view .chat .messages-item-content {
    white-space: pre-line;
}

.ttyg-view .chat .messages-item-question {
    background-color: hsla(var(--secondary-color-hsl), 0.1);
}

.ttyg-view .chat .messages-item-assistant {
    background-color: hsla(var(--secondary-color-hsl), 0.2);
}

.ttyg-view .chat .messages-item-assistant .icon {
    color: var(--primary-color);
}

.ttyg-view .chat .question {

}

.ttyg-view .controls {
    display: flex;
    flex-direction: column;
}
