/* Override yasr styles */

.yasr th {
  text-align: center;
}

.yasr table.dataTable thead th {
  background-color: rgba(var(--onto-green-rgb), 0.1) !important;
}

.yasr table.dataTable thead th, .yasr table.dataTable thead td {
  border-bottom: none;
}

.yasr table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: collapse;
  border-spacing: 0;
}

.yasr a {
  color: var(--onto-blue-light);
  text-decoration: none;
}

.yasr a:hover {
  color: var(--onto-blue);
}

.yasr table.dataTable tr td:first-child {
  color: #999;
  text-align: center;
}

.yasr .yasr_header .dropdown-menu {
    position: absolute;
}

.yasr .yasr_header .nav {
  margin-left: 0;
}

.yasr .yasr_results .CodeMirror {
  margin-top: 0;
}

.yasr .gchartWrapper {
  margin-top: 0;
}

.yasr .dataTables_filter {
  position: absolute;
  top: -63px;
  margin-bottom: -48px;
  display: inline-block;
}

.yasr .openGchartBtn {
  border-radius: 0;
  float: none;
  top: -72px;
  right: -6px;
}

.yasr .yasr_btn:focus, .yasr .yasr_btn.selected {
  color: #333;
  outline: 0;
  background-color: #fff;
  border-color: #fff;
}

.yasr .spinWrapper {
  position: relative;
  top: 30px;
}

.yasr .dataTables_wrapper .dataTables_filter {
	float: none;
	text-align: left;
}

.yasr .yasr_results .nonUri sup {
  font-size: 75%;
  color: #666666;
}

.yasr .nonUri {
  border: none;
  color: var(--onto-blue);
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  white-space: pre-wrap;
}

.yasr .uri-cell {
    display: inline;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.yasr .literal-cell {
    word-break: normal !important;
    overflow-wrap: break-word !important;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.yasr .triple-cell {
    display: inline;
}

.yasr table.dataTable td div.triple-cell {
    padding: 0px;
}
.yasr table.dataTable td div.triple-cell .triple-link {
    color: #708;
 }

.yasr .triple-list {
    list-style-type:none;
    margin-bottom: 0;
    padding: 0px 20px;
}

.yasr .triple-list .uri-cell,
.yasr .triple-list .literal-cell{
    padding: 0px;
}

.yasr .yasr_results td div.uri-cell,
.yasr .yasr_results td div.triple-cell{
    display: grid;
}

.yasr .yasr_results .uri-cell .share-result,
.yasr .yasr_results .triple-cell .share-result{
  display: none;
}

.yasr .yasr_results .uri-cell:hover > .share-result,
.yasr .yasr_results .triple-link-end:hover + .share-result,
.yasr .yasr_results .share-result:hover {
  display: contents;
  position: absolute;
  padding-top: 3px;
  padding-left: 3px;
}

.yasr .yasr_results .uri-cell > .zeroclipboard-is-hover {
    display: inline;
}

.modal-dialog.google-visualization-charteditor-dialog {
    z-index: 10092;
}

.yasr .yasr_results #cy {
  height: 600px;
  width: 70%;
  position: relative;
  left: 0;
  top: 0;
  float: left;
}

.yasr .yasr_results .graph-info {
  width: 30%;
  float: right;
  margin-top: 10px;
}

.yasr .yasr_results #cy>div {
  position: relative;
}
.yasr .yasr_results #cy canvas {
  position: absolute;
}

#yasr {
    /* keeps initial status (no results from ...) aligned like the actual results */
    padding: 0;
}

/* somewhat different when in side-by-side (vertical) mode */
#yasr.vertical > #yasr-inner {
    padding-top: 0;
}

#yasr.vertical > .sparql-loader {
    height: 75vh;
}

.boolRes {
    font-size: 3rem;
    text-align: center;
}

/* Experimental dynamic width of table columns in results: GDB-898 */
.resultsTable {
    table-layout: auto;
}

.resultsTable td {
    max-width: 50vw;
    /* show values on top of cells */
    vertical-align: top;
}

/* Hide yasr's error, we provide our own */
.yasr .errorResult {
    display: none !important;
}

#highlighted_output {
    font-family: var(--mono-font);
}
