@keyframes fade-button {
    from {
        background-color: #EBEBEB;
        border-color: #EBEBEB;
    }
    50% {
        background-color: var(--fade-color);
        border-color: var(--fade-color);
    }
    to {
        background-color: #EBEBEB;
        border-color: #EBEBEB;
    }
}
