<div class="cluster-nodes">
    <h4>{{'cluster_management.cluster_configuration.nodes_list_label' | translate}}</h4>
    <ul class="nodes-list">
        <li ng-repeat="node in clusterModel.nodes">
            <a class="data-value" href="{{node.endpoint}}" target="_blank">{{node.endpoint}}</a>
            <div class="small rpc-address">{{ 'cluster_management.cluster_status.node.rpc_address' | translate }}: <span
                class="data-value">{{node.address}}</span>
            </div>
            <div class="small">{{ 'cluster_management.cluster_status.node.state' | translate }}: <span
                class="data-value">{{node.nodeState}}</span>
            <span ng-if="currentNode.endpoint === node.endpoint">({{ 'cluster_management.cluster_configuration_nodes.local' | translate }})</span>
            </div>
        </li>
    </ul>
</div>
