<div class="cluster-configuration break-word-alt p-1 pt-2">
    <button class="close mb-1 ml-1" ng-click="closeClusterConfigurationPanel()"></button>
    <h3 class="hovered-parent">
        {{'cluster_management.cluster_configuration.label' | translate}}
    </h3>

    <ul class="nav nav-tabs acl-tabs">
        <li class="properties-tab nav-item">
            <a href="#" class="nav-link"
               ng-click="switchTab($event, CONFIGURATION_TABS.PROPERTIES)"
               ng-class="{'active': activeTab === CONFIGURATION_TABS.PROPERTIES}"><span>{{'cluster_management.cluster_configuration_properties.label' | translate}}</span><i class="text-primary icon-exclamation" ng-if="dirtyScope.has(ACL_SCOPE.STATEMENT)"></i></a>
        </li>
        <li class="clear-graph-tab nav-item">
            <a href="#" class="nav-link"
               ng-click="switchTab($event, CONFIGURATION_TABS.NODES)"
               ng-class="{'active': activeTab === CONFIGURATION_TABS.NODES}"><span>{{'cluster_management.cluster_configuration_nodes.label' | translate}}</span><i class="text-primary icon-exclamation" ng-if="dirtyScope.has(ACL_SCOPE.CLEAR_GRAPH)"></i></a>
        </li>
        <li class="clear-graph-tab nav-item">
            <a href="#" class="nav-link"
               ng-click="switchTab($event, CONFIGURATION_TABS.MULTI_REGION)"
               ng-class="{'active': activeTab === CONFIGURATION_TABS.MULTI_REGION}"><span>{{'cluster_management.cluster_configuration_multi_region.label' | translate}}</span><i class="text-primary icon-exclamation" ng-if="dirtyScope.has(ACL_SCOPE.CLEAR_GRAPH)"></i></a>
        </li>
    </ul>

    <div class="tab-pane fade in mt-1" ng-if="activeTab === CONFIGURATION_TABS.PROPERTIES" id="properties">
        <cluster-properties cluster-configuration="clusterConfiguration"></cluster-properties>
    </div>

    <div class="tab-pane fade in mt-1" ng-if="activeTab === CONFIGURATION_TABS.NODES" id="nodes">
        <cluster-nodes current-node="currentNode"
                       cluster-model="clusterModel"></cluster-nodes>
    </div>

    <div class="tab-pane fade in mt-1" ng-if="activeTab === CONFIGURATION_TABS.MULTI_REGION" id="multi-region">
        <multi-region></multi-region>
    </div>




    <!--    <div class="mb-2" ng-if="isAdmin">-->
<!--        <button type="button" class="btn btn-secondary delete-cluster-btn mr-1 mt-1"-->
<!--                ng-click="showDeleteDialog()"-->
<!--                gdb-tooltip="{{'cluster_management.buttons.delete_cluster_tooltip' | translate}}"-->
<!--                tooltip-placement="bottom">-->
<!--            <span class="icon-trash"></span> {{'cluster_management.buttons.delete_cluster' | translate}}-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-primary edit-cluster-configuration mt-1"-->
<!--                ng-click="showEditConfigurationDialog()"-->
<!--                gdb-tooltip="{{'cluster_management.buttons.edit_cluster_tooltip' | translate}}"-->
<!--                tooltip-placement="bottom">-->
<!--            <span class="icon-edit mr-1"></span>{{'cluster_management.buttons.edit_cluster' | translate}}-->
<!--        </button>-->
<!--    </div>-->
<!--    <div class="datasource mb-1">-->
<!--        <div class="item clearfix break-word-alt small">-->
<!--            {{'cluster_management.cluster_configuration_properties.election_min_timeout' | translate}}-->
<!--            <em class="icon-info text-primary"-->
<!--                gdb-tooltip="{{'cluster_management.cluster_configuration_properties.election_min_timeout_tooltip' | translate}}"></em>-->
<!--        </div>-->
<!--        <div class="data-value">-->
<!--            <span>{{clusterConfiguration.electionMinTimeout | number}}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="datasource mb-1">-->
<!--        <div class="item clearfix break-word-alt small">-->
<!--            {{'cluster_management.cluster_configuration_properties.election_range_timeout' | translate}}-->
<!--            <em class="icon-info text-primary"-->
<!--                gdb-tooltip="{{'cluster_management.cluster_configuration_properties.election_range_timeout_tooltip' | translate}}"></em>-->
<!--        </div>-->
<!--        <div class="data-value">-->
<!--            <span>{{clusterConfiguration.electionRangeTimeout | number}}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="datasource mb-1">-->
<!--        <div class="item clearfix break-word-alt small">-->
<!--            {{'cluster_management.cluster_configuration_properties.heartbeat_interval' | translate}}-->
<!--            <em class="icon-info text-primary"-->
<!--                gdb-tooltip="{{'cluster_management.cluster_configuration_properties.heartbeat_interval_tooltip' | translate}}"></em>-->
<!--        </div>-->
<!--        <div class="data-value">-->
<!--            <span>{{clusterConfiguration.heartbeatInterval | number}}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="datasource mb-1">-->
<!--        <div class="item clearfix break-word-alt small">-->
<!--            {{'cluster_management.cluster_configuration_properties.message_size_kb' | translate}}-->
<!--            <em class="icon-info text-primary"-->
<!--                gdb-tooltip="{{'cluster_management.cluster_configuration_properties.message_size_kb_tooltip' | translate}}"></em>-->
<!--        </div>-->
<!--        <div class="data-value">-->
<!--            <span>{{clusterConfiguration.messageSizeKB | number}}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="datasource mb-1">-->
<!--        <div class="item clearfix break-word-alt small">-->
<!--            {{'cluster_management.cluster_configuration_properties.verification_timeout' | translate}}-->
<!--            <em class="icon-info text-primary"-->
<!--                gdb-tooltip="{{'cluster_management.cluster_configuration_properties.verification_timeout_tooltip' | translate}}"></em>-->
<!--        </div>-->
<!--        <div class="data-value">-->
<!--            <span>{{clusterConfiguration.verificationTimeout | number}}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="datasource mb-1">-->
<!--        <div class="item clearfix break-word-alt small">-->
<!--            {{'cluster_management.cluster_configuration_properties.transaction_log_maximum_size_gb' | translate}}-->
<!--            <em class="icon-info text-primary"-->
<!--                gdb-tooltip="{{'cluster_management.cluster_configuration_properties.transaction_log_maximum_size_gb_tooltip' | translate}}"></em>-->
<!--        </div>-->
<!--        <div class="data-value">-->
<!--            <span>{{clusterConfiguration.transactionLogMaximumSizeGB | number}}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h4>{{'cluster_management.cluster_configuration.nodes_list_label' | translate}}</h4>-->
<!--    <ul>-->
<!--        <li ng-repeat="node in clusterModel.nodes">-->
<!--            <a class="data-value" href="{{node.endpoint}}" target="_blank">{{node.endpoint}}</a>-->
<!--            <div class="small">{{ 'cluster_management.cluster_status.node.rpc_address' | translate }}: <span class="data-value">{{node.address}}</span>-->
<!--            </div>-->
<!--            <div class="small">{{ 'cluster_management.cluster_status.node.state' | translate }}: <span class="data-value">{{node.nodeState}}</span></div>-->
<!--        </li>-->
<!--    </ul>-->

</div>
