<link href="css/rdf-resource-search.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div ng-cloak>
    <div id="search-box"
         class="card search-rdf-input"
         ng-class="{'show-rdf-search-box-visible': showRdfSearchInput, 'show-rdf-search-box-invisible': !showRdfSearchInput}"
         ng-keydown="onKeyDown($event)">
        <div class="card-block">
            <search-resource-input namespacespromise="getNamespacesPromise"
                                   autocompletepromisestatus="getAutocompletePromise"
                                   empty="empty"
                                   open-in-new-tab="true"
                                   preserve-search="true"
                                   radio-buttons="true"
                                   clear-input-icon="true">
            </search-resource-input>
            <button class="btn btn-link close-rdf-search-btn"
                    gdb-tooltip="{{'search.resource.close.msg' | translate}}" tooltip-placement="bottom"
                    ng-click="hideInput()">
                <i class="icon-close icon-2x" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <button class="btn btn-link search-rdf-btn"
            ng-if="!showRdfSearchInput"
            gdb-tooltip="{{'search.resources.msg' | translate}}"
            tooltip-placement="bottom"
            ng-click="showInput()">
        <i class="icon-search" aria-hidden="true"></i>
    </button>
</div>
