<link href="css/rdf-resource-search.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div ng-if="getActiveRepository() && !isLoadingLocation() && hasActiveLocation()" ng-cloak>
    <div class="card search-rdf-input">
        <div class="card-block">
            <search-resource-input namespacespromise="getNamespacesPromise"
                                   placeholder="Search RDF resources"
                                   autocompletepromisestatus="getAutocompletePromise"
                                   empty="empty"
                                   open-in-new-tab="true">
            </search-resource-input>
            <button class="btn btn-link close-rdf-search-btn"
                    tooltip="Close search" tooltip-placement="bottom"
                    tooltip-trigger="mouseenter"
                    ng-click="hideInput()">
                <i class="icon-close icon-2x" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <button class="btn btn-link search-rdf-btn"
            tooltip="Search RDF resources"
            tooltip-placement="bottom"
            tooltip-trigger="mouseenter"
            ng-click="showInput()">
        <i class="icon-search icon-2x" aria-hidden="true"></i>
    </button>
</div>
