:root {
  --onto-dropdown-button-color: var(--secondary-color, #373a3c);
  --onto-dropdown-button-background-color: var(--primary-color, #ac2925);
  --onto-dropdown-item-hover: var(--primary-color-dark, #ac2925);
  --onto-dropdown-button-icon-color: var(--primary-color, #ac2925);
  --onto-dropdown-button-open-icon-color: var(--icon-on-primary-color, rgba(255, 255, 255, 0.8));
  --onto-dropdown-color: #FFFFFF
}

:host {
  display: block;
}

.onto-dropdown {

  position: relative;
  width: fit-content;

  &.closed {

    .onto-dropdown-menu {
      display: none;
    }

    .button-icon {
      color: var(--onto-dropdown-button-icon-color);
    }

    .button-name {
      color: var(--onto-dropdown-button-color);
    }
  }

  &.open {
    background-color: var(--onto-dropdown-button-icon-color);
    color: #FFFFFF;
    height: 2rem;

    .button-icon {
      color: var(--onto-dropdown-button-open-icon-color);
    }
  }

  .onto-dropdown-button {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4em 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    outline: none;
    width: fit-content;
    height: fit-content;
    color: var(--onto-dropdown-color);
    background-color: var(--onto-dropdown-button-background-color);
    transition: all 0.15s ease-out;

    .button-icon {
      font-size: 1.4em;
      padding-right: 0.2em;
    }
  }

  .onto-dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1000;
    overflow-y: auto;
    max-height: 340px;
    min-width: 100%;
  }

  .onto-dropdown-menu-item {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: .5em 1.2em;
    color: var(--onto-dropdown-color);
    background-color: var(--onto-dropdown-button-background-color);
    text-align: end;
    white-space: nowrap;
    border: none;
    outline: none;
    width: 100%;
  }

  .onto-dropdown-menu-item:hover {
    cursor: pointer;
    background-color: var(--onto-dropdown-item-hover);
  }

  .onto-dropdown-button:hover {
    cursor: pointer;

    .button-icon {
      transform: scale(1.2);
    }
  }

  .onto-dropdown-option-icon {
    margin-right: 0.2em;
  }

  .onto-dropdown-right-item-alignment {
    right: 0;
    left: auto;
  }
}
