:host {
  display: block;
}

.onto-dropdown {
  position: relative;
  width: fit-content;

  &.closed {
    .onto-dropdown-menu {
      display: none;
    }
  }

  &.open {
    .onto-dropdown-button {
      color: var(--gw-button-primary-color);
      background-color: var(--gw-button-primary-background);
      border-color: var(--gw-button-primary-border-color);

      .button-icon {
        color: var(--gw-button-primary-icon-color);
      }
    }

    .onto-dropdown-button:hover {
      color: var(--gw-button-primary-hover-color);
      background-color: var(--gw-button-primary-hover-background);
      border-color: var(--gw-button-primary-hover-border-color);
    }
  }

  .onto-dropdown-button {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4em 1rem;
    line-height: 1.5;
    outline: none;
    background-color: var(--gw-button-secondary-background);
    border: 1px solid var(--gw-button-secondary-border-color);
    color: var(--gw-button-secondary-color);
    transition: all 0.15s ease-out;

    .button-icon {
      color: var(--gw-button-secondary-icon-color);
    }

    .ri-arrow-down-s-line {
      font-size: 1.1em;
      transition: all 0.2s ease-in;
    }

    &:hover {
      background-color: var(--gw-button-secondary-hover-background);
      border: 1px solid var(--gw-button-secondary-hover-border-color);
      color: var(--gw-button-secondary-hover-color);
    }
  }

  .onto-dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1000;
    overflow-y: auto;
    max-height: 340px;
    min-width: 100%;
  }

  .onto-dropdown-menu-item {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: .5em 1.2em;
    color: var(--gw-button-primary-color);
    background-color: var(--gw-button-primary-background);
    text-align: end;
    white-space: nowrap;
    border: none;
    outline: none;
    width: 100%;
  }

  .onto-dropdown-menu-item:hover {
    cursor: pointer;
    color: var(--gw-button-primary-hover-color);
    background-color: var(--gw-button-primary-hover-background);
    border-color: var(--gw-button-primary-hover-border-color);

    .item-icon {
      transform: scale(1.2);
    }
  }

  .onto-dropdown-button:hover {
    cursor: pointer;

    .button-icon {
      transform: scale(1.2);
    }
  }

  .onto-dropdown-option-icon {
    margin-right: 0.2em;
  }

  .onto-dropdown-right-item-alignment {
    right: 0;
    left: auto;
  }
}
