:host {
  display: block;
}

.onto-dropdown {

  position: relative;
  width: fit-content;

  &.closed {

    .onto-dropdown-menu {
      display: none;
    }

    .button-icon {
      color: var(--gw-primary-base);
    }

    .button-name {
      color: var(--gw-secondary-base);
    }
  }

  &.open {
    background-color: var(--gw-primary-base);
    color: #FFFFFF;
    height: 2rem;

    .button-icon {
      color: var(--icon-on-primary-color);
    }
  }

  .onto-dropdown-button {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4em 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    outline: none;
    color: var(--gw-primary-contrast-color);
    background-color: var(--gw-primary-base);
    transition: all 0.15s ease-out;

    .button-icon {
      font-size: 1.4em;
    }

    .fa-angle-down {
      color: rgba(0, 0, 0, 0.35);
      font-size: 1.1em;
      transition: all 0.2s ease-in;
    }
  }

  .onto-dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1000;
    overflow-y: auto;
    max-height: 340px;
    min-width: 100%;
  }

  .onto-dropdown-menu-item {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: .5em 1.2em;
    color: var(--gw-primary-contrast-color);
    background-color: var(--gw-primary-base);
    text-align: end;
    white-space: nowrap;
    border: none;
    outline: none;
    width: 100%;
  }

  .onto-dropdown-menu-item:hover {
    cursor: pointer;
    background-color: var(--gw-primary-dark);
  }

  .onto-dropdown-button:hover {
    cursor: pointer;

    .button-icon {
      transform: scale(1.2);
    }
  }

  .onto-dropdown-option-icon {
    margin-right: 0.2em;
  }

  .onto-dropdown-right-item-alignment {
    right: 0;
    left: auto;
  }
}
