a {
  &:hover:not(.btn, .nav-link, .menu-element-root, .nodes-list .data-value),
  &:active:not(.btn, .nav-link, .menu-element-root, .nodes-list .data-value),
  &[href^="http"]:not(.nodes-list .data-value),
  &[href^="http"]:hover,
  &[href^="http"]:active {
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
    text-decoration-thickness: var(--link-decoration-thickness) !important;
    text-underline-offset: var(--link-underline-offset) !important;
  }
}
