a {
  &:hover:not(.btn),
  &:active:not(.btn),
  &[href^="http"],
  &[href^="http"]:hover,
  &[href^="http"]:active {
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
    text-decoration-thickness: var(--link-decoration-thickness) !important;
    text-underline-offset: var(--link-underline-offset) !important;
  }
}
