:host {
  display: block;
}

.header-component > * {
  height: 100%;
}

.header-component {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0.25em;
  margin-right: 2em;
  font-size: 1.1em;
  padding-bottom: .5rem;
}
