:host {
  display: block;
}

.header-component {
  display: flex;
  gap: 0.25em;
  padding: .3em 1em;
  font-size: 1.1em;
  background-color: var(--gw-topnav-background);

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }

  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
  }

  .big-logo {
    width: 180px;
    height: 50px;
    cursor: pointer;
  }
}
