<!DOCTYPE html>
<html ng-controller="mainCtrl">

<head>
    <meta charset="UTF-8">
    <title>
        GraphDB Workbench
    </title>

    <base href="/" target="_blank"/>

    <meta content="width=device-width" name="viewport">

    <link rel="apple-touch-icon-precomposed" href="icon.png">

    <script src="plugin-registry.js?v=<%= version %>"></script>
    <script src="plugins.js?v=<%= version %>"></script>
</head>

<body>

<div class="status-bar" ng-hide="isSecurityEnabled() && !isUserLoggedIn() && !isFreeAccessEnabled()" ng-cloak>
    <div class="btn-group btn-group-lg" role="group" aria-label="Button group with nested dropdown">
        <div class="btn alert alert-warning no-icon" ng-if="!license.valid && showLicense"
             gdb-tooltip="{{license.message}}" tooltip-placement="bottom" tooltip-trigger="mouseenter">
            <span class="icon-warning"></span> No valid license
            <a ng-show="!isLicenseHardcoded" href="license/register" class="btn btn-secondary btn-sm" style="margin: -5px 0 -5px 0">Set</a>
        </div>
        <div class="btn btn-info imports-queries"
                ng-if="queryCount > 0 || numberOfActiveImports > 0">
            <span class="icon-reload text-primary loader"></span>
            <span class="dot-separator" ng-if="queryCount > 0">
                <a class="btn btn-link" href="./monitor/queries" rel="noopener" target="_blank">
                    <strong>{{queryCount}}</strong>
                    <ng-pluralize count="queryCount"
                                  when="{'one': 'query/update',
                                         'other': 'queries/updates'}">
                    </ng-pluralize>
                </a>
            </span>
            <span class="dot-separator" ng-if="numberOfActiveImports > 0">
                <a class="btn btn-link" href="./import" rel="noopener" target="_blank">
                    <strong>{{numberOfActiveImports}}</strong>
                    <ng-pluralize count="numberOfActiveImports"
                                  when="{'one': 'import',
                                         'other': 'imports'}">
                    </ng-pluralize>
                </a>
            </span>
        </div>
        <rdf-resource-search class="float-xs-left p-0"></rdf-resource-search>
        <div id="repositorySelectDropdown" class="btn-group" role="group" ng-show="!embedded">
            <button id="btnReposGroup" type="button" class="btn btn-lg btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a uib-dropdown-toggle>
                    <span ng-mouseover="setPopoverRepo(getActiveRepositoryObject())" popover-popup-delay="1000" popover-trigger="mouseenter" popover-placement="left-bottom"
                          uib-popover-template="popoverTemplate" popover-title="Repository {{getActiveRepositoryObject().id}}" ng-if="getActiveRepository()" class="active-repository">
						<em ng-class="'icon-repo-' + getActiveRepositoryObject().type"></em>
                        {{getActiveRepository()}}
                    </span>
                    <span class="no-selected-repository" ng-if="!getActiveRepository() && getReadableRepositories().length">Choose repository</span>
                    <span class="no-repositories" ng-if="!getActiveRepository() && !getReadableRepositories().length">No accessible repositories</span>
                </a>
            </button>
            <ul class="dropdown-menu dropdown-menu-right pre-scrollable" aria-labelledby="dropdownMenuButton">
                <li ng-repeat="repository in getReadableRepositories() | orderBy: ['type === \'system\'', 'id']"
                    ng-if="repository.id !== getActiveRepository()"
                    ng-mouseover="setPopoverRepo(repository)" popover-popup-delay="500"
                    popover-trigger="mouseenter" popover-placement="left"
                    uib-popover-template="popoverTemplate" popover-title="Repository {{repository.id}}">
                    <a class="dropdown-item" ng-click="setRepository(repository.id)">
                        <span class="multiline-text">
                            <em ng-class="'icon-repo-' + repository.type"></em>
						    {{repository.id}} <br/>
						    <small ng-show="!isLoadingLocation() && hasActiveLocation() && (!isSecurityEnabled() || isUserLoggedIn())">{{getActiveLocation().label}}</small>
					    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group" ng-if="isSecurityEnabled() && isUserLoggedIn()">
            <button id="btnGroupDrop2" type="button" class="btn btn-lg btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon-user text-primary"></span>
                {{principal().username}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnUserGroup">
                <a class="dropdown-item" href="settings">My settings</a>
                <a class="dropdown-item" ng-click="logout()" title="Sign out" ng-href="./login" ng-if="!hasExternalAuthUser()">Logout</a>
            </div>
        </div>
        <div class="btn-group" ng-show="isSecurityEnabled() && !isUserLoggedIn() && !isCurrentPath('login')">
            <a class="btn btn-lg btn-secondary" href="./login" ng-href="./login">
                <span class="icon-arrow-right text-primary"></span> Login
            </a>
        </div>
    </div>
</div>

<ul class="main-menu" ng-cloak ng-show="!embedded">
    <li class="brand">
        <span class="toggle-menu" title="Collapse menu" ng-click="toggleNavigation()">
            <em class="icon-caret-left"></em>
        </span>
        <a class="menu-element-root" ng-href="./" href="./" ng-click="selected = -1">
            <img class="big-logo" src="img/graphdb-logo.svg" alt="GraphDB logo" width="181" height="45">
            <img class="small-logo" src="img/graphdb-logo-sq.svg" alt="GraphDB logo" ng-href="./" href="./" width="58"
                 height="58">
            <span class="product-version" title="GraphDB {{mainTitle}}">{{mainTitle}}</span>
        </a>
    </li>
    <li ng-repeat="item in menu track by $index" ng-if="hasRole(item.role)"
        ng-class="{open: $index === selected, clicked: clicked && $index === selected}"
        class="menu-element" ng-click="checkSubMenuPosition($index)">
        <div class="menu-element-root" ng-if="item.children.length" ng-click="select($index, $event, clicked);">
            <span ng-class=item.icon class="menu-item-icon"></span>
            <span class="menu-item">{{item.label}}</span>
        </div>
        <a class="menu-element-root" ng-href="{{::item.hrefFun ? item.hrefFun(productInfo) : item.href}}" ng-if="!item.children.length"
           ng-click="select($index, $event, clicked)">
            <span ng-class=item.icon class="menu-item-icon"></span>
            <span class="menu-item" ng-if="!checkMenu()">{{item.label}}</span>
        </a>
        <ul ng-if="item.children.length" class="sub-menu">
            <li class="submenu-title">{{item.label}}</li>
            <li ng-repeat="submenu in item.children track by $index"
                class="sub-menu-item"
                ng-class="{ active: (isCurrentPath(submenu.href) || isCurrentSubmenuChildPath(submenu)) }"
                ng-if="checkForWrite(submenu.role, getActiveLocation(), getActiveRepository())">
                <a ng-href="{{::submenu.hrefFun ? submenu.hrefFun(productInfo) : submenu.href}}">{{submenu.label}}
                  <span ng-if="submenu.icon" title="Open external page" ng-class=submenu.icon class="text-muted"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<div ng-cloak >
    <div class="container-fluid main-container" ng-if="!hasPermission()">
        <p class="alert alert-danger">
            You have no permission to access this functionality with your current credentials.
            <br>
            Please choose another menu item or login as a different user.
        </p>
    </div>

        <div class="container-fluid main-container" ng-show="hasPermission()" ng-view role="main"
             ng-class="checkMenu() ? 'expanded':''">

        </div>

    <footer ng-show="showFooter" class="footer">
        <div class="container-fluid main-container">
            <p>
                <a href="http://graphdb.ontotext.com" target="_blank" rel="noopener noreferrer">GraphDB</a> {{graphdbVersion}} &bull; <a
                    href="http://rdf4j.org" target="_blank" rel="noopener noreferrer">RDF4J</a>
                {{sesameVersion}} &bull; Connectors {{connectorsVersion}} &bull; Workbench {{workbenchVersion}} &bull; &copy; {{previousYear}}&ndash;{{currentYear}} <a href="http://ontotext.com" target="_blank" rel="noopener noreferrer">Ontotext AD</a>. All
                rights reserved.
            </p>
        </div>
    </footer>
</div>
<div class="show-ng-cloak ot-splash" style="display: none;">
    <object data="img/graphdb-splash.svg"></object>
    <div>GraphDB Workbench is loading...</div>
</div>

</body>

</html>
