.instructions-explain .instruction-title {
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.instructions-explain .instruction-content {
    margin-top: 0.5em;
}

.instructions-explain pre {
    white-space: pre-wrap;
}
