:root {
    --field-label-weight: 500;
    --error-color: #FA787E;
    --warning-color: #8a6d3b;
}

.agent-settings-modal .modal-footer {
    display: flex;
    justify-content: space-between;
}

.agent-settings-modal .modal-footer > div {
    flex-grow: 1;
}

.agent-settings-modal .modal-footer .creating-agent-loader {
    display: inline-block;
    position: relative;
    bottom: -3px;
}

.agent-settings-modal .agent-settings-form label {
    font-weight: var(--field-label-weight);
}

.agent-settings-modal .agent-settings-form .external-config-btn {
    all: unset;
    cursor: pointer;
    color: inherit;
    font: inherit;
    padding: 0 8px;
    margin: 8px 0 24px 8px;
}

.agent-settings-modal .agent-settings-form .llm-model .page-info-icon .ri-information-2-line {
    vertical-align: baseline;
    font-size: 1rem;
    color: var(--gw-primary-dark);
}

.agent-settings-modal .agent-settings-form .context-size .input-with-unit {
    position: relative;
}

.agent-settings-modal .agent-settings-form .context-size .input-with-unit input {
    padding-right: 3.5em;
}

/* Hide number arrows in Chrome, Edge, Safari */
.agent-settings-modal .agent-settings-form .context-size .input-with-unit input::-webkit-outer-spin-button,
.agent-settings-modal .agent-settings-form .context-size .input-with-unit input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number arrows in Firefox */
.agent-settings-modal .agent-settings-form .context-size .input-with-unit input[type=number] {
    -moz-appearance: textfield;
}

.agent-settings-modal .agent-settings-form .context-size .input-with-unit .token-unit-label {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

.agent-settings-modal .agent-settings-form .form-group.context-size,
.agent-settings-modal .agent-settings-form .form-group.temperature,
.agent-settings-modal .agent-settings-form .form-group.top-p {
    padding-top: 6px;
}

.agent-settings-modal .agent-settings-form .context-size .reset-context-size-btn {
    float: right;
}

.agent-settings-modal .agent-settings-form .context-size .reset-context-size-btn .ri-information-2-line {
    color: var(--gw-primary-dark);
}

.context-size-wrapper .reset-context-size-btn {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s;
}

.context-size-wrapper:hover .reset-context-size-btn,
.context-size-wrapper:focus-within .reset-context-size-btn {
    visibility: visible;
    opacity: 1;
}

.agent-settings-modal .agent-settings-form .llm-model {
    padding-left: 0;
    overflow: visible;
    position: static;
}

.agent-settings-modal .agent-settings-form [type="checkbox"],
.agent-settings-modal .agent-settings-form [type="checkbox"] + label {
    cursor: pointer;
}

.agent-settings-modal .agent-settings-form .extraction-methods {
    display: flex;
    flex-direction: column;
}

.agent-settings-modal .agent-settings-form .has-error {
    outline: 1px solid var(--error-color);
}

.agent-settings-modal .agent-settings-form .has-warning {
    outline: 2px solid var(--warning-color);
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method-heading {
    display: flex;
    align-items: center;
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method-heading .panel-toggle-link {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.agent-settings-form .extraction-methods .extraction-method-heading.selected .panel-toggle-link {
    font-weight: var(--field-label-weight);
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method {
    padding: 0 10px;
    margin-bottom: 2px;
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method .extraction-method-options {
    padding: 1rem 1rem 1rem 3.6rem;
}

.agent-settings-modal .agent-settings-form .extraction-methods .extraction-method .extraction-method-options .radio-inline {
    cursor: pointer;
}

.agent-settings-modal .agent-settings-form .additional-extraction-methods .additional-extraction-method {
    padding: 0 10px;
}

.agent-settings-modal .agent-settings-form .extraction-method-heading .extraction-method-toggle {
    display: flex;
    align-items: center;
}

.agent-settings-modal .agent-settings-form .extraction-method-heading .extraction-method-toggle .panel-toggle-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.agent-settings-modal .agent-settings-form #sparqlQuery,
.agent-settings-modal .agent-settings-form #queryTemplate {
    font-size: 1rem;
    font-family: var(--mono-font) !important;
}

.agent-settings-modal .agent-settings-form #fts_search_maxNumberOfTriplesPerCall,
.agent-settings-modal .agent-settings-form #retrieval_search_maxNumberOfTriplesPerCall {
    width: 30%
}

.agent-settings-form .similarity-index {
    display: flex;
    gap: 1rem;
}

.agent-settings-form .similarity-index .no-similarity-index-message > div {
    margin-top: 5px;
}

.agent-settings-modal .agent-settings-form input[type="range"] {
    width: 100%
}

.agent-settings-modal .agent-settings-form [type="range"] {
    position: relative;
    /* move the slider up next to the related input field to match the mockup */
    top: -6px;
    accent-color: var(--gw-secondary-base);
}

.agent-settings-form .panel-toggle-link .toggle-icon {
    transition: transform 0.3s ease; /* Smooth transition */
}

.additional-extraction-method .panel-toggle-link .toggle-icon {
    transition: transform 0.3s ease; /* Smooth transition */
}

.agent-settings-form .advanced-settings .toolbar,
.user-instructions .toolbar {
    display: flex;
    justify-content: space-between;
}

.agent-settings-form .advanced-settings .toolbar .copy-btn,
.user-instructions .toolbar .copy-btn {
    color: var(--gw-primary-base);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.extraction-method .panel-toggle-link .toggle-icon.expanded {
    transform: rotate(180deg);
}

.additional-extraction-method .panel-toggle-link .toggle-icon.expanded {
    transform: rotate(180deg);
}

.additional-extraction-method .input-field-group .form-control {
    width: auto;
}

.agent-settings-modal .agent-settings-form .additional-extraction-methods .additional-extraction-method .extraction-method-options {
    padding: 1rem 1rem 1rem 3.6rem;
}

/* when the panel is expanded */
.agent-settings-form .extraction-methods .extraction-method:has(.expanded) {
    background-color: var(--base-background-color);
}

/* when the panel is expanded */
.agent-settings-form .additional-extraction-methods .additional-extraction-method:has(.expanded) {
    background-color: var(--base-background-color);
}

.extraction-method-options .input-field-group .autocomplete-predicate-tags .wb-tags-input .tags {
    display: flex;
    flex-direction: column;
}

.extraction-method-options .input-field-group .autocomplete-predicate-tags tags-input .host {
    margin-top: 0;
}

.agent-settings-modal .agent-settings-form multi-select-dropdown {
    display: block;
    width: 100%;
    height: calc(2.5rem - 2px);
    padding: 0;
}

/* Not always a reliable way to target optgroup text. Might not work in some browsers */
.agent-settings-modal .agent-settings-form select#connectorInstances optgroup {
  color: #64748B;
}

.agent-settings-modal .agent-settings-form .similarity-index .similarity-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
}
.agent-settings-modal .agent-settings-form .similarity-index .similarity-layout.one-col {
    grid-template-columns: 1fr;
}
.agent-settings-modal .agent-settings-form .similarity-index .similarity-layout .left-col > .form-group,
.agent-settings-modal .agent-settings-form .similarity-index .similarity-layout .left-col > .connector-instances-group {
    margin-bottom: 1rem;
}
.agent-settings-modal .agent-settings-form .similarity-index .similarity-layout .right-col {
    align-self: start;
}

.agent-settings-modal .saving-agent-loader {
    display: inline-block;
    vertical-align: middle;
}
