:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.graph-navigator-wrapper {
  flex: 1;
}

.graph-navigator-settings-toolbar {
  position: absolute;
  top: 0;
  right: 0.7rem;
  z-index: 1;
}
