<div onto-loader-new ng-if="loader" class="create-cluster-loader" message="getLoaderMessage" size="100  "></div>

<div class="table-responsive" ng-class="isEditMode() ? 'edit-mode': 'preview-mode'">
    <div class="pull-right mb-1">
        <button ng-click="addNode()" ng-disabled="editedNodeIndex !== undefined"
                class="btn btn-primary add-node-btn"
                gdb-tooltip="{{'cluster_management.update_cluster_group_dialog.actions.add_node_tooltip' | translate}}">
            <i class="fa-regular fa-plus"></i> {{'cluster_management.update_cluster_group_dialog.actions.add_node' | translate}}
        </button>
    </div>
    <form name="form" id="updateClusterGroupForm">
        <table class="cluster-group table table-striped table-hover" aria-describedby="cluster group table">
            <thead>
            <tr class="labels-row">
                <th scope="col" class="index-column">
                    {{'cluster_management.update_cluster_group_dialog.column.index' | translate}}
                </th>
                <th scope="col" class="location-column">
                    {{'cluster_management.update_cluster_group_dialog.column.location' | translate}}
                </th>
                <th scope="col" class="info-column">
                    {{'cluster_management.update_cluster_group_dialog.column.info' | translate}}
                </th>
                <th scope="col" class="empty-column"></th>
                <th scope="col" class="actions-column"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!clusterView.length">
                <td colspan="5" class="no-data">
                    {{'cluster_management.update_cluster_group_dialog.messages.no_cluster' | translate}}
                </td>
            </tr>

            <tr ng-repeat-start="node in clusterView track by $index" ng-if="0"></tr>
            <tr ng-if="$index !== editedNodeIndex" class="node preview-node-row" capture-height="$index"
                ng-class="{'selected': $index === selectedNode || $index === editedNodeIndex}">
                <td class="index-cell">{{$index + 1}}</td>
                <td class="location-cell data">
                    <div class="location-item">
                        <div class="logo-image"></div>
                        {{node.endpoint}}
                    </div>
                </td>
                <td class="info-cell data">
                    <div ng-if="node.isLocal">
                        {{'cluster_management.update_cluster_group_dialog.current_node' | translate}}
                    </div>
                    <div ng-if="!node.address">
                        {{'cluster_management.update_cluster_group_dialog.new_node' | translate}}
                    </div>
                </td>
                <td class="empty-cell"></td>
                <td class="actions-cell">
                    <div ng-if="editedNodeIndex === undefined" class="actions-group">
                        <button ng-click="replaceNode($index)" class="btn btn-link replace-node-btn"
                                gdb-tooltip="{{'cluster_management.update_cluster_group_dialog.actions.replace_node' | translate}}">
                            <i class="fa-regular fa-arrow-right-arrow-left"></i>
                        </button>
                        <button ng-click="deleteNode($index, node)" ng-disabled="clusterView.length < 3" class="btn btn-link delete-node-btn secondary"
                                gdb-tooltip="{{'cluster_management.update_cluster_group_dialog.actions.delete_node' | translate}}">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr ng-if="$index === editedNodeIndex" class="node edit-node-row" style="{{getRowHeight}}"
                ng-class="{'selected table-info': $index === editedNodeIndex}">
                <td class="index-cell">{{$index + 1}}</td>
                <td class="data location-cell">
                    <div class="autocomplete-container">
                            <textarea type="text" name="location" required
                                      ng-model="node.endpoint"
                                      ng-change="filterSuggestions(node)"
                                      ng-blur="hideSuggestions(node)"
                                      ng-click="filterSuggestions(node)"
                                      auto-grow
                                      validate-url exclude="/repositories" exclude-protocol="ftp,ftps" allow-empty="false"
                                      autocomplete="off"
                                      class="form-control form-control-sm textarea-edit"
                                      uib-tooltip="{{'remote.location.enter.url.msg' | translate}}"
                                      tooltip-placement="top"
                                      placeholder="{{'cluster_management.update_cluster_group_dialog.field_placeholders.location' | translate}}">
                            </textarea>
                        <ul ng-show="suggestions.length > 0 && showDropdown" class="autocomplete-dropdown">
                            <li ng-repeat="suggestion in suggestions" ng-mouseup="selectSuggestion(node, suggestion)">
                                {{ suggestion }}
                            </li>
                        </ul>
                        <div class="error-message" ng-show="form.location.$error.validUrl && !form.location.$pristine">
                            * {{'valid.remote.location.warning' | translate}} http://server.example.com:7200/.
                        </div>
                        <div ng-repeat="error in errors" class="error-message">
                            {{error}}
                        </div>
                    </div>
                </td>
                <td class="info-cell data">
                    <div ng-if="node.isLocal">
                        {{'cluster_management.update_cluster_group_dialog.current_node' | translate}}
                    </div>
                </td>
                <td class="empty-cell"></td>
                <td class="actions-cell">
                    <div class="crud-actions-group">
                        <button ng-click="deleteNode($index, node)"
                                class="btn btn-link cancel-node-replace-btn secondary"
                                gdb-tooltip="{{'cluster_management.update_cluster_group_dialog.actions.cancel_node_adding' | translate}}">
                            <i class="fa-regular fa-xmark"></i>
                        </button>
                        <button ng-click="saveNode(node.endpoint, $index)"
                                class="btn btn-link save-rule-btn"
                                ng-disabled="!form.location.$valid"
                                gdb-tooltip="{{form.location.$valid ? 'cluster_management.update_cluster_group_dialog.actions.add_node' : 'cluster_management.update_cluster_group_dialog.messages.invalid_form' | translate}}">
                            <i class="fa-regular fa-check"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="0"></tr>
            </tbody>
        </table>
    </form>
</div>
