<link href="css/dynamic-form.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="dynamic-form-container">
    <form name="dynamicForm" novalidate class="dynamic-form">
        <div ng-repeat="model in formModel.models">
            <!-- Groups -->
            <div ng-if="model.groupId" class="form-group">
                <h5 class="group-title">
                    <span
                        gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + model.groupId + '.tooltip') : null) | translate}}">
                        {{(translationKeyPrefix ? (translationKeyPrefix + model.groupId + '.label') : model.groupId) | translate}}
                    </span>
                </h5>
                <dynamic-form-field ng-repeat="field in model.fields" field="field" form="dynamicForm"
                                    translation-key-prefix="translationKeyPrefix">
                </dynamic-form-field>

                <div class="hidden-fields">
                    <div class="text-xs-center mb-1">
                        <button type="button" ng-click="model.showAllFields = !model.showAllFields"
                                class="btn btn-link btn-sm toggle-hidden-fields">
                            <span ng-hide="model.showAllFields">
                                {{'common.show_all' | translate}}
                                <em class="icon-caret-down"></em>
                            </span>
                            <span ng-show="model.showAllFields">
                                {{'common.hide' | translate}}
                                <em class="icon-caret-up"></em>
                            </span>
                        </button>
                    </div>
                    <dynamic-form-field ng-if="model.showAllFields" ng-repeat="field in model.hiddenFields"
                                        field="field" form="dynamicForm" translation-key-prefix="translationKeyPrefix">
                    </dynamic-form-field>
                </div>
            </div>

            <!-- Individual fields -->
            <dynamic-form-field ng-if="!model.groupId" field="model" form-name="dynamicForm"
                                translation-key-prefix="translationKeyPrefix">
            </dynamic-form-field>
        </div>
    </form>
</div>
