<div class="dynamic-form">
    <form name="dynamicForm" novalidate>
        <div ng-repeat="field in fields" class="row mb-1">
            <!-- Label column -->
            <label class="col-sm-2 col-form-label">
                {{field.label}}
                <sup ng-if="field.required">*</sup>
            </label>

            <!-- Input column -->
            <div class="col-sm-10">
                <!-- STRING -->
                <div class="string-field" ng-if="field.type === FIELD_TYPE.STRING">
                    <input type="text"
                           class="form-control"
                           name="{{field.key}}"
                           ng-model="field.value"
                           ng-pattern="field.regex"
                           ng-required="field.required"/>
                </div>

                <!-- TEXT-->
                <div class="string-field" ng-if="field.type === FIELD_TYPE.TEXT">
                    <textarea type="text"
                              class="form-control"
                              name="{{field.key}}"
                              ng-model="field.value"
                              ng-required="field.required"></textarea>
                </div>

                <!-- BOOLEAN -->
                <div class="boolean-field" ng-if="field.type === FIELD_TYPE.BOOLEAN">
                    <input type="checkbox"
                           name="{{field.key}}"
                           ng-model="field.value"
                           ng-required="field.required"/>
                </div>

                <!-- SINGLE SELECT -->
                <div class="select-field" ng-if="field.type === FIELD_TYPE.SELECT">
                    <select class="form-control"
                            name="{{field.key}}"
                            ng-model="field.value"
                            ng-options="option as option.label for option in field.values track by option.value"
                            ng-required="field.required">
                    </select>
                </div>

                <!-- MULTI-SELECT -->
                <div class="multiselect-field" ng-if="field.type === FIELD_TYPE.MULTI_SELECT">
                    <multiselect-dropdown
                        name="{{field.key}}"
                        ng-model="field.value"
                        options="field.values"
                        ng-required="field.required"> </multiselect-dropdown>
                </div>

                <!-- JSON -->
                <div class="json-field" ng-if="field.type === FIELD_TYPE.JSON">
                    <textarea
                        class="form-control"
                        name="{{field.key}}"
                        ng-model="field.value"
                        ng-required="field.required"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
