<div class="form-field">
    <!-- STRING -->
    <div class="form-inline string-field  input-field" ng-if="field.type === FIELD_TYPE.STRING">
        <label class="field-label" for="{{field.key}}"
               gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.tooltip') : null) | translate}}">
            {{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.label') : field.label) | translate}}
            <sup ng-if="field.required">*</sup>
        </label>
        <input type="text"
               id="{{field.key}}"
               name="{{field.key}}"
               class="form-control"
               ng-model="field.value"
               ng-pattern="field.regex"
               ng-required="field.required"/>
    </div>

    <!-- TEXT-->
    <div class="form-inline string-field text-field" ng-if="field.type === FIELD_TYPE.TEXT">
        <label class="field-label" for="{{field.key}}"
               gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.tooltip') : null) | translate}}">
            {{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.label') : field.label) | translate}}
            <sup ng-if="field.required">*</sup>
        </label>
        <textarea type="text"
                  id="{{field.key}}"
                  name="{{field.key}}"
                  class="form-control"
                  ng-model="field.value"
                  ng-required="field.required"></textarea>
    </div>

    <!-- BOOLEAN -->
    <div class="form-inline boolean-field" ng-if="field.type === FIELD_TYPE.BOOLEAN">
        <label class="field-label" for="{{field.key}}"
               gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.tooltip') : null) | translate}}">
            {{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.label') : field.label) | translate}}
            <sup ng-if="field.required">*</sup>
        </label>
        <input type="checkbox"
               id="{{field.key}}"
               name="{{field.key}}"
               ng-model="field.value"
               ng-required="field.required"/>
    </div>

    <!-- SINGLE SELECT -->
    <div class="form-inline select-field" ng-if="field.type === FIELD_TYPE.SELECT">
        <label class="field-label" for="{{field.key}}"
               gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.tooltip') : null) | translate}}">
            {{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.label') : field.label) | translate}}
            <sup ng-if="field.required">*</sup>
        </label>
        <select class="form-control"
                id="{{field.key}}"
                name="{{field.key}}"
                ng-model="field.value"
                ng-options="option as option.label for option in field.values track by option.value"
                ng-required="field.required">
        </select>
    </div>

    <!-- MULTI-SELECT -->
    <div class="form-inline multiselect-field" ng-if="field.type === FIELD_TYPE.MULTI_SELECT">
        <label class="field-label" for="{{field.key}}"
               gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.tooltip') : null) | translate}}">
            {{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.label') : field.label) | translate}}
            <sup ng-if="field.required">*</sup>
        </label>
        <multiselect-dropdown
            id="{{field.key}}"
            name="{{field.key}}"
            ng-model="field.value"
            options="field.values"
            ng-required="field.required"></multiselect-dropdown>
    </div>

    <!-- JSON -->
    <div class="form-inline json-field" ng-if="field.type === FIELD_TYPE.JSON">
        <label class="field-label" for="{{field.key}}"
               gdb-tooltip="{{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.tooltip') : null) | translate}}">
            {{(translationKeyPrefix ? (translationKeyPrefix + field.key + '.label') : field.label) | translate}}
            <sup ng-if="field.required">*</sup>
        </label>
        <textarea
            id="{{field.key}}"
            name="{{field.key}}"
            class="form-control"
            ng-model="field.value"
            ng-required="field.required"></textarea>
    </div>

    <div class="alert alert-danger"
         ng-if="field.required && form[field.key].$touched && form[field.key].$invalid">
        {{'required.field' | translate}}
    </div>
    <div class="alert alert-danger"
         ng-if="!field.required && form[field.key].$touched && form[field.key].$invalid">
        {{'invalid.field.value' | translate: {pattern: field.regex.toString()} }}
    </div>
</div>
