.onto-toastr-container {
  position: fixed;
  z-index: 9999999;
  pointer-events: auto;
  flex-direction: column;

  &.bottom-right {
    bottom: 12px;
    right: 12px;
  }

  &.bottom-left {
    bottom: 12px;
    left: 12px;
  }

  & .onto-toast {
    display: flex;
    align-items: center;
    border-radius: 0;
    box-shadow: 0 0 12px rgba(0,0,0,.3);
    position: relative;
    width: 450px;
    padding: 25px 0;
    color: white;
    margin-bottom: 5px;
    overflow-wrap: break-word;

    &:hover {
      box-shadow: 0 0 12px #000;
      opacity: 1;
      cursor: pointer;
    }

    &.warning {
      background-color: var(--color-warning-dark, #A92B0A);
    }

    &.success {
      background-color: var(--color-success-dark, #01544D);
    }

    &.error {
      background-color: var(--color-danger-dark, #B71C1C);
    }

    &.info {
      background-color: var(--color-info-dark, #004177);
    }

    & i {
      font-size: 1.5rem;
      padding: 0 20px;
    }

    & .toast-message {
      font-size: 1.2rem;
      opacity: 1;
      max-width: 370px;
    }
  }
}
