.onto-toastr-container {
  position: fixed;
  z-index: 9999999;
  pointer-events: auto;
  flex-direction: column;

  &.bottom-right {
    bottom: 12px;
    right: 12px;
  }

  &.bottom-left {
    bottom: 12px;
    left: 12px;
  }

  & .onto-toast {
    display: flex;
    align-items: center;
    border-radius: 0;
    box-shadow: 0 0 12px rgba(0,0,0,.3);
    position: relative;
    width: 450px;
    padding: 25px 0;
    color: white;
    margin-bottom: 5px;
    overflow-wrap: break-word;

    &:hover {
      box-shadow: 0 0 12px #000;
      opacity: 1;
      cursor: pointer;
    }

    &.warning {
      color: var(--gw-toast-warn-color);
      background-color: var(--gw-toast-warn-background);
      border-color: var(--gw-toast-warn-border-color);
    }

    &.success {
      background-color: var(--gw-toast-success-background);
      border-color: var(--gw-toast-success-border-color);
      color: var(--gw-toast-success-color);
    }

    &.error {
      background-color: var(--gw-toast-error-background);
      border-color: var(--gw-toast-error-border-color);
      color: var(--gw-toast-error-color);
    }

    &.info {
      background-color: var(--gw-toast-info-background);
      border-color: var(--gw-toast-info-border-color);
      color: var(--gw-toast-info-color);
    }

    & i {
      font-size: 1.8rem;
      padding: 0 20px;
      color: inherit;

      &:hover {
        transform: none;
      }
    }

    & .toast-message {
      font-size: 1.2rem;
      opacity: 1;
      max-width: 370px;
    }
  }
}
