<div id="fedx-content" class="pt-1">
    <div id="fedx-members">
        <form ng-show="5" class="form-repo-members mb-1 form-group3">
            <h4>Federation members</h4>
            <div class="alert alert-warning" ng-if="fedxMembers.length === 0"> No members - add at least one local or remote repository</div>
            <table id="fedx-members-table" class="table table-hover table-striped" aria-describedby="Repositories table">
                <tbody class="tbody-fedx">
                    <tr class="repository"
                        ng-repeat="member in fedxMembers | orderBy: ['type === \'system\'', 'id']">
                        <td>
                            <div id="{{member.repositoryName}}-member-repo" class="lead text-overflow">
                                <span class="multiline-text">
                                    <em ng-class="getMemberIcon(member)"></em>
                                    {{resolveName(member)}}
                                </span>
                            </div>
                        </td>
                        <td width="120">
                            <div class="text-nowrap repository-actions">
                                <button class="btn btn-link p-0 edit-repository-btn" type="button">
                                    <span id="{{member.repositoryName}}-icon-edit" class="icon-edit" ng-click="editFedXRepository(member)"></span>
                                </button>
                                <button class="btn btn-link p-0 secondary" type="button">
                                    <span id="{{member.repositoryName}}-icon-writable" class="icon-import"></span>
                                </button>
                                <button class="btn btn-link p-0 secondary" type="button">
                                    <span id="{{member.repositoryName}}-icon-close" ng-click="removeMember(member)"
                                          class="icon-close"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <h8> Local repositories </h8>
        <div class = "form-group2">
            <form class="form-local-repos pre-scrollable">
                <div ng-repeat="repository in localRepos | orderBy: ['type === \'system\'', 'id']" ng-if="repository.type !== 'fedx' && repository.type !== 'ontop'" style="display:block" id="{{repository.id}}-local-repo" class = "fedXMember">
                    <a ng-click="addMember(repository)" id="{{repository.id}}-a" >
                        <span class="multiline-text">
                            <em ng-class="'icon-repo-' + repository.type"></em>
                            {{repository.id}}
                        </span>
                    </a>
                </div>
            </form>
            <button id="addFedXRepository" ng-click="addRemoteMember()" class="btn btn-primary" style="margin-top:1%"> Add remote repository </button>
        </div>
    </div>
    <div id="fedx-options">
        <h4>FedX options</h4>
        <div class="boolOptions">
            <div ng-repeat="boolParam in optionsOfTypeBool" class="form-group3 checkbox">
                <label id="{{boolParam}}-label" for="{{boolParam}}" class="indented-div col-lg-6 col-form-label">
                    <input id="{{boolParam}}" type="checkbox" ng-true-value="'true'" ng-false-value="'false'"
                           ng-model="repositoryInfo.params[boolParam].value"/>
                    {{repositoryInfo.params[boolParam].label}} </label>
            </div>
        </div>
        <div class = "intOptions">
            <div ng-repeat="param in optionsOfTypeInt" class="form-group2 row indented-div">
                <label for="{{param}}" class="offset-xs-0 col-md-3 col-lg-5 col-form-label">
                    {{repositoryInfo.params[param].label}}</label>
                <div class="col-xs-10 col-md-30 col-lg-3">
                    <input class="form-control" id="{{param}}" type="number" step="1"
                           ng-model="repositoryInfo.params[param].value"/>
                </div>
            </div>
        </div>
    </div>
</div>
