<div id="fedx-content" class="pt-1">
    <div id="fedx-members">
        <form ng-show="5" class="form-repo-members mb-1 form-group3">
            <h4>Federation members</h4>
            <div class="alert alert-warning" ng-if="fedxMembers.length === 0"> No members - add at least one local or remote repository</div>
            <table id="fedx-members-table" class="table table-hover table-striped" aria-describedby="Repositories table">
                <tbody class="tbody-fedx">
                    <tr class="repository" style="display: flex"
                        ng-repeat="member in fedxMembers | orderBy: ['type === \'system\'', 'endpoint', 'repositoryServer', 'repositoryName'] : true ">
                        <td style="display: inline-block; flex: 1">
                            <span class="multiline-text multilined">
                                <em ng-class="getMemberIcon(member)" class="fedx-repo-member-icon"></em>
                                {{resolveName(member)}}
                            </span>
                            <span class="icon-warning" ng-if="!checkIfRepoExist(member)" uib-tooltip="{{repoTooltips.fedx.repositoryNotExistWarning}}"> </span>
                        </td>
                        <td style="display: inline-block">
                            <button class="btn btn-link p-0 edit-repository-btn" type="button">
                                <span id="{{member.repositoryName}}-icon-edit" class="icon-edit"
                                      ng-click="editFedXRepository(member)"
                                      ng-if="member.store !== 'NativeStore'"
                                      uib-tooltip="{{repoTooltips.fedx.editRepository}}"></span>
                            </button>
                            <button class="btn btn-link p-0 secondary" type="button">
                                <span id="{{member.repositoryName}}-icon-close" ng-click="removeMember(member)"
                                      class="icon-close"
                                      uib-tooltip="{{repoTooltips.fedx.removeMember}}"></span>
                            </button>
                            <button class="btn btn-link p-0 secondary">
                                <span id = "{{member.repositoryName}}-icon-writable"
                                      ng-click="setWritableRepo(member)"
                                      class="icon-import{{getActiveClass(member)}}"
                                      uib-tooltip="{{repoTooltips.fedx.setAsWritable}}"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <h8 class = "indented-div"> Local repositories </h8>
        <div class = "form-group2">
            <form class="form-local-repos pre-scrollable">
                <div ng-repeat="repository in localRepos | orderBy: ['type === \'system\'', 'id']" ng-if="repository.type !== 'fedx'" style="display:block" id="{{repository.id}}-local-repo" class = "fedXMember">
                    <a ng-click="addLocalMember(repository)" id="{{repository.id}}-a" uib-tooltip="{{repoTooltips.fedx.localReposInstructions}}">
                        <span class="multiline-text">
                            <em ng-class="'icon-repo-' + repository.type" class="fedx-repo-member-icon"></em>
                            {{repository.id}}
                        </span>
                    </a>
                </div>
            </form>
            <button id="addFedXRepository" ng-click="addRemoteMember()" class="btn btn-primary" style="margin-top:1%"> Add remote repository </button>
        </div>
    </div>
    <div id="fedx-options">
        <h4>FedX options</h4>
        <div class="pb-1">
            <div class="form-group row">
                <div class="checkbox offset-xs-1 offset-md-4 indented-div checkbox-param-include-inferred">
                    <label
                           uib-tooltip="{{repoTooltips.fedx.withIncludeInferredDefault}}">
                        <input id="includeInferredDefault" name="includeInferredDefault" type="checkbox"
                               ng-true-value="'true'" ng-false-value="'false'"
                               ng-model="repositoryInfo.params.includeInferredDefault.value"/>
                        {{repositoryInfo.params.includeInferredDefault.label}}
                    </label>
                </div>
                <div class="checkbox offset-xs-1 offset-md-4 offset-lg-2">
                    <label class="padding-label" uib-tooltip="{{repoTooltips.fedx.withEnableServiceAsBoundJoin}}">
                        <input id="enableServiceAsBoundJoin"
                               name="enableServiceAsBoundJoin" type="checkbox"
                               ng-true-value="'true'" ng-false-value="'false'"
                               ng-model="repositoryInfo.params.enableServiceAsBoundJoin.value"/>
                        {{repositoryInfo.params.enableServiceAsBoundJoin.label}}
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="checkbox offset-xs-1 offset-md-4 indented-div checkbox-param-padded">
                    <label
                           uib-tooltip="{{repoTooltips.fedx.withLogQueries}}">
                        <input id="isLogQueries" name="isLogQueries" type="checkbox"
                               ng-true-value="'true'" ng-false-value="'false'"
                               ng-model="repositoryInfo.params.isLogQueries.value"/>
                        {{repositoryInfo.params.isLogQueries.label}}
                    </label>
                </div>
                <div class="checkbox offset-xs-1 offset-md-4 offset-lg-2">
                    <label class="padding-label" uib-tooltip="{{repoTooltips.fedx.withDebugQueryPlan}}">
                        <input id="debugQueryPlan"
                               name="debugQueryPlan" type="checkbox"
                               ng-true-value="'true'" ng-false-value="'false'"
                               ng-model="repositoryInfo.params.debugQueryPlan.value"/>
                        {{repositoryInfo.params.debugQueryPlan.label}}
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="checkbox offset-xs-1 offset-md-4 indented-div">
                    <label class = "checkbox-param-padded"
                           uib-tooltip="{{repoTooltips.fedx.withLogQueryPlan}}">
                        <input id="isLogQueryPlan" name="isLogQueryPlan" type="checkbox"
                               ng-true-value="'true'" ng-false-value="'false'"
                               ng-model="repositoryInfo.params.isLogQueryPlan.value"/>
                        {{repositoryInfo.params.isLogQueryPlan.label}}
                    </label>
                </div>
            </div>
        </div>
        <div class="pb-1">
            <div class="form-group row">
                <div class="offset-xs-1 offset-md-4 indented-div">
                    <label class="col-lg-3">
                        {{repositoryInfo.params.queryTimeout.label}}
                    </label>
                    <div class="col-lg-2">
                        <input id="enforceMaxQueryTime"
                               name="enforceMaxQueryTime"
                               type="number" step="1"
                               ng-model="repositoryInfo.params.queryTimeout.value"
                               class="form-control"
                               required
                               uib-tooltip="{{repoTooltips.fedx.enforceMaxQueryTime}}"/>
                    </div>
                </div>
                <div class="offset-xs-1 offset-md-4 indented-div">
                    <label class="col-lg-3">
                        {{repositoryInfo.params.boundJoinBlockSize.label}}
                    </label>
                    <div class="col-lg-2">
                        <input id="boundJoinBlockSize"
                               name="boundJoinBlockSize"
                               type="number" step="1"
                               ng-model="repositoryInfo.params.boundJoinBlockSize.value"
                               class="form-control"
                               required
                               uib-tooltip="{{repoTooltips.fedx.withBoundJoinBlockSize}}"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-xs-1 offset-md-4 indented-div">
                    <label class="col-lg-3">
                        {{repositoryInfo.params.joinWorkerThreads.label}}
                    </label>
                    <div class="col-lg-2">
                        <input id="joinWorkerThreads"
                               name="joinWorkerThreads"
                               type="number" step="1"
                               ng-model="repositoryInfo.params.joinWorkerThreads.value"
                               class="form-control"
                               required
                               uib-tooltip="{{repoTooltips.fedx.withJoinWorkerThreads}}"/>
                    </div>
                </div>
                <div class="offset-xs-1 offset-md-4 indented-div">
                    <label class="col-lg-3">
                        {{repositoryInfo.params.leftJoinWorkerThreads.label}}
                    </label>
                    <div class="col-lg-2">
                        <input id="leftJoinWorkerThreads"
                               name="leftJoinWorkerThreads"
                               type="number" step="1"
                               ng-model="repositoryInfo.params.leftJoinWorkerThreads.value"
                               class="form-control"
                               required
                               uib-tooltip="{{repoTooltips.fedx.withLeftJoinWorkerThreads}}"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-xs-1 offset-md-4 indented-div">
                    <label class="col-lg-3">
                    </label>
                    <div class="col-lg-2">
                    </div>
                </div>
                <div class="offset-xs-1 offset-md-4 indented-div">
                    <label class="col-lg-3">
                        {{repositoryInfo.params.unionWorkerThreads.label}}
                    </label>
                    <div class="col-lg-2">
                        <input id="unionWorkerThreads"
                               name="unionWorkerThreads"
                               type="number" step="1"
                               ng-model="repositoryInfo.params.unionWorkerThreads.value"
                               class="form-control"
                               required
                               uib-tooltip="{{repoTooltips.fedx.unionWorkerThreads}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-1">
            <div class="form-group row">
                <div class = "indented-div">
                    <label for="cache-spec" class="col-md-3 col-lg-3 col-form-label"> Source selection cache spec</label>
                    <div class="col-lg-7 col-xl-7">
                        <input id="cache-spec" class="form-control"
                               ng-model="repositoryInfo.params['sourceCacheSpec'].value"
                               uib-tooltip="{{repoTooltips.fedx.withSourceSelectionCacheSpec}}"/>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
