<div class="modal-header">
    <h4 class="modal-title">{{'common.warning' | translate}}</h4>
</div>

<div class="modal-body" ng-bind-html="message"></div>

<div class="modal-footer">
    <button type="button" ng-click="removePrefix()" class="btn btn-secondary remove-prefix-btn">
        {{'acl_management.rulestable.prefix_dialog.strip_prefix' | translate}}
    </button>
    <button type="button" ng-click="keepPrefix()" class="btn btn-secondary keep-prefix-btn">
        {{'acl_management.rulestable.prefix_dialog.keep_prefix' | translate}}
    </button>
</div>
