.p-button.p-button-link {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: var(--link-decoration-thickness);
  text-underline-offset: var(--link-underline-offset);
}
