<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"></button>
    <h4 class="modal-title">{{'export.settings' | translate}}</h4>
</div>

<div class="modal-body">
    <form name="exportSettingsForm" class="export-settings-form">
        <div class="form-horizontal">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="wb-JSONLD-mode">
                    {{'jsonld.form' | translate}}
                    <span class="btn btn-link p-0"
                          uib-popover="{{'jsonld.form.info' | translate}}"
                          popover-trigger="mouseenter"
                          popover-placement="right"><em class="icon icon-info"></em></span>
                </label>
                <div class="col-lg-9">
                    <select class="form-control" id="wb-JSONLD-mode"
                            ng-model="currentMode"
                            ng-options="mode.link for mode in JSONLDModes track by mode.link"
                            ng-change="clearLinkInput()">
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-if="JSONLDFramedModes.indexOf(currentMode.name) > -1">
                <label class="col-lg-3 col-form-label" for="wb-JSONLD-frame">
                    {{'jsonld.frame.link' | translate}}
                    <span class="btn btn-link p-0"
                          uib-popover="{{'jsonld.frame.link.info' | translate}}"
                          popover-trigger="mouseenter"
                          popover-placement="right"><em class="icon icon-info"></em></span>
                </label>
                <div class="col-lg-9">
                    <input class="form-control" id="wb-JSONLD-frame" type="text"
                           ng-model="$parent.link" placeholder="{{'jsonld.frame.uri.placeholder' | translate}}" autofocus="autofocus" />
                </div>
            </div>

            <div class="form-group row"
                 ng-if="JSONLDContextModes.indexOf(currentMode.name) > -1">
                <label class="col-lg-3 col-form-label" for="wb-JSONLD-context">
                    {{'jsonld.context.link' | translate}}
                    <span class="btn btn-link p-0"
                          uib-popover="{{'jsonld.context.link.info' | translate}}"
                          popover-trigger="mouseenter"
                          popover-placement="right"><em class="icon icon-info"></em></span>
                </label>
                <div class="col-lg-9">
                    <input class="form-control" id="wb-JSONLD-context" type="text"
                           ng-model="$parent.link" placeholder="{{'jsonld.context.uri.placeholder' | translate}}"
                           autofocus="autofocus" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-link pull-left restore-defaults" ng-click="reset()">{{'import.restore.defaults.btn' | translate}}</button>
    <button type="button" ng-click="cancel()" class="btn btn-secondary">{{'common.cancel.btn' | translate}}</button>
    <button id="wb-export-JSONLD" class="btn btn-primary" type="button"
            ng-click="exportJsonLD()">
        {{'export' | translate}}
    </button>
</div>
