<link href="css/ttyg/agent-list.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="agent-list-component">
    <div ng-repeat="agent in agentList.agents" class="agent-item">
        <div class="agent-name">{{agent.name}}</div>
        <div class="btn-group">
            <button class="btn btn-link secondary btn-sm open-agent-actions-btn"
                    data-toggle="dropdown" aria-expanded="false"
                    ng-if="true"
                    ng-click="openAgentActionMenu()"
                    ng-disabled="false">
                <i class="fa-regular fa-ellipsis"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right agent-actions-menu">
                <button class="dropdown-item edit-agent-btn" type="button" ng-click="onEditAgent(agent)">
                    <i class="fa-regular fa-gear"></i>
                    <span>{{'ttyg.agent.btn.edit_agent.label' | translate}}</span>
                </button>
                <button class="dropdown-item clone-agent-btn" type="button" ng-click="onCloneAgent(agent)">
                    <i class="fa-regular fa-clone"></i>
                    <span>{{'ttyg.agent.btn.clone_agent.label' | translate}}</span>
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item delete-agent-btn" type="button" ng-click="onDeleteAgent(agent)">
                    <i class="fa-regular fa-trash-can"></i>
                    <span>{{'ttyg.agent.btn.delete_agent.label' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
