<link href="css/ttyg/agent-list.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="agent-list-component">
    <div class="agents-filter-dropdown btn-group" uib-dropdown>
        <button type="button" uib-dropdown-toggle class="btn btn-outline-primary dropdown-toggle">
            <i class="fa-kit fa-gdb-repo-graphdb mr-1"></i>
            <span class="selected-filter">{{selectedAgentsFilter.label}}</span>
            <i class="fa fa-filter" gdb-tooltip="{{'ttyg.agent.btn.filter.tooltip' | translate}}"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="filterModel in agentListFilterModel">
                <button type="button" class="dropdown-item" ng-click="onAgentsFilterChange(filterModel)"
                        data-value="{{filterModel.label}}">
                    {{filterModel.label}}
                </button>
            </li>
        </ul>
    </div>

    <div class="agent-list">
        <div ng-if="!agentList.agents.length" class="alert alert-warning">
            {{'ttyg.agent.messages.no_agents' | translate}}
        </div>

        <div ng-repeat="agent in agentList.filterableAgents">
            <div ng-if="!deletingAgent || deletingAgent.agentId !== agent.id" class="agent-item"
                 ng-class="{'selected': agent.id === selectedAgent.id}">
                <div class="agent-info">
                    <div class="agent-name">{{agent.name}}</div>
                    <div class="related-repository">
                        <i ng-if="!agent.isRepositoryDeleted" class="fa-kit fa-gdb-repo-graphdb"></i>
                        <i ng-if="agent.isRepositoryDeleted"
                           class="fa fa-triangle-exclamation text-warning agent-with-deleted-repository"
                           gdb-tooltip="{{'ttyg.agent.deleted_repository' | translate}}">
                        </i>
                        {{agent.repositoryId}}
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-link secondary btn-sm open-agent-actions-btn"
                            data-toggle="dropdown" aria-expanded="false"
                            ng-if="true"
                            ng-click="openAgentActionMenu()"
                            ng-disabled="false">
                        <i class="fa fa-ellipsis"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right agent-actions-menu">
                        <button class="dropdown-item edit-agent-btn" type="button" ng-click="onEditAgent(agent)">
                            <i class="fa fa-gear"></i>
                            <span>{{'ttyg.agent.btn.edit_agent.label' | translate}}</span>
                        </button>
                        <button class="dropdown-item clone-agent-btn" type="button" ng-click="onCloneAgent(agent)">
                            <i class="fa fa-clone"></i>
                            <span>{{'ttyg.agent.btn.clone_agent.label' | translate}}</span>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item delete-agent-btn" type="button" ng-click="onDeleteAgent(agent)">
                            <i class="fa fa-trash-can"></i>
                            <span>{{'ttyg.agent.btn.delete_agent.label' | translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="deleting-agent-loader" ng-if="deletingAgent.agentId === agent.id && deletingAgent.inProgress"
                 onto-loader-fancy message="{{'ttyg.agent.deleting_agent' | translate}}"
                 size="25"></div>
        </div>
    </div>
</div>
