<link href="css/ttyg/chat-panel.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="chat-panel h-100">

    <div class="messages-hint text-muted" ng-if="!loadingChat && chatHistory.isEmpty() && !askingChatItem">
        {{ 'ttyg.chat_panel.hint' | translate }}
    </div>

    <div class="chat-loading" ng-if="loadingChat" onto-loader-new size="40"></div>

    <div class="chat-details" ng-class="{'hidden': !chat}">
        <chat-item-detail
            ng-repeat="chatItemDetail in chatHistory.items"
            chat-item-detail="chatItemDetail"
            show-actions="!askingChatItem && $last"
            on-regenerate-question="regenerateQuestion(chatItem)"
            on-copy-answer-to-clipboard="copyAnswerToClipboard(chatItem)">
        </chat-item-detail>
        <chat-item-detail ng-if="askingChatItem" chat-item-detail="askingChatItem" asking="!!askingChatItem"></chat-item-detail>
    </div>
    <div class="new-question mb-3 mt-2 d-flex">
        <input class="form-control question-input" ng-model="chatItem.question.message" type="text" ng-disabled="askingChatItem || loadingChat">
        <button class="btn btn-primary ask-button" ng-disabled="!chatItem.question.message || !selectedAgent || selectedAgent.isDeleted || askingChatItem || loadingChat" ng-click="ask()">
            <i class="fa-regular fa-arrow-turn-left-up"></i>
            {{ 'ttyg.chat_panel.btn.ask.label ' | translate }}
        </button>
    </div>
</div>
