<link href="css/ttyg/chat-item-details.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="chat-detail">
    <div class="user-message" ng-if="chatItemDetail.question">
        <div class="question alert-help">
            {{ chatItemDetail.question.message }}
        </div>
    </div>
    <div class="answers" ng-repeat="answer in chatItemDetail.answers">
        <div class="assistant">
            <div class="assistant-icon alert-help"
                 gdb-tooltip="{{'ttyg.chat_panel.labels.agent_name' | translate : {agentName:  agentNameByIdMap[chatItemDetail.agentId]} }}">
                <i class="fa-regular fa-message-bot"></i>
            </div>
            <div class="assistant-message">
                <div class="answer" ng-bind-html="MarkdownService.renderMarkdown(answer.message)"></div>
                <div class="actions" ng-class="{'hidden-actions': !explainResponseModel[answer.id].expanded && (!showActions || !$last)}">
                    <button class="btn btn-link btn-sm regenerate-question-btn"
                            ng-click="regenerateQuestion()"
                            ng-disabled="disabled"
                            gdb-tooltip="{{'ttyg.chat_panel.btn.regenerate.tooltip' | translate}}">
                        <i class="fa-regular fa-arrows-rotate"></i>
                    </button>
                    <copy-to-clipboard tooltip-text="ttyg.chat_panel.btn.copy_answer.tooltip"
                                       text-to-copy="answer.message"></copy-to-clipboard>
                    <button class="btn btn-link btn-sm explain-response-btn"
                            ng-click="explainResponse(answer.id)"
                            ng-disabled="disabled && !explainResponseModel[answer.id]"
                            gdb-tooltip="{{'ttyg.chat_panel.btn.explain_response.tooltip' | translate}}">
                        <i class="fa-regular fa-wand-magic-sparkles"></i>
                        <i class="fa-regular fa-chevron-up toggle-explain-response-icon"
                           ng-class="{expanded: explainResponseModel[answer.id] && explainResponseModel[answer.id].expanded}"></i>
                    </button>
                </div>
                <div class="derived-answer-hint"
                     ng-if="showActions && $last && explainResponseModel[answer.id].expanded">
                    <div>{{ 'ttyg.chat_panel.btn.derive_answer.hint' | translate }}</div>
                    <button class="btn deliver-answer-btn" ng-click="onAskHowAnswerWasDerived()">
                        {{ 'ttyg.chat_panel.btn.derive_answer.label' | translate }}
                    </button>
                </div>
                <div ng-if="loadingExplainResponse[answer.id]" onto-loader-new size="40"></div>
                <div class="explain-responses">
                    <div ng-if="explainResponseModel[answer.id] && explainResponseModel[answer.id].expanded"
                         class="explain-response"
                         ng-repeat="queryMethod in explainResponseModel[answer.id].queryMethods.items">
                        <div class="explain-response-row">
                            <span class="label">{{'ttyg.chat_panel.labels.query_method' | translate}}:</span>
                            <span
                                class="content">{{('ttyg.chat_panel.query_name.' + queryMethod.name) | translate}}</span>
                        </div>
                        <div ng-if="showRawQuery(queryMethod)" class="explain-response-row">
                            <span class="label">{{'ttyg.chat_panel.labels.raw_query' | translate}}:</span>
                            <span class="content">{{queryMethod.rawQuery}}</span>
                            <copy-to-clipboard class="copy-to-clipboard-btn" tooltip-text="ttyg.chat_panel.btn.copy_raw_query.tooltip"
                                               text-to-copy="queryMethod.rawQuery"></copy-to-clipboard>
                        </div>
                        <!-- TODO: When the query method is "Retrieval connector" do not display the SPARQL option, and the open in SPARQL view button should be hidden. -->
                        <div ng-if="queryMethod.query" class="explain-query">
                            <div class="header">
                                <div class="label">{{'ttyg.chat_panel.labels.sparql_query' | translate}}</div>
                                <div class="actions">
                                    <copy-to-clipboard tooltip-text="ttyg.chat_panel.btn.copy_sparql.tooltip"
                                                       text-to-copy="queryMethod.query"></copy-to-clipboard>
                                    <button class="btn btn-link btn-sm"
                                            ng-click="onOpenInSparqlEditor(queryMethod.query)"
                                            gdb-tooltip="{{'ttyg.chat_panel.btn.open_in_sparql_editor.tooltip' | translate}}">
                                        <i class="icon-sparql"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="query">
                                <pre><code>{{queryMethod.query}}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="asking" onto-loader-new size="40"></div>
</div>

