<link href="css/ttyg/no-agents-view.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="no-agents-view-component">
    <div class="content">
        <div class="alert alert-help mb-3">{{ 'ttyg.agent.messages.help_1' | translate }}</div>
        <div class="alert alert-help mb-3">{{ 'ttyg.agent.messages.help_2' | translate }}</div>
        <div class="alert alert-warning mb-3">{{ 'ttyg.agent.messages.warn1' | translate }}</div>

        <div class="actions">
            <button class="btn btn-outline-primary btn-lg text-xs-left create-agent-btn" ng-click="onCreateAgent()">
                <i class="fa-regular fa-message-bot fa-xl"></i>
                <span class="text ml-1">{{'ttyg.agent.fat_btn.create_agent.label' | translate}}</span>
            </button>
        </div>
    </div>
</div>
