<link href="css/ttyg/no-agents-view.css?v=[AIV]{version}[/AIV]" rel="stylesheet"/>

<div class="no-agents-view-component">
    <div class="content">
        <div class="alert alert-help mb-3" ng-bind-html="'ttyg.agent.messages.help_1' | translate | trustAsHtml"></div>
        <div class="alert alert-help mb-3" ng-bind-html="'ttyg.agent.messages.help_2' | translate | trustAsHtml"></div>

        <div class="actions">
            <button class="btn btn-outline-primary btn-lg text-xs-left create-agent-btn"
                    gdb-tooltip="{{!canModifyAgent ? ('ttyg.agent.fat_btn.create_agent.tooltip_disabled' | translate) : ''}}"
                    ng-disabled="!canModifyAgent"
                    ng-click="onCreateAgent()">
                <i class="fa-regular fa-message-bot fa-xl"></i>
                <span class="text">{{'ttyg.agent.fat_btn.create_agent.label' | translate}}</span>
            </button>
        </div>

        <div class="alert alert-warning mt-3">
            <div ng-bind-html="'ttyg.agent.messages.help_config' | translate | trustAsHtml"></div>
        </div>
    </div>
</div>
